interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","https://api.stacspec.org/v1.0.0/item-search#sort","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/core"],"links":[{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"data","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://planetarycomputer.microsoft.com/api/stac/v1/conformance"},{"rel":"search","type":"applicat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/era5-pds/items/era5-pds-2020-12-an
  response:
    body:
      string: '{"id":"era5-pds-2020-12-an","bbox":[-180,-90,180,90],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/era5-pds"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/era5-pds"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/era5-pds/items/era5-pds-2020-12-an"}],"assets":{"surface_air_pressure":{"href":"abfs://era5/ERA5/2020/12/surface_air_pressure.zarr","type":"application/vnd+zarr","roles":["data"],"title":"Surface
        pressure","xarray:open_kwargs":{"chunks":{},"engine":"zarr","consolidated":true,"storage_options":{"account_name":"cpdataeuwest"}}},"sea_surface_temperature":{"href":"abfs://era5/ERA5/2020/12/sea_surface_temperature.zarr","type":"application/vnd+zarr","roles":["data"],"title":"Sea
        surface temperature","xarray:open_kwargs":{"chunks":{},"engine":"zarr","consolidated":true,"storage_options":{"account_name":"cpdataeuwest"}}},"eastward_wind_at_10_metres":{"href":"abfs://era5/ERA5/2020/12/eastward_wind_at_10_metres.zarr","type":"application/vnd+zarr","roles":["data"],"title":"10
        metre U wind component","xarray:open_kwargs":{"chunks":{},"engine":"zarr","consolidated":true,"storage_options":{"account_name":"cpdataeuwest"}}},"air_temperature_at_2_metres":{"href":"abfs://era5/ERA5/2020/12/air_temperature_at_2_metres.zarr","type":"application/vnd+zarr","roles":["data"],"title":"2
        metre temperature","xarray:open_kwargs":{"chunks":{},"engine":"zarr","consolidated":true,"storage_options":{"account_name":"cpdataeuwest"}}},"eastward_wind_at_100_metres":{"href":"abfs://era5/ERA5/2020/12/eastward_wind_at_100_metres.zarr","type":"application/vnd+zarr","roles":["data"],"title":"100
        metre U wind component","xarray:open_kwargs":{"chunks":{},"engine":"zarr","consolidated":true,"storage_options":{"account_name":"cpdataeuwest"}}},"northward_wind_at_10_metres":{"href":"abfs://era5/ERA5/2020/12/northward_wind_at_10_metres.zarr","type":"application/vnd+zarr","roles":["data"],"title":"10
        metre V wind component","xarray:open_kwargs":{"chunks":{},"engine":"zarr","consolidated":true,"storage_options":{"account_name":"cpdataeuwest"}}},"northward_wind_at_100_metres":{"href":"abfs://era5/ERA5/2020/12/northward_wind_at_100_metres.zarr","type":"application/vnd+zarr","roles":["data"],"title":"100
        metre V wind component","xarray:open_kwargs":{"chunks":{},"engine":"zarr","consolidated":true,"storage_options":{"account_name":"cpdataeuwest"}}},"air_pressure_at_mean_sea_level":{"href":"abfs://era5/ERA5/2020/12/air_pressure_at_mean_sea_level.zarr","type":"application/vnd+zarr","roles":["data"],"title":"Mean
        sea level pressure","xarray:open_kwargs":{"chunks":{},"engine":"zarr","consolidated":true,"storage_options":{"account_name":"cpdataeuwest"}}},"dew_point_temperature_at_2_metres":{"href":"abfs://era5/ERA5/2020/12/dew_point_temperature_at_2_metres.zarr","type":"application/vnd+zarr","roles":["data"],"title":"2
        metre dewpoint temperature","xarray:open_kwargs":{"chunks":{},"engine":"zarr","consolidated":true,"storage_options":{"account_name":"cpdataeuwest"}}}},"geometry":{"type":"Polygon","coordinates":[[[180,-90],[180,90],[-180,90],[-180,-90],[180,-90]]]},"collection":"era5-pds","properties":{"datetime":null,"era5:kind":"an","end_datetime":"2020-12-31T23:00:00Z","cube:variables":{"surface_air_pressure":{"type":"data","unit":"Pa","attrs":{"units":"Pa","nameCDM":"Surface_pressure_surface","long_name":"Surface
        pressure","nameECMWF":"Surface pressure","product_type":"analysis","standard_name":"surface_air_pressure","shortNameECMWF":"sp"},"shape":[744,721,1440],"dimensions":["time","lat","lon"],"description":"Surface
        pressure"},"sea_surface_temperature":{"type":"data","unit":"K","attrs":{"units":"K","nameCDM":"Sea_surface_temperature_surface","long_name":"Sea
        surface temperature","nameECMWF":"Sea surface temperature","product_type":"analysis","standard_name":"sea_surface_temperature","shortNameECMWF":"sst"},"shape":[744,721,1440],"dimensions":["time","lat","lon"],"description":"Sea
        surface temperature"},"eastward_wind_at_10_metres":{"type":"[...]
[...]
