interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1
  response:
    body:
      string: '{"type":"Catalog","id":"Copernicus Data Space Ecosystem (CDSE) asset-level
        STAC catalogue","title":"cdse-stac","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        Asset Catalog) API, which follows the open STAC specification, enables users
        to access detailed asset-level metadata, including spatial information, temporal
        coverage, and data specifications. This standardized interface facilitates
        efficient data discovery and retrieval across the extensive collection of
        environmental and scientific resources. More information: https://documentation.dataspace.copernicus.eu/","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-common-2/1.0/conf/simple-query","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416
  response:
    body:
      string: "{\"id\":\"S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416\",\"bbox\":[28.46498,52.222566,30.14177,53.240208],\"type\":\"Feature\",\"links\":[{\"rel\":\"collection\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/\"},{\"rel\":\"self\",\"type\":\"application/geo+json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416\"},{\"rel\":\"version-history\",\"href\":\"https://trace.dataspace.copernicus.eu/api/v1/traces/name/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE.zip\",\"type\":\"application/json\",\"title\":\"Product
        history record from the CDSE traceability service\"}],\"assets\":{\"AOT_10m\":{\"href\":\"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/03/01/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R10m/T35UPU_20200301T090901_AOT_10m.jp2\",\"alternate\":{\"https\":{\"href\":\"https://zipper.dataspace.copernicus.eu/odata/v1/Products(77d2f450-139a-4f5b-afca-5529bf714600)/Nodes(S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE)/Nodes(GRANULE)/Nodes(L2A_T35UPU_A024500_20200301T090936)/Nodes(IMG_DATA)/Nodes(R10m)/Nodes(T35UPU_20200301T090901_AOT_10m.jp2)/$value\",\"auth:refs\":[\"oidc\"],\"storage:refs\":[],\"alternate:name\":\"HTTPS\"}},\"file:size\":958917,\"proj:bbox\":[600000.0,5790240,709800,5900040.0],\"proj:code\":\"EPSG:32635\",\"file:checksum\":\"1620ec54f3e2c505ffb117a27c456f5bfbdeae4b00947905bd5f9e0e5215464e079d\",\"proj:transform\":[10.0,0.0,600000.0,0.0,-10.0,5900040.0],\"file:local_path\":\"S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R10m/T35UPU_20200301T090901_AOT_10m.jp2\",\"gsd\":10,\"type\":\"image/jp2\",\"roles\":[\"data\",\"gsd:10m\"],\"title\":\"Aerosol
        optical thickness (AOT) - 10m\",\"nodata\":0,\"auth:refs\":[\"s3\"],\"data_type\":\"uint16\",\"proj:shape\":[10980,10980],\"raster:scale\":0.0001,\"storage:refs\":[\"cdse-s3\",\"creodias-s3\"],\"raster:offset\":-0.1,\"alternate:name\":\"S3\"},\"AOT_20m\":{\"href\":\"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/03/01/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R20m/T35UPU_20200301T090901_AOT_20m.jp2\",\"alternate\":{\"https\":{\"href\":\"https://zipper.dataspace.copernicus.eu/odata/v1/Products(77d2f450-139a-4f5b-afca-5529bf714600)/Nodes(S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE)/Nodes(GRANULE)/Nodes(L2A_T35UPU_A024500_20200301T090936)/Nodes(IMG_DATA)/Nodes(R20m)/Nodes(T35UPU_20200301T090901_AOT_20m.jp2)/$value\",\"auth:refs\":[\"oidc\"],\"storage:refs\":[],\"alternate:name\":\"HTTPS\"}},\"file:size\":871745,\"proj:bbox\":[600000.0,5790240,709800,5900040.0],\"proj:code\":\"EPSG:32635\",\"file:checksum\":\"16200313f35591f0a781e31b3206d06a286959ecc3a63160dc2f54315f126cb4dbab\",\"proj:transform\":[20.0,0.0,600000.0,0.0,-20.0,5900040.0],\"file:local_path\":\"S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R20m/T35UPU_20200301T090901_AOT_20m.jp2\",\"gsd\":20,\"type\":\"image/jp2\",\"roles\":[\"data\",\"gsd:20m\"],\"title\":\"Aerosol
        optical thickness (AOT) - 20m\",\"nodata\":0,\"auth:refs\":[\"s3\"],\"data_type\":\"uint16\",\"proj:shape\":[5490,5490],\"raster:scale\":0.0001,\"storage:refs\":[\"cdse-s3\",\"creodias-s3\"],\"raster:offset\":-0.1,\"alternate:name\":\"S3\"},\"AOT_60m\":{\"href\":\"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/03/01/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R60m/T35UPU_20200301T090901_AOT_60m.jp2\",\"alternate\":{\"https\":{\"href\":\"https://zipper.dataspace.copernicus.eu/odata/v1/Products(77d2f450-139a-4f5b-afca-5529bf714600)/Nodes(S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE)/Nodes(GRANULE)/Nodes(L2A_T35UPU_A024500_20200301T090936)/Nodes(IMG_DATA)/Nodes(R60m)/Nodes(T35UPU_20200301T090901_AOT_60m.jp2)/$value\",\"auth:refs\":[\"oidc\"],\"storage:refs\":[],\"alternate:name\":\"HTTPS\"}},\"file:size\":315446,\"proj:bbox\":[600000.0,5790240,709800,5900040.0],\"proj:code\":\"EPSG:32635\",\"file:checksum\":\"162008abdc06a1864320d1a816896904da0c3f57c02a8b7f4a0e3f45e87a62292be9\",\"proj:transform\":[60.0,0.0,600000.0,0.0,-60.0,5900040.0],\"file:local_path\":\"S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R60m/T35UPU_20200301T090901_AOT_60m.jp2\",\"gsd\":60,\"type\":\"image/jp2\",\"roles\":[\"data\",\"gsd:60m\"],\"title\":\"Aerosol
        optical thickness (AOT) - 60m\",\"nodata\":0,\"auth:refs\":[\"s3\"],\"data_type\":\"uint16\",\"proj:shape\":[1830,1830],\"raster:scale\":0.0001,\"storage:refs\":[\"cdse-s3\",\"creodias-s3\"],\"raster:offset\":-0.1,\"alternate:name\":\"S3\"},\"B01_20m\":{\"href\":\"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/03/01/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R20m/T35UPU_20200301T090901_B01_20m.jp2\",\"bands\":[{\"eo:center_wavelength\":0.443,\"eo:full_width_half_max\":0.228,\"name\":\"B01\",\"eo:common_name\":\"coastal\"}],\"alternate\":{\"https\":{\"href\":\"https://zipper.dataspace.copernicus.eu/odata/v1/Products(77d2f450-139a-4f5b-afca-5529bf714600)/Nodes(S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE)/Nodes(GRANULE)/Nodes(L2A_T35UPU_A024500_20200301T090936)/Nodes(IMG_DATA)/Nodes(R20m)/Nodes(T35UPU_20200301T090901_B01_20m.jp2)/$value\",\"auth:refs\":[\"oidc\"],\"storage:refs\":[],\"alternate:name\":\"HTTPS\"}},\"file:size\":19100667,\"proj:bbox\":[600000.0,5790240,709800,5900040.0],\"proj:code\":\"EPSG:32635\",\"view:azimuth\":111.33231956903,\"file:checksum\":\"1620f74fc4297701832cb0a507febf016077cf63577c718b8b7e56d8d119d94870ea\",\"proj:transform\":[20.0,0.0,600000.0,0.0,-20.0,5900040.0],\"file:local_path\":\"S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R20m/T35UPU_20200301T090901_B01_20m.jp2\",\"view:incidence_angle\":4.26998770618187,\"gsd\":20,\"type\":\"image/jp2\",\"roles\":[\"data\",\"reflectance\",\"sampling:upsampled\",\"gsd:20m\"],\"title\":\"Coastal
        aerosol (band 1) - 20m\",\"nodata\":0,\"auth:refs\":[\"s3\"],\"data_type\":\"uint16\",\"proj:shape\":[5490,5490],\"raster:scale\":0.0001,\"storage:refs\":[\"cdse-s3\",\"creodias-s3\"],\"raster:offset\":-0.1,\"alternate:name\":\"S3\"},\"B01_60m\":{\"href\":\"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/03/01/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R60m/T35UPU_20200301T090901_B01_60m.jp2\",\"bands\":[{\"eo:center_wavelength\":0.443,\"eo:full_width_half_max\":0.228,\"name\":\"B01\",\"eo:common_name\":\"coastal\"}],\"alternate\":{\"https\":{\"href\":\"https://zipper.dataspace.copernicus.eu/odata/v1/Products(77d2f450-139a-4f5b-afca-5529bf714600)/Nodes(S2A_MSIL2A_20200[...]
[...]
