interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":99180731,"returned":10},"numberMatched":99180731,"numberReturned":10,"features":[{"type":"Feature","stac_version":"1.0.0","id":"S1A_IW_GRDH_1SDV_20240903T064655_20240903T064720_055497_06C567","properties":{"sar:frequency_band":"C","sar:center_frequency":5.405,"sar:observation_direction":"right","sar:instrument_mode":"IW","sar:polarizations":["VV","VH"],"sar:product_type":"GRD","sar:resolution_range":20,"sar:resolution_azimuth":22,"sar:pixel_spacing_range":10,"sar:pixel_spacing_azimuth":10,"sar:looks_range":5,"sar:looks_azimuth":1,"sar:looks_equivalent_number":4.4,"sat:platform_international_designator":"2014-016A","sat:orbit_state":"descending","sat:absolute_orbit":55497,"sat:relative_orbit":125,"proj:epsg":4326,"proj:bbox":[-13.830059,25.729952,-10.930768,27.612743],"proj:shape":[26257,16134],"proj:transform":[0.00017970069418619063,0,-13.830059,0,-0.00007170624976196814,27.612743],"proj:centroid":{"lat":26.67335,"lon":-12.38731},"platform":"sentinel-1a","constellation":"sentinel-1","start_datetime":"2024-09-03T06:46:55.842425Z","end_datetime":"2024-09-03T06:47:20.012256Z","s1:instrument_configuration_ID":"7","s1:datatake_id":"443751","s1:product_timeliness":"NRT-3h","s1:processing_level":"1","s1:resolution":"high","s1:orbit_source":"PREORB","s1:slice_number":"26","s1:total_slices":"26","s1:shape":[26257,16134],"s1:product_identifier":"S1A_IW_GRDH_1SDV_20240903T064655_20240903T064720_055497_06C567_11A1","s1:processing_datetime":"2024-09-03T08:01:47.000000Z","storage:platform":"AWS","storage:region":"eu-central-1","storage:requester_pays":true,"datetime":"2024-09-03T06:47:07.927341Z","processing:software":{"sentinel1-to-stac":"2023.05.17"},"created":"2024-09-03T08:41:22.998Z","updated":"2024-09-03T08:41:22.998Z"},"geometry":{"type":"Polygon","coordinates":[[[-13.4293609,27.5956523],[-13.712525,26.1423424],[-12.9324279,26.0171121],[-12.9164749,26.0809237],[-12.0578097,25.9377464],[-12.0410592,25.9955757],[-11.2250679,25.8547913],[-10.9311356,27.186859],[-13.4293609,27.5956523]]]},"links":[{"rel":"self","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-1-grd/items/S1A_IW_GRDH_1SDV_20240903T064655_20240903T064720_055497_06C567"},{"rel":"canonical","href":"s3://earthsearch-data/sentinel-1-grd/2024/9/3/IW/S1A_IW_GRDH_1SDV_20240903T064655_20240903T064720_055497_06C567/S1A_IW_GRDH_1SDV_20240903T064655_20240903T064720_055497_06C567.json","type":"application/json"},{"rel":"parent","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-1-grd"},{"rel":"collection","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-1-grd"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"thumbnail","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-1-grd/items/S1A_IW_GRDH_1SDV_20240903T064655_20240903T064720_055497_06C567/thumbnail"}],"assets":{"safe-manifest":{"href":"s3://sentinel-s1-l1c/GRD/2024/9/3/IW/DV/S1A_IW_GRDH_1SDV_20240903T064655_20240903T064720_055497_06C567_11A1/manifest.safe","type":"application/xml","title":"Manifest
        File","description":"General product metadata in XML format. Contains a high-level
        textual description of the product and references to all of product''s components,
        the product metadata, including the product identification and the resource
        references, and references to the physical location of each component file
        contained in the product.","roles":["metadata"]},"schema-product-vh":{"href":"s3://sentinel-s1-l1c/GRD/2024/9/3/IW/DV/S1A_IW_GRDH_1SDV_20240903T064655_20240903T064720_055497_06C567_11A1/annotation/rfi/rfi-iw-vh.xml","type":"application/xml","title":"VH
        Product Schema","description":"Describes the main characteristics corresponding
        to the band: state of the platform during acquisition, image properties, Doppler
        information, geographic location, etc.","roles":["metadata"]},"schema-product-vv":{"href":"s3://sentinel-s1-l1c/GRD/2024/9/3/IW/DV/S1A_IW_GRDH_1SDV_20240903T064655_20240903T064720_055497_06C567_11A1/annotation/rfi/rfi-iw-vv.xml","type":"application/xml","title":"VV
        Product Schema","description":"Describes the main characteristics corresponding
        to the band: state of the platform during acquisition, image properties, Doppler
        information, geographic location, etc.","roles":["metadata"]},"schema-calibration-vh":{"href":"s3://sentinel-s1-l1c/GRD/2024/9/3/IW/DV/S1A_IW_GRDH_1SDV_20240903T064655_20240903T064720_055497_06C567_11A1/annotation/calibration/calibration-iw-vh.xml","type":"application/xml","title":"VH
        Calibration Schema","description":"Calibration metadata including calibration
        information and the beta nought, sigma nought, gamma and digital number look-up
        tables that can be used for absolute product calibration.","roles":["metadata"]},"schema-calibration-vv":{"href":"s3://sentinel-s1-l1c/GRD/2024/9/3/IW/DV/S1A_IW_GRDH_1SDV_20240903T064655_20240903T064720_055497_06C567_11A1/annotation/calibration/calibration-iw-vv.xml","type":"application/xml","title":"VV
        Calibration Schema","description":"Calibration metadata including calibration
        information and the beta nought, sigma nought, gamma and digital number look-up
        tables that can be used for absolute product calibration.","roles":["metadata"]},"schema-noise-vh":{"href":"s3://sentinel-s1-l1c/GRD/2024/9/3/IW/DV/S1A_IW_GRDH_1SDV_20240903T064655_20240903T064720_055497_06C567_11A1/annotation/calibration/noise-iw-vh.xml","type":"application/xml","title":"VH
        Noise Schema","description":"Estimated thermal noise look-up tables","roles":["metadata"]},"schema-noise-vv":{"href":"s3://sentinel-s1-l1c/GRD/2024/9/3/IW/DV/S1A_IW_GRDH_1SDV_20240903T064655_20240903T064720_055497_06C567_11A1/annotation/calibration/noise-iw-vv.xml","type":"application/xml","title":"VV
        Noise Schema","description":"Estimated thermal noise look-up tables","roles":["metadata"]},"thumbnail":{"href":"s3://sentinel-s1-l1c/GRD/2024/9/3/IW/DV/S1A_IW_GRDH_1SDV_20240903T064655_20240903T064720_055497_06C567_11A1/preview/quick-look.png","type":"image/png","title":"Preview
        Image","description":"An averaged, decimated preview image in PNG format.
        Single polarization products are represented with a grey scale image. Dual
        polarization products are represented by a single composite colour image in
        RGB with the red channel (R) representing the  co-polarization VV or HH),
        the green channel (G) represents the cross-polarization (VH or HV) and the
        blue channel (B) represents the ratio of the cross an co-polarizations.","roles":["thumbnail"]},"vh":{"href":"s3://sentinel-s1-l1c/GRD/2024/9/3/IW/DV/S1A_IW_GRDH_1SDV_20240903T064655_20240903T064720_055497_06C567_11A1/measurement/iw-vh.tiff","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"VH Data","description":"Actual
        SAR data that have been processed into an image","raster:bands":[{"nodata":0,"data_type":"uint16"}],"roles":["data"]},"vv":{"href":"s3://sentinel-s1-l1c/GRD/2024/9/3/IW/DV/S1A_IW_GRDH_1SDV_20240903T064655_20240903T064720_055497_06C567_11A1/measurement/iw-vv.tiff","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"VV Data","description":"Actual
        SAR data that have been processed into an image","raster:bands":[{"nodata":0,"data_type":"uint16"}],"roles":["data"]}},"bbox":[-13.712525,25.8547913,-10.9311356,27.5956523],"stac_extensions":["https://stac-extensions.github.io/storage/v1.0.0/schema.json","https://stac-extensions.github.io/raster/v1.1.0/schema.json","https://stac-extensions.github.io/processing/v1.1.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json","https://stac-extensions.github.io/sar/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.1.0/schema.json"],"collection":"sentinel-1-grd"},{"type":"Feature","stac_version":"1.0.0","id":"S1A_IW_GRDH_1SDV_20240903T064630_20240903T064655_055497_06C567","properties":{"sar:frequency_band":"C","sar:center_frequency":5.405,"sar:observation_direction":"right","sar:instrument_mode":"IW","sar:polarizations":["VV","VH"],"sar:product_type":"GRD","sar:resolution_range":20,"sar:resolution_azimuth":22,"sar:pixel_spacing_range":10,"sar:pixel_spacing_azimuth":10,"sar:looks_range":5,"sar:looks_azimuth":1,"sar:looks_equivalent_numbe[...]
