interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: '{"bbox": [9.0, 47.0, 10.0, 48.0], "datetime": "2020-03-01T00:00:00Z/2020-03-05T23:59:59Z",
      "collections": ["sentinel-2-l2a"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":16,"returned":10},"numberMatched":16,"numberReturned":10,"features":[{"type":"Feature","stac_version":"1.0.0","id":"S2A_32TMT_20200305_1_L2A","properties":{"created":"2024-06-29T14:41:57.577Z","platform":"sentinel-2a","constellation":"sentinel-2","instruments":["msi"],"eo:cloud_cover":99.9852,"proj:epsg":32632,"mgrs:utm_zone":32,"mgrs:latitude_band":"T","mgrs:grid_square":"MT","grid:code":"MGRS-32TMT","view:sun_azimuth":161.603259322557,"view:sun_elevation":35.2267077658347,"s2:degraded_msi_data_percentage":0.022,"s2:nodata_pixel_percentage":0,"s2:saturated_defective_pixel_percentage":0,"s2:dark_features_percentage":0.00716,"s2:cloud_shadow_percentage":0.00506,"s2:vegetation_percentage":0,"s2:not_vegetated_percentage":0,"s2:water_percentage":0,"s2:unc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a/items/S2A_32TMT_20200305_1_L2A
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","id":"S2A_32TMT_20200305_1_L2A","properties":{"created":"2024-06-29T14:41:57.577Z","platform":"sentinel-2a","constellation":"sentinel-2","instruments":["msi"],"eo:cloud_cover":99.9852,"proj:epsg":32632,"mgrs:utm_zone":32,"mgrs:latitude_band":"T","mgrs:grid_s[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a/items/S2A_32TNT_20200305_1_L2A
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","id":"S2A_32TNT_20200305_1_L2A","properties":{"created":"2024-06-29T14:02:27.674Z","platform":"sentinel-2a","constellation":"sentinel-2","instruments":["msi"],"eo:cloud_cover":99.975044,"proj:epsg":32632,"mgrs:utm_zone":32,"mgrs:latitude_band":"T","mgrs:grid[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a/items/S2A_32UMU_20200305_1_L2A
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","id":"S2A_32UMU_20200305_1_L2A","properties":{"created":"2024-06-29T14:33:18.427Z","platform":"sentinel-2a","constellation":"sentinel-2","instruments":["msi"],"eo:cloud_cover":99.999839,"proj:epsg":32632,"mgrs:utm_zone":32,"mgrs:latitude_band":"U","mgrs:grid[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a/items/S2A_32UNU_20200305_1_L2A
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","id":"S2A_32UNU_20200305_1_L2A","properties":{"created":"2024-06-29T14:58:36.672Z","platform":"sentinel-2a","constellation":"sentinel-2","instruments":["msi"],"eo:cloud_cover":99.999988,"proj:epsg":32632,"mgrs:utm_zone":32,"mgrs:latitude_band":"U","mgrs:grid[...]
[...]
- request:
    body: '{"datetime": "2020-03-01T00:00:00Z/2020-03-05T23:59:59Z", "collections":
      ["sentinel-2-l2a"], "bbox": [9, 47, 10, 48], "next": "2020-03-02T10:27:44.563000Z,S2A_32TMT_20200302_0_L2A,sentinel-2-l2a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":16,"returned":6},"numberMatched":16,"numberReturned":6,"features":[{"type":"Feature","stac_version":"1.0.0","id":"S2A_32TNT_20200302_1_L2A","properties":[...]
