interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"*BETA* Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC). *BETA*","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fx-yaml","rel":"alternate","type":"application/x-yaml","title":"This
        document as application/x-yaml"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=text%2Fhtml","rel":"alternate","type":"text/html","title":"This
        document as text/html"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/openapi?f=application%2Fvnd.oai.openapi%2Bjson%3Bversion%3D3.0","rel":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/collections/ENMAP_HSI_L2A/items?f=application/geo%2Bjson
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.0.0/schema.json","https://stac-extensions.github.io/scientific/v1.0.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json"],"id":"ENMAP01-____L2A-DT0000080454_20240630T082045Z_001_V010402_20240701T122237Z","collection":"ENMAP_HSI_L2A","geometry":{"type":"Polygon","coordinates":[[[32.61899,-24.899014],[32.546219,-25.1683],[32.92565,-25.230238],[32.997667,-24.960736],[32.61899,-24.899014]]]},"bbox":[32.5462187,-25.2302375,32.9976668,-24.899014],"properties":{"version":"01.04.02","created":"2024-07-01T17:10:34.815+00:00","updated":"2024-07-01T17:10:34.815+00:00","datetime":"2024-06-30T08:20:45Z","start_datetime":"2024-06-30T08:20:45.211167Z","end_datetime":"2024-06-30T08:20:49.658941Z","platform":"enmap","proj:epsg":null,"sat:relative_orbit":"12097","sat:orbit_state":"DESCENDING","eo:cloud_cover":"0","eo:snow_cover":"0","view:sun_azimuth":206.673897,"view:sun_elevation":36.90644,"processing:facility":"NZ","processing:level":"L2A","eop:sensorType":"OPTICAL","card4l:eastern_geometric_accuracy":2.0,"card4l:geometric_accuracy_radial_rmse":3.0,"card4l:northern_geometric_accuracy":2.0,"card4l:specification":"SR","card4l:specification_version":"5.0","enmap:SWIRAorSWIRBSelected":"SWIRA","enmap:a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/collections/ENMAP_HSI_L2A/items/ENMAP01-____L2A-DT0000080454_20240630T082045Z_001_V010402_20240701T122237Z?f=application%2Fgeo%2Bjson
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection[...]
[...]
