interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1
  response:
    body:
      string: '{"type":"Catalog","id":"cdse-stac","title":"Copernicus Data Space Ecosystem
        (CDSE) asset-level STAC catalogue","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        Asset Catalog) API, which follows the open STAC specification, enables users
        to access detailed asset-level metadata, including spatial information, temporal
        coverage, and data specifications. This standardized interface facilitates
        efficient data discovery and retrieval across the extensive collection of
        environmental and scientific resources. More information: https://documentation.dataspace.copernicus.eu/","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/collections/extensions/transaction","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/ogcapi-features#fields","https://api.stacspec.org/v1.0.0/ogcapi-features#query","https://api.stacspec.org/v1.0.0/ogcapi-features#sort","https://api.stacspec.org/v1.0.0/ogcapi-features/extensions/transaction"],"links":[{"rel":"self","type":"application/json","title":"This
        document","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"root","type":"application/json","title":"Root","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"data","type":"application/json","title":"Collections
        available for this Catalog","href":"https://stac.dataspace.copernicus.eu/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://stac.dataspace.copernicus.eu/v1/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search [GET]","href":"https://stac.dataspace.copernicus.eu/v1/search","method":"GET"},{"rel":"search","type":"application/geo+json","title":"STAC
        search [POST]","href":"https://stac.dataspace.copernicus.eu/v1/search","method":"POST"},{"rel":"http://www.opengis.net/def/rel/ogc/1.0/queryables","type":"application/schema+json","title":"Queryables
        available for this Catalog","href":"https://stac.dataspace.copernicus.eu/v1/queryables","method":"GET"},{"rel":"service-desc","type":"application/vnd.oai.openapi+json;version=3.0","title":"OpenAPI
        service description","href":"https://stac.dataspace.copernicus.eu/v1/api"},{"rel":"service-doc","type":"text/html","title":"OpenAPI
        service documentation","href":"https://stac.dataspace.copernicus.eu/v1/api.html"}],"stac_extensions":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"cdse-stac","title":"Copernicus Data Space Ecosystem
        (CDSE) asset-level STAC catalogue","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        [...]
- request:
    body: '{"bbox": [9.0, 47.0, 9.1, 47.1], "datetime": "2020-07-01T00:00:00Z/2020-07-05T23:59:59Z",
      "collections": ["sentinel-2-l2a"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://stac.dataspace.copernicus.eu/v1/search
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"links\":[{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/\"},{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/search\"}],\"features\":[{\"id\":\"S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912\",\"bbox\":[8.999733,46.85664,10.467277,47.853702],\"type\":\"Feature\",\"links\":[{\"rel\":\"collection\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/\"},{\"rel\":\"self\",\"type\":\"application/geo+json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912\"},{\"rel\":\"version-history\",\"href\":\"https://trace.dataspace.copernicus.eu/api/v1/traces/name/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE.zip\",\"type\":\"application/json\",\"title\":\"Product
        history record from the CDSE traceability service\"}],\"assets\":{\"AOT_10m\":{\"href\":\"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/07/05/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R10m/T32TNT_20200705T101559_AOT_10m.jp2\",\"alternate\":{\"https\":{\"href\":\"https://zipper.dataspace.copernicus.eu/odata/v1/Products(8e7057cf-af5f-46de-868e-fe5a8faa2d9c)/Nodes(S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE)/Nodes(GRANULE)/Nodes(L2A_T32TNT_A017394_20200705T101917)/Nodes(IMG_DATA)/Nodes(R10m)/Nodes(T32TNT_20200705T101559_AOT_10m.jp2)/$value\",\"auth:refs\":[\"oidc\"],\"storage:refs\":[],\"alternate:name\":\"HTTPS\"}},\"file:size\":2379238,\"proj:bbox\":[499980.0,5190240,609780,5300040.0],\"proj:code\":\"EPSG:32632\",\"file:checksum\":\"1620938d5f6bd235961c23d0a9656f98fd2b98332ca541095c3c1f0a8cb751409a84\",\"proj:transform\":[10.0,0.0,499980.0,0.0,-10.0,5300040.0],\"file:local_path\":\"S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R10m/T32TNT_20200705T101559_AOT_10m.jp2\",\"gsd\":10,\"type\":\"image/jp2\",\"roles\":[\"data\",\"gsd:10m\"],\"title\":\"Aerosol
        optical thickness (AOT) - 10m\",\"nodata\":0,\"auth:refs\":[\"s3\"],\"data_type\":\"uint16\",\"proj:shape\":[10980,10980],\"raster:scale\":0.0001,\"storage:refs\":[\"cdse-s3\",\"creodias-s3\"],\"raster:offset\":-0.1,\"alternate:name\":\"S3\"},\"AOT_20m\":{\"href\":\"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/07/05/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R20m/T32TNT_20200705T101559_AOT_20m.jp2\",\"alternate\":{\"https\":{\"href\":\"https://zipper.dataspace.copernicus.eu/odata/v1/Products(8e7057cf-af5f-46de-868e-fe5a8faa2d9c)/Nodes(S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE)/Nodes(GRANULE)/Nodes(L2A_T32TNT_A017394_20200705T101917)/Nodes(IMG_DATA)/Nodes(R20m)/Nodes(T32TNT_20200705T101559_AOT_20m.jp2)/$value\",\"auth:refs\":[\"oidc\"],\"storage:refs\":[],\"alternate:name\":\"HTTPS\"}},\"file:size\":1991195,\"proj:bbox\":[499980.0,5190240,609780,5300040.0],\"proj:code\":\"EPSG:32632\",\"file:checksum\":\"1620bd4e78f5ea19b71a3b382be62e5bf6192e0eca31d8f0be3851b603d56f255d48\",\"proj:transform\":[20.0,0.0,499980.0,0.0,-20.0,5300040.0],\"file:local_path\":\"S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R20m/T32TNT_20200705T101559_AOT_20m.jp2\",\"gsd\":20,\"type\":\"image/jp2\",\"roles\":[\"data\",\"gsd:20m\"],\"title\":\"Aerosol
        optical thickness (AOT) - 20m\",\"nodata\":0,\"auth:refs\":[\"s3\"],\"data_type\":\"uint16\",\"proj:shape\":[5490,5490],\"raster:scale\":0.0001,\"storage:refs\":[\"cdse-s3\",\"creodias-s3\"],\"raster:offset\":-0.1,\"alternate:name\":\"S3\"},\"AOT_60m\":{\"href\":\"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/07/05/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R60m/T32TNT_20200705T101559_AOT_60m.jp2\",\"alternate\":{\"https\":{\"href\":\"https://zipper.dataspace.copernicus.eu/odata/v1/Products(8e7057cf-af5f-46de-868e-fe5a8faa2d9c)/Nodes(S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE)/Nodes(GRANULE)/Nodes(L2A_T32TNT_A017394_20200705T101917)/Nodes(IMG_DATA)/Nodes(R60m)/Nodes(T32TNT_20200705T101559_AOT_60m.jp2)/$value\",\"auth:refs\":[\"oidc\"],\"storage:refs\":[],\"alternate:name\":\"HTTPS\"}},\"file:size\":626148,\"proj:bbox\":[499980.0,5190240,609780,5300040.0],\"proj:code\":\"EPSG:32632\",\"file:checksum\":\"162005d3533658d879fe3676038b84a0d8a4f54e55244f6a1b8f6f3b7e36bd330415\",\"proj:transform\":[60.0,0.0,499980.0,0.0,-60.0,5300040.0],\"file:local_path\":\"S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R60m/T32TNT_20200705T101559_AOT_60m.jp2\",\"gsd\":60,\"type\":\"image/jp2\",\"roles\":[\"data\",\"gsd:60m\"],\"title\":\"Aerosol
        optical thickness (AOT) - 60m\",\"nodata\":0,\"auth:refs\":[\"s3\"],\"data_type\":\"uint16\",\"proj:shape\":[1830,1830],\"raster:scale\":0.0001,\"storage:refs\":[\"cdse-s3\",\"creodias-s3\"],\"raster:offset\":-0.1,\"alternate:name\":\"S3\"},\"B01_20m\":{\"href\":\"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/07/05/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R20m/T32TNT_20200705T101559_B01_20m.jp2\",\"bands\":[{\"eo:center_wavelength\":0.442,\"eo:full_width_half_max\":0.228,\"name\":\"B01\",\"eo:common_name\":\"coastal\"}],\"alternate\":{\"https\":{\"href\":\"https://zipper.dataspace.copernicus.eu/odata/v1/Products(8e7057cf-af5f-46de-868e-fe5a8faa2d9c)/Nodes(S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE)/Nodes(GRANULE)/Nodes(L2A_T32TNT_A017394_20200705T101917)/Nodes(IMG_DATA)/Nodes(R20m)/Nodes(T32TNT_20200705T101559_B01_20m.jp2)/$value\",\"auth:refs\":[\"oidc\"],\"storage:refs\":[],\"alternate:name\":\"HTTPS\"}},\"file:size\":22191746,\"proj:bbox\":[499980.0,5190240,609780,5300040.0],\"proj:code\":\"EPSG:32632\",\"view:azimuth\":150.095577088021,\"file:checksum\":\"1620a6e3ba19fecab58dd59c4cd61dd773b94b0f38fbb583e4bba3aaa4235d68e3c0\",\"proj:transform\":[20.0,0.0,499980.0,0.0,-20.0,5300040.0],\"file:local_path\":\"S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R20m/T32TNT_20200705T101559_B01_20m.jp2\",\"view:incidence_angle\":3.2593494236444,\"gsd\":20,\"type\":\"image/jp2\",\"roles\":[\"data\",\"reflectance\",\"sampling:upsampled\",\"gsd:20m\"],\"title\":\"Coastal
        aerosol (band 1) - 20m\",\"nodata\":0,\"auth:refs\":[\"s3\"],\"data_type\":\"uint16\",\"proj:shape\":[5490,5490],\"raster:scale\":0.0001,\"storage:refs\":[\"cdse-s3\",\"creodias-s3\"],\"raster:offset\":-0.1,\"alternate:name\":\"S3\"},\"B01_60m\":{\"href\":\"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/07/05/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R60m/T32TNT_20200705T101559_B01_60m.jp2\",\"bands\":[{\"eo:center_wavelength\":0.442,\"eo:full_width_half_max\":0.228,\"name\":\"B01\",\"eo:common_name\":\"coastal\"}],\"alternate\":{\"https\":{\"href\":\"https://zipper.dataspace.copernicus.eu/odata/v1/Products(8e7057cf-af5f-46de-868e-fe5a8faa2d9c)/Nodes(S2B_MSIL2A_20200[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912
  response:
    body:
      string: "{\"id\":\"S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912\",\"bbox\":[8.999733,46.85664,10.467277,47.853702],\"type\":\"Feature\",\"links\":[{\"rel\":\"collection\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collec[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items/S2B_MSIL2A_20200705T101559_N0500_R065_T32TMT_20230530T175912
  response:
    body:
      string: "{\"id\":\"S2B_MSIL2A_20200705T101559_N0500_R065_T32TMT_20230530T175912\",\"bbox\":[7.760786,46.858555,9.13047,47.853628],\"type\":\"Feature\",\"links\":[{\"rel\":\"collection\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collect[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items/S2A_MSIL2A_20200703T103031_N0500_R108_T32TNT_20230613T212700
  response:
    body:
      string: "{\"id\":\"S2A_MSIL2A_20200703T103031_N0500_R108_T32TNT_20230613T212700\",\"bbox\":[8.999733,46.864171,9.68382,47.853702],\"type\":\"Feature\",\"links\":[{\"rel\":\"collection\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collect[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items/S2A_MSIL2A_20200703T103031_N0500_R108_T32TMT_20230613T212700
  response:
    body:
      string: "{\"id\":\"S2A_MSIL2A_20200703T103031_N0500_R108_T32TMT_20230613T212700\",\"bbox\":[7.662865,46.858176,9.13047,47.853628],\"type\":\"Feature\",\"links\":[{\"rel\":\"collection\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collect[...]
