interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1
  response:
    body:
      string: '{"type":"Catalog","id":"cdse-stac","title":"Copernicus Data Space Ecosystem
        (CDSE) asset-level STAC catalogue","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        Asset Catalog) API, which follows the open STAC specification, enables users
        to access detailed asset-level metadata, including spatial information, temporal
        coverage, and data specifications. This standardized interface facilitates
        efficient data discovery and retrieval across the extensive collection of
        environmental and scientific resources. More information: https://documentation.dataspace.copernicus.eu/","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/collections/extensions/transaction","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/ogcapi-features#fields","https://api.stacspec.org/v1.0.0/ogcapi-features#query","https://api.stacspec.org/v1.0.0/ogcapi-features#sort","https://api.stacspec.org/v1.0.0/ogcapi-features/extensions/transaction"],"links":[{"rel":"self","type":"application/json","title":"This
        document","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"root","type":"application/json","title":"Root","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"data","type":"application/json","title":"Collections
        available for this Catalog","href":"https://stac.dataspace.copernicus.eu/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://stac.dataspace.copernicus.eu/v1/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search [GET]","href":"https://stac.dataspace.copernicus.eu/v1/search","method":"GET"},{"rel":"search","type":"application/geo+json","title":"STAC
        search [POST]","href":"https://stac.dataspace.copernicus.eu/v1/search","method":"POST"},{"rel":"http://www.opengis.net/def/rel/ogc/1.0/queryables","type":"application/schema+json","title":"Queryables
        available for this Catalog","href":"https://stac.dataspace.copernicus.eu/v1/queryables","method":"GET"},{"rel":"service-desc","type":"application/vnd.oai.openapi+json;version=3.0","title":"OpenAPI
        service description","href":"https://stac.dataspace.copernicus.eu/v1/api"},{"rel":"service-doc","type":"text/html","title":"OpenAPI
        service documentation","href":"https://stac.dataspace.copernicus.eu/v1/api.html"}],"stac_extensions":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416
  response:
    body:
      string: "{\"id\":\"S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416\",\"bbox\":[28.46498,52.222566,30.14177,53.240208],\"type\":\"Feature\",\"links\":[{\"rel\":\"collection\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/\"},{\"rel\":\"self\",\"type\":\"application/geo+json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416\"},{\"rel\":\"version-history\",\"href\":\"https://trace.dataspace.copernicus.eu/api/v1/traces/name/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE.zip\",\"type\":\"application/json\",\"title\":\"Product
        history record from the CDSE traceability service\"}],\"assets\":{\"AOT_10m\":{\"href\":\"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/03/01/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R10m/T35UPU_20200301T090901_AOT_10m.jp2\",\"alternate\":{\"https\":{\"href\":\"https://zipper.dataspace.copernicus.eu/odata/v1/Products(77d2f450-139a-4f5b-afca-5529bf714600)/Nodes(S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE)/Nodes(GRANULE)/Nodes(L2A_T35UPU_A024500_20200301T090936)/Nodes(IMG_DATA)/Nodes(R10m)/Nodes(T35UPU_20200301T090901_AOT_10m.jp2)/$value\",\"auth:refs\":[\"oidc\"],\"storage:refs\":[],\"alternate:name\":\"HTTPS\"}},\"file:size\":958917,\"proj:bbox\":[600000.0,5790240,709800,5900040.0],\"proj:code\":\"EPSG:32635\",\"file:checksum\":\"1620ec54f3e2c505ffb117a27c456f5bfbdeae4b00947905bd5f9e0e5215464e079d\",\"proj:transform\":[10.0,0.0,600000.0,0.0,-10.0,5900040.0],\"file:local_path\":\"S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R10m/T35UPU_20200301T090901_AOT_10m.jp2\",\"gsd\":10,\"type\":\"image/jp2\",\"roles\":[\"data\",\"gsd:10m\"],\"title\":\"Aerosol
        optical thickness (AOT) - 10m\",\"nodata\":0,\"auth:refs\":[\"s3\"],\"data_type\":\"uint16\",\"proj:shape\":[10980,10980],\"raster:scale\":0.0001,\"storage:refs\":[\"cdse-s3\",\"creodias-s3\"],\"raster:offset\":-0.1,\"alternate:name\":\"S3\"},\"AOT_20m\":{\"href\":\"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/03/01/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R20m/T35UPU_20200301T090901_AOT_20m.jp2\",\"alternate\":{\"https\":{\"href\":\"https://zipper.dataspace.copernicus.eu/odata/v1/Products(77d2f450-139a-4f5b-afca-5529bf714600)/Nodes(S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE)/Nodes(GRANULE)/Nodes(L2A_T35UPU_A024500_20200301T090936)/Nodes(IMG_DATA)/Nodes(R20m)/Nodes(T35UPU_20200301T090901_AOT_20m.jp2)/$value\",\"auth:refs\":[\"oidc\"],\"storage:refs\":[],\"alternate:name\":\"HTTPS\"}},\"file:size\":871745,\"proj:bbox\":[600000.0,5790240,709800,5900040.0],\"proj:code\":\"EPSG:32635\",\"file:checksum\":\"16200313f35591f0a781e31b3206d06a286959ecc3a63160dc2f54315f126cb4dbab\",\"proj:transform\":[20.0,0.0,600000.0,0.0,-20.0,5900040.0],\"file:local_path\":\"S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R20m/T35UPU_20200301T090901_AOT_20m.jp2\",\"gsd\":20,\"type\":\"image/jp2\",\"roles\":[\"data\",\"gsd:20m\"],\"title\":\"Aerosol
        optical thickness (AOT) - 20m\",\"nodata\":0,\"auth:refs\":[\"s3\"],\"data_type\":\"uint16\",\"proj:shape\":[5490,5490],\"raster:scale\":0.0001,\"storage:refs\":[\"cdse-s3\",\"creodias-s3\"],\"raster:offset\":-0.1,\"alternate:name\":\"S3\"},\"AOT_60m\":{\"href\":\"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/03/01/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R60m/T35UPU_20200301T090901_AOT_60m.jp2\",\"alternate\":{\"https\":{\"href\":\"https://zipper.dataspace.copernicus.eu/odata/v1/Products(77d2f450-139a-4f5b-afca-5529bf714600)/Nodes(S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE)/Nodes(GRANULE)/Nodes(L2A_T35UPU_A024500_20200301T090936)/Nodes(IMG_DATA)/Nodes(R60m)/Nodes(T35UPU_20200301T090901_AOT_60m.jp2)/$value\",\"auth:refs\":[\"oidc\"],\"storage:refs\":[],\"alternate:name\":\"HTTPS\"}},\"file:size\":315446,\"proj:bbox\":[600000.0,5790240,709800,5900040.0],\"proj:code\":\"EPSG:32635\",\"file:checksum\":\"162008abdc06a1864320d1a816896904da0c3f57c02a8b7f4a0e3f45e87a62292be9\",\"proj:transform\":[60.0,0.0,600000.0,0.0,-60.0,5900040.0],\"file:local_path\":\"S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R60m/T35UPU_20200301T090901_AOT_60m.jp2\",\"gsd\":60,\"type\":\"image/jp2\",\"roles\":[\"data\",\"gsd:60m\"],\"title\":\"Aerosol
        optical thickness (AOT) - 60m\",\"nodata\":0,\"auth:refs\":[\"s3\"],\"data_type\":\"uint16\",\"proj:shape\":[1830,1830],\"raster:scale\":0.0001,\"storage:refs\":[\"cdse-s3\",\"creodias-s3\"],\"raster:offset\":-0.1,\"alternate:name\":\"S3\"},\"B01_20m\":{\"href\":\"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/03/01/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R20m/T35UPU_20200301T090901_B01_20m.jp2\",\"bands\":[{\"eo:center_wavelength\":0.443,\"eo:full_width_half_max\":0.228,\"name\":\"B01\",\"eo:common_name\":\"coastal\"}],\"alternate\":{\"https\":{\"href\":\"https://zipper.dataspace.copernicus.eu/odata/v1/Products(77d2f450-139a-4f5b-afca-5529bf714600)/Nodes(S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE)/Nodes(GRANULE)/Nodes(L2A_T35UPU_A024500_20200301T090936)/Nodes(IMG_DATA)/Nodes(R20m)/Nodes(T35UPU_20200301T090901_B01_20m.jp2)/$value\",\"auth:refs\":[\"oidc\"],\"storage:refs\":[],\"alternate:name\":\"HTTPS\"}},\"file:size\":19100667,\"proj:bbox\":[600000.0,5790240,709800,5900040.0],\"proj:code\":\"EPSG:32635\",\"view:azimuth\":111.33231956903,\"file:checksum\":\"1620f74fc4297701832cb0a507febf016077cf63577c718b8b7e56d8d119d94870ea\",\"proj:transform\":[20.0,0.0,600000.0,0.0,-20.0,5900040.0],\"file:local_path\":\"S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R20m/T35UPU_20200301T090901_B01_20m.jp2\",\"view:incidence_angle\":4.26998770618187,\"gsd\":20,\"type\":\"image/jp2\",\"roles\":[\"data\",\"reflectance\",\"sampling:upsampled\",\"gsd:20m\"],\"title\":\"Coastal
        aerosol (band 1) - 20m\",\"nodata\":0,\"auth:refs\":[\"s3\"],\"data_type\":\"uint16\",\"proj:shape\":[5490,5490],\"raster:scale\":0.0001,\"storage:refs\":[\"cdse-s3\",\"creodias-s3\"],\"raster:offset\":-0.1,\"alternate:name\":\"S3\"},\"B01_60m\":{\"href\":\"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/03/01/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/IMG_DATA/R60m/T35UPU_20200301T090901_B01_60m.jp2\",\"bands\":[{\"eo:center_wavelength\":0.443,\"eo:full_width_half_max\":0.228,\"name\":\"B01\",\"eo:common_name\":\"coastal\"}],\"alternate\":{\"https\":{\"href\":\"https://zipper.dataspace.copernicus.eu/odata/v1/Products(77d2f450-139a-4f5b-afca-5529bf714600)/Nodes(S2A_MSIL2A_20200[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - !!binary |
        QVdTNC1ITUFDLVNIQTI1NiBDcmVkZW50aWFsPU8wTTBDVVFJRFFPOVREWjREOE5SLzIwMjUwNTE1
        L2RlZmF1bHQvczMvYXdzNF9yZXF1ZXN0LCBTaWduZWRIZWFkZXJzPWhvc3Q7eC1hbXotY2hlY2tz
        dW0tbW9kZTt4LWFtei1jb250ZW50LXNoYTI1Njt4LWFtei1kYXRlLCBTaWduYXR1cmU9ZTI0ZGI5
        YzliMzdmOGJiNjhlOTkxZDE3ZTFmMWZkZDEzZDcyYjBjY2ZlYWUxY2UwZTdlMzBmM2UxMDJiMWM1
        OQ==
      X-Amz-Content-SHA256:
      - !!binary |
        ZTNiMGM0NDI5OGZjMWMxNDlhZmJmNGM4OTk2ZmI5MjQyN2FlNDFlNDY0OWI5MzRjYTQ5NTk5MWI3
        ODUyYjg1NQ==
      X-Amz-Date:
      - !!binary |
        MjAyNTA1MTVUMTQxNjMxWg==
      amz-sdk-invocation-id:
      - !!binary |
        ZGMzMTQwODAtMDMxZS00Y2NjLTg4MjAtMDlhN2E4ZGM4MDRh
      amz-sdk-request:
      - !!binary |
        YXR0ZW1wdD0x
      x-amz-checksum-mode:
      - !!binary |
        RU5BQkxFRA==
    method: GET
    uri: https://eodata.dataspace.copernicus.eu/eodata/Sentinel-2/MSI/L2A_N0500/2020/03/01/S2A_MSIL2A_20200301T090901_N0500_R050_T35UPU_20230630T033416.SAFE/GRANULE/L2A_T35UPU_A024500_20200301T090936/MTD_TL.xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\n<n1:Level-2A_Tile_ID
        xmlns:n1=\"https://psd-14.sentinel2.eo.esa.int/PSD/S2_PDI_Level-2A_Tile_Metadata.xsd\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"https://psd-14.sentinel2.eo.esa.int/PSD/S2_PDI_Level-2A_Tile_Metadata.xsd
        /dpc/app/s2ipf/FORMAT_METADATA_TILE_L1C/06.01.00/scripts/../../../schemas/14.08.02/PSD/S2_PDI_Level-2A_Tile_Metadata.xsd\">\n
        \ <n1:General_Info>\n    <L1C_TILE_ID metadataLevel=\"Brief\">S2A_OPER_MSI_L1C_TL_S2RP_20230629T162706_A024500_T35UPU_N05.00</L1C_TILE_ID>\n
        \   <TILE_ID metadataLevel=\"Brief\">S2A_OPER_MSI_L2A_TL_S2RP_20230630T033416_A024500_T35UPU_N05.00</TILE_ID>\n
        \   <DATASTRIP_ID metadataLevel=\"Standard\">S2A_OPER_MSI_L2A_DS_S2RP_20230630T033416_S20200301T090936_N05.00</DATASTRIP_ID>\n
        \   <DOWNLINK_PRIORITY metadataLevel=\"Standard\">NOMINAL</DOWNLINK_PRIORITY>\n
        \   <SENSING_TIME metadataLevel=\"Standard\">2020-03-01T09:15:39.882164Z</SENSING_TIME>\n
        \   <Archiving_Info metadataLevel=\"Expertise\">\n      <ARCHIVING_CENTRE>S2RP</ARCHIVING_CENTRE>\n
        \     <ARCHIVING_TIME>2023-06-30T05:07:05.392016Z</ARCHIVING_TIME>\n    </Archiving_Info>\n
        \ </n1:General_Info>\n  <n1:Geometric_Info>\n    <Tile_Geocoding metadataLevel=\"Brief\">\n
        \     <HORIZONTAL_CS_NAME>WGS84 / UTM zone 35N</HORIZONTAL_CS_NAME>\n      <HORIZONTAL_CS_CODE>EPSG:32635</HORIZONTAL_CS_CODE>\n
        \     <Size resolution=\"10\">\n        <NROWS>10980</NROWS>\n        <NCOLS>10980</NCOLS>\n
        \     </Size>\n      <Size resolution=\"20\">\n        <NROWS>5490</NROWS>\n
        \       <NCOLS>5490</NCOLS>\n      </Size>\n      <Size resolution=\"60\">\n
        \       <NROWS>1830</NROWS>\n        <NCOLS>1830</NCOLS>\n      </Size>\n
        \     <Geoposition resolution=\"10\">\n        <ULX>600000</ULX>\n        <ULY>5900040</ULY>\n
        \       <XDIM>10</XDIM>\n        <YDIM>-10</YDIM>\n      </Geoposition>\n
        \     <Geoposition resolution=\"20\">\n        <ULX>600000</ULX>\n        <ULY>5900040</ULY>\n
        \       <XDIM>20</XDIM>\n        <YDIM>-20</YDIM>\n      </Geoposition>\n
        \     <Geoposition resolution=\"60\">\n        <ULX>600000</ULX>\n        <ULY>5900040</ULY>\n
        \       <XDIM>60</XDIM>\n        <YDIM>-60</YDIM>\n      </Geoposition>\n
        \   </Tile_Geocoding>\n    <Tile_Angles metadataLevel=\"Standard\">\n      <Sun_Angles_Grid>\n
        \       <Zenith>\n          <COL_STEP unit=\"m\">5000</COL_STEP>\n          <ROW_STEP
        unit=\"m\">5000</ROW_STEP>\n          <Values_List>\n            <VALUES>62.0266
        62.0122 61.9978 61.9835 61.9692 61.9548 61.9405 61.9263 61.912 61.8978 61.8835
        61.8693 61.8551 61.8409 61.8267 61.8126 61.7985 61.7843 61.7702 61.7561 61.7421
        61.728 61.714</VALUES>\n            <VALUES>61.9835 61.9691 61.9547 61.9404
        61.9261 61.9117 61.8974 61.8832 61.8689 61.8546 61.8404 61.8262 61.812 61.7978
        61.7836 61.7695 61.7553 61.7412 61.7271 61.713 61.6989 61.6849 61.6708</VALUES>\n
        \           <VALUES>61.9404 61.926 61.9117 61.89[...]
[...]
