interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections
  response:
    body:
      string: "{\"collections\":[{\"type\":\"Collection\",\"id\":\"sentinel-2-pre-c1-l2a\",\"title\":\"Sentinel-2
        Pre-Collection 1 Level-2A \",\"description\":\"Sentinel-2 Pre-Collection 1
        Level-2A (baseline < 05.00), with data and metadata matching collection sentinel-2-c1-l2a\",\"stac_version\":\"1.0.0\",\"links\":[{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-pre-c1-l2a\"},{\"rel\":\"cite-as\",\"href\":\"https://doi.org/10.5270/S2_[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections/sentinel-2-pre-c1-l2a/items?collections=sentinel-2-pre-c1-l2a
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"stac_version\":\"1.0.0\",\"stac_extensions\":[],\"context\":{\"limit\":10,\"matched\":35015,\"returned\":10},\"numberMatched\":35015,\"numberReturned\":10,\"features\":[{\"type\":\"Feature\",\"stac_version\":\"1.0.0\",\"id\":\"S2B_T21NYC_20221205T140704_L2A\",\"properties\":{\"created\":\"2024-05-01T21:13:07.275Z\",\"platform\":\"sentinel-2b\",\"constellation\":\"sentinel-2\",\"instruments\":[\"msi\"],\"eo:cloud_cover\":84.697223,\"proj:epsg\":32621,\"proj:centroid\":{\"lat\":2.21567,\"lon\":-54.70861},\"mgrs:utm_zone\":21,\"mgrs:latitude_band\":\"N\",\"mgrs:grid_square\":\"YC\",\"grid:code\":\"MGRS-21NYC\",\"view:azimuth\":254.13884646421286,\"view:incidence_angle\":4.29102640914292,\"view:sun_azimuth\":143.496725773355,\"view:sun_elevation\":58.944901508318,\"s2:tile_id\":\"S2B_OPER_MSI_L2A_TL_2BPS_20221205T162557_A030023_T21NYC_N04.00\",\"s2:degraded_msi_data_percentage\":0.0075,\"s2:nodata_pixel_percentage\":0,\"s2:saturated_defective_pixel_percentage\":0,\"s2:dark_features_percentage\":0.000106,\"s2:cloud_shadow_percentage\":0.844636,\"s2:vegetation_percentage\":8.764075,\"s2:not_vegetated_percentage\":1.119495,\"s2:water_percentage\":0.000405,\"s2:unclassified_percentage\":4.574056,\"s2:medium_proba_clouds_percentage\":25.853804,\"s2:high_proba_clouds_percentage\":49.416396,\"s2:thin_cirrus_percentage\":9.427029,\"s2:snow_ice_percentage\":0,\"s2:product_type\":\"S2MSI2A\",\"s2:processing_baseline\":\"04.00\",\"s2:product_uri\":\"S2B_MSIL2A_20221205T140709_N0400_R110_T21NYC_20221205T162557.SAFE\",\"s2:generation_time\":\"2022-12-05T16:25:57.000000Z\",\"s2:datatake_id\":\"GS2B_20221205T140709_030023_N04.00\",\"s2:datatake_type\":\"INS-NOBS\",\"s2:datastrip_id\":\"S2B_OPER_MSI_L2A_DS_2BPS_20221205T162557_S20221205T140704_N04.00\",\"s2:reflectance_conversion_factor\":1.02884777057783,\"datetime\":\"2022-12-05T14:11:53.454000Z\",\"earthsearch:payload_id\":\"roda-sentinel-2-c1-l2a/workflow-sentinel-2-c1-l2a-to-stac/5e98eb8371eb609c63561bf20fd3066a\",\"storage:platform\":\"AWS\",\"storage:region\":\"us-west-2\",\"storage:requester_pays\":false,\"processing:software\":{\"sentinel-2-c1-l2a-to-stac\":\"v2024.02.01\"},\"updated\":\"2024-05-01T21:13:07.275Z\"},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-55.20129450690056,2.7128203495492222],[-55.20249281386596,1.7199509644951363],[-54.21613087038822,1.7187596580174633],[-54.21427671060109,2.7109405362606047],[-55.20129450690056,2.7128203495492222]]]},\"links\":[{\"rel\":\"self\",\"type\":\"application/geo+json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-pre-c1-l2a/items/S2B_T21NYC_20221205T140704_L2A\"},{\"rel\":\"canonical\",\"href\":\"s3://e84-earth-search-sentinel-data/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/S2B_T21NYC_20221205T140704_L2A.json\",\"type\":\"application/json\"},{\"rel\":\"via\",\"href\":\"s3://sentinel-s2-l2a/tiles/21/N/YC/2022/12/5/0/metadata.xml\",\"type\":\"application/xml\",\"title\":\"Granule
        Metadata in Sinergize RODA Archive\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-pre-c1-l2a\"},{\"rel\":\"collection\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-pre-c1-l2a\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1\"},{\"rel\":\"thumbnail\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-pre-c1-l2a/items/S2B_T21NYC_20221205T140704_L2A/thumbnail\"}],\"assets\":{\"red\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/B04.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Red - 10m\",\"eo:bands\":[{\"name\":\"B04\",\"common_name\":\"red\",\"center_wavelength\":0.665,\"full_width_half_max\":0.038}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,699960,0,-10,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":10,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"12203937861055c499f89955d157a61c79fc3ebaba98b93e513af9b308f4f6cae286\",\"file:size\":188856328,\"roles\":[\"data\",\"reflectance\"]},\"green\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/B03.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Green - 10m\",\"eo:bands\":[{\"name\":\"B03\",\"common_name\":\"green\",\"center_wavelength\":0.56,\"full_width_half_max\":0.045}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,699960,0,-10,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":10,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"1220a60a9f0bd45e7c60810d9ce9b0b232c1d97078c742533308603984719d871fa8\",\"file:size\":190620157,\"roles\":[\"data\",\"reflectance\"]},\"blue\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/B02.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Blue - 10m\",\"eo:bands\":[{\"name\":\"B02\",\"common_name\":\"blue\",\"center_wavelength\":0.49,\"full_width_half_max\":0.098}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,699960,0,-10,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":10,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"1220d726e4fa91f737e2daa56c361d7c6d13bf04bf477127260ca716ecbe485e0e49\",\"file:size\":191688837,\"roles\":[\"data\",\"reflectance\"]},\"visual\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/TCI.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"True color image\",\"eo:bands\":[{\"name\":\"B04\",\"common_name\":\"red\",\"center_wavelength\":0.665,\"full_width_half_max\":0.038},{\"name\":\"B03\",\"common_name\":\"green\",\"center_wavelength\":0.56,\"full_width_half_max\":0.045},{\"name\":\"B02\",\"common_name\":\"blue\",\"center_wavelength\":0.49,\"full_width_half_max\":0.098}],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":10},{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":10},{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":10}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,699960,0,-10,300000],\"file:checksum\":\"12209623b7768895c17e546cabce0141227442f032a80bd071dfd8e01058f590b528\",\"file:size\":145123034,\"roles\":[\"visual\"]},\"nir\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/B08.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"NIR 1 - 10m\",\"eo:bands\":[{\"name\":\"B08\",\"common_name\":\"nir\",\"center_wavelength\":0.842,\"full_width_half_max\":0.145}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,699960,0,-10,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":10,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"12208a9d5a55fc9f2d815c0a9c00de681b77ea276e4069032947e01b2263e1c2ccec\",\"file:size\":188269765,\"roles\":[\"data\",\"reflectance\"]},\"swir22\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/B12.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"SWIR 2.2\u03BCm
        - 20m\",\"eo:bands\":[{\"name\":\"B12\",\"common_name\":\"swir22\",\"center_wavelength\":2.19,\"full_width_half_max\":0.242}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,699960,0,-20,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"12200166d2e4e290e13882a05c4d980cdc7963b9cbf4b31ee896029e1fbf3ece9656\",\"file:size\":53244020,\"roles\":[\"data\",\"reflectance\"]},\"rededge2\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/B06.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Red Edge 2 - 20m\",\"eo:bands\":[{\"name\":\"B06\",\"common_name\":\"rededge\",\"center_wavelength\":0.74,\"full_width_half_max\":0.018}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,699960,0,-20,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"122038715f135555354ec749632eab72e04e227eb9b474e464fe3d51b7c7dc237699\",\"file:size\":57440150,\"roles\":[\"data\",\"reflectance\"]},\"rededge3\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/B07.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Red Edge 3 - 20m\",\"eo:bands\":[{\"name\":\"B07\",\"common_name\":\"rededge\",\"center_wavelength\":0.783,\"full_width_half_max\":0.028}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,699960,0,-20,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"1220f7f280763f64c4af8deaebc8457b38c97cf8558ac93aeba72062f14cfbf6aeb6\",\"file:size\":57627254,\"roles\":[\"data\",\"reflectance\"]},\"rededge1\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/B05.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Red Edge 1 - 20m\",\"eo:bands\":[{\"name\":\"B05\",\"common_name\":\"rededge\",\"center_wavelength\":0.704,\"full_width_half_max\":0.019}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,699960,0,-20,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"122087ca77c1ac431b414572bccedea0b830c21379f42c020bed185618d384462680\",\"file:size\":56742048,\"roles\":[\"data\",\"reflectance\"]},\"swir16\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/B11.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"SWIR 1.6\u03BCm
        - 20m\",\"eo:bands\":[{\"name\":\"B11\",\"common_name\":\"swir16\",\"center_wavelength\":1.61,\"full_width_half_max\":0.143}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,699960,0,-20,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"1220be67aa0dd105879638ef276aa95db1d9404307ea255510986a06548cb6883c30\",\"file:size\":53890425,\"roles\":[\"data\",\"reflectance\"]},\"wvp\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/WVP.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Water Vapour (WVP)\",\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,699960,0,-20,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"unit\":\"cm\",\"scale\":0.001,\"offset\":0}],\"file:checksum\":\"1220114fb0d40178552bc865bb69b155badfc4300374ecb3ce14e8843eb6ec0e9fff\",\"file:size\":6536687,\"roles\":[\"data\"]},\"nir08\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/B8A.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"NIR 2 - 20m\",\"eo:bands\":[{\"name\":\"B8A\",\"common_name\":\"nir08\",\"center_wavelength\":0.865,\"full_width_half_max\":0.033}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,699960,0,-20,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"1220d9432880aa66b8701fba31f0cb8d25cb0e2ca87f028b5cdd47a7dde4d7cf3013\",\"file:size\":57577935,\"roles\":[\"data\",\"reflectance\"]},\"scl\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/SCL.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Scene classification
        map (SCL)\",\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,699960,0,-20,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":20}],\"file:checksum\":\"122067f11c70adbc759c56887b7908c0f30a1274538f3573dc59a54c20cb6a323c51\",\"file:size\":2600182,\"roles\":[\"data\"]},\"aot\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/AOT.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Aerosol optical
        thickness (AOT)\",\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,699960,0,-20,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.001,\"offset\":0}],\"file:checksum\":\"12200f7fff60a11809e31cdebadf2cc69cb5e33ea8d3b99f0c5adfd2740623b11e97\",\"file:size\":1815352,\"roles\":[\"data\"]},\"coastal\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/B01.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Coastal - 60m\",\"eo:bands\":[{\"name\":\"B01\",\"common_name\":\"coastal\",\"center_wavelength\":0.443,\"full_width_half_max\":0.027}],\"gsd\":60,\"proj:shape\":[1830,1830],\"proj:transform\":[60,0,699960,0,-60,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":60,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"1220ea50fad3d32e7442d4d59cd3ecce4afbea563900f68935dfd9b3ed519696bc9b\",\"file:size\":6716974,\"roles\":[\"data\",\"reflectance\"]},\"nir09\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/B09.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"NIR 3 - 60m\",\"eo:bands\":[{\"name\":\"B09\",\"common_name\":\"nir09\",\"center_wavelength\":0.945,\"full_width_half_max\":0.026}],\"gsd\":60,\"proj:shape\":[1830,1830],\"proj:transform\":[60,0,699960,0,-60,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":60,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"12202e271c35941f1589a7f0bdad4eb1c3e8e38dfd8527b70616a547930f6caa9592\",\"file:size\":6644100,\"roles\":[\"data\",\"reflectance\"]},\"cloud\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/CLD_20m.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Cloud Probabilities\",\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,699960,0,-20,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":20}],\"file:checksum\":\"12209df88546b7bd3a7cf919a29026c6c61af8e626388070859e8ac40dffdef257ec\",\"file:size\":13262690,\"roles\":[\"data\",\"cloud\"]},\"snow\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/SNW_20m.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Snow Probabilities\",\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,699960,0,-20,300000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":20}],\"file:checksum\":\"1220e396edd60e5aa3564cc15fc756d8bcddf8c4ed0ddef9343b69c1a4a4bd234c59\",\"file:size\":53931,\"roles\":[\"data\",\"snow-ice\"]},\"preview\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/L2A_PVI.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"True color preview\",\"eo:bands\":[{\"name\":\"B04\",\"common_name\":\"red\",\"center_wavelength\":0.665,\"full_width_half_max\":0.038},{\"name\":\"B03\",\"common_name\":\"green\",\"center_wavelength\":0.56,\"full_width_half_max\":0.045},{\"name\":\"B02\",\"common_name\":\"blue\",\"center_wavelength\":0.49,\"full_width_half_max\":0.098}],\"file:checksum\":\"1220a046e8510db77890506d03365495bb914c24634effd01082a85ff8243277746d\",\"file:size\":184160,\"roles\":[\"overview\"]},\"granule_metadata\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/metadata.xml\",\"type\":\"application/xml\",\"file:checksum\":\"12207e51d3be3ff32b29adf60e29ce9f096fce34d9cb07cdf05fc0a15987f288bdd5\",\"file:size\":548029,\"roles\":[\"metadata\"]},\"tileinfo_metadata\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/tileInfo.json\",\"type\":\"application/json\",\"file:checksum\":\"12206c5d229fafc50daeaea1bda64140e00fbd229b58b070d3e0145df2b450b90b24\",\"file:size\":1480,\"roles\":[\"metadata\"]},\"product_metadata\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/product_metadata.xml\",\"type\":\"application/xml\",\"file:checksum\":\"12207a79506b94a36330821d7596626800d073da26616d54af1c9db21177ac0591ce\",\"file:size\":54762,\"roles\":[\"metadata\"]},\"thumbnail\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-pre-c1-l2a/21/N/YC/2022/12/S2B_T21NYC_20221205T140704_L2A/L2A_PVI.jpg\",\"type\":\"image/jpeg\",\"title\":\"Thumbnail
        of preview image\",\"file:checksum\":\"1220b84f2375098765d7630cc7050ac88419937459099878fbb7b7032fbc8a8eb5c4\",\"file:size\":31402,\"roles\":[\"thumbnail\"]}},\"bbox\":[-55.202493,1.71876,-54.214277,2.71282],\"stac_extensions\":[\"https://stac-extensions.github.io/eo/v1.1.0/schema.json\",\"https://stac-extensions.github.io/file/v2.1.0/schema.json\",\"https://stac-extensions.github.io/grid/v1.1.0/schema.json\",\"https://stac-extensions.github.io/mgrs/v1.0.0/schema.json\",\"https://stac-extensions.github.io/processing/v1.1.0/schema.json\",\"https://stac-extensions.github.io/projection/v1.1.0/schema.json\",\"https://stac-extensions.github.io/raster/v1.1.0/schema.json\",\"https://stac-extensions.github.io/sentinel-2/v1.0.0/schema.json\",\"https://stac-extensions.github.io/storage/v1.0.0/schema.json\",\"https://stac-extensions.github.io/view/v1.0.0/schema.json\"],\"collection\":\"sentinel-2-pre-c1-l2a\"},{\"type\":\"Feature\",\"stac_version\":\"1.0.0\",\"id\":\"S2B_T21NZC_20221205T140704_L2A\",\"properties\":{\"created\":\"2024-05-03T00:39:43.352Z\",\"platform\":\"sentinel-2b\",\"constellation\":\"sentinel-2\",\"instruments\":[\"msi\"],\"eo:cloud_cover\":94.350874,\"proj:epsg\":32621,\"proj:centroid\":{\"lat\":2.25001,\"lon\":-54.04265},\"mgrs:utm_zone\":21,\"mgrs:latitude_band\":\"N\",\"mgrs:grid_square\":\"ZC\",\"grid:code\":\"MGRS-21NZC\",\"view:azimuth\":284.186894[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30/items?collections=cop-dem-glo-30
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":26450,"returned":10},"numberMatched":26450,"numberReturned":10,"features":[{"type":"Feature","stac_version":"1.0.0","id":"Copernicus_DSM_COG_10_S90_00_W180_00_DEM","properties":{"platform":"tandem-x","gsd":30,"proj:epsg":4326,"proj:transform":[0.002777777777777778,0,-180.0013888888889,0,-0.0002777777777777778,-88.99986111111112],"proj:shape":[3600,360],"proj:centroid":{"lat":-89.5,"lon":-179.5},"grid:code":"CDEM-S90W180","storage:platform":"AWS","storage:region":"eu-central-1","storage:requester_pays":false,"earthsearch:payload_id":"cop-dem-glo/workflow-cop-dem-glo-to-stac/c535d071376a7c60ed297e65c490d41a","datetime":"2021-04-22T00:00:00Z","processing:software":{"cop-dem-glo-to-stac":"2023.03.28"},"created":"2023-03-28T15:22:58.882Z","updated":"2023-04-20T18:14:07.025Z"},"geometry":{"type":"Polygon","coordinates":[[[-179.0013888888889,-89.99986111111112],[-179.0013888888889,-88.99986111111112],[-180.0013888888889,-88.99986111111112],[-180.0013888888889,-89.99986111111112],[-179.0013888888889,-89.99986111111112]]]},"links":[{"rel":"self","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30/items/Copernicus_DSM_COG_10_S90_00_W180_00_DEM"},{"rel":"canonical","href":"s3://earthsearch-data/cop-dem-glo-30/Copernicus_DSM_COG_10_S90_00_W180_00_DEM/Copernicus_DSM_COG_10_S90_00_W180_00_DEM.json","type":"application/json"},{"rel":"handbook","href":"https://object.cloud.sdsc.edu/v1/AUTH_opentopography/www/metadata/Copernicus_metadata.pdf","type":"application/pdf","title":"Copernicus
        DEM User handbook","description":"Also includes data usage information"},{"rel":"parent","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30"},{"rel":"collection","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"thumbnail","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30/items/Copernicus_DSM_COG_10_S90_00_W180_00_DEM/thumbnail"}],"assets":{"data":{"href":"s3://copernicus-dem-30m/Copernicus_DSM_COG_10_S90_00_W180_00_DEM/Copernicus_DSM_COG_10_S90_00_W180_00_DEM.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Data","raster:bands":[{"sampling":"point","data_type":"float32","spatial_resolution":30,"unit":"meter"}],"roles":["data"]}},"bbox":[-180.0013888888889,-89.99986111111112,-179.0013888888889,-88.99986111111112],"stac_extensions":["https://stac-extensions.github.io/storage/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.1.0/schema.json","https://stac-extensions.github.io/raster/v1.1.0/schema.json","https://stac-extensions.github.io/grid/v1.1.0/schema.json","https://stac-extensions.github.io/projection/v1.1.0/sc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections/naip/items?collections=naip
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":1337170,"returned":10},"numberMatched":1337170,"numberReturned":10,"features":[{"type":"Feature","stac_version":"1.0.0","id":"ny_m_4307759_sw_18_060_20221126","properties":{"naip:state":"ny","naip:year":"2022","gsd":0.6,"proj:epsg":26918,"proj:shape":[12510,9530],"proj:bbox":[275646,4764120,281364,4771626],"proj:transform":[0.6,0,275646,0,-0.6,4771626,0,0,1],"proj:centroid":{"lat":43.03125,"lon":-77.71876},"grid:code":"DOQQ-4307759SW","storage:platform":"AWS","storage:region":"us-west-2","storage:requester_pays":true,"earthsearch:payload_id":"roda-naip/workflow-naip-to-stac/dd64735c8c7afb495acb573d0a24d553","datetime":"2022-11-26T16:00:00Z","processing:software":{"naip-to-stac":"2023.05.22"},"created":"2024-05-03T19:17:12.308Z","updated":"2024-05-03T19:17:12.308Z"},"geometry":{"type":"Polygon","coordinates":[[[-77.682233,42.998323],[-77.685176,43.065841],[-77.755324,43.064172],[-77.752303,42.996658],[-77.682233,42.998323]]]},"links":[{"rel":"self","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/collections/naip/items/ny_m_4307759_sw_18_060_20221126"},{"rel":"canonical","href":"s3://earthsearch-data/naip/ny/2022/ny_m_4307759_sw_18_060_20221126/ny_m_4307759_sw_18_060_20221126.json","type":"application/json"},{"rel":"parent","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/naip"},{"rel":"collection","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/naip"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"thumbnail","href":"https://earth-search.aws.element84.com/v1/collections/naip/items/ny_m_4307759_sw_18_060_20221126/thumbnail"}],"assets":{"image":{"href":"s3://naip-analytic/ny/2022/60cm/rgbir_cog/43077/m_4307759_sw_18_060_20221126.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"RGBIR COG tile","eo:bands":[{"name":"Red","common_name":"red"},{"name":"Green","common_name":"green"},{"name":"Blue","common_name":"blue"},{"name":"NIR","common_name":"nir","description":"near-infrared"}],"raster:bands":[{"nodata":0,"data_type":"uint8","spatial_resolution":0.6,"unit":"none"},{"nodata":0,"data_type":"uint8","spatial_resolution":0.6,"unit":"none"},{"nodata":0,"data_type":"uint8","spatial_resolution":0.6,"unit":"none"},{"nodata":0,"data_type":"uint8","spatial_resolution":0.6,"unit":"none"}],"roles":["data"]},"metadata":{"href":"s3://naip-analytic/ny/2022/60cm/fgdc/43077/m_4307759_sw_18_060_20221126.xml","type":"application/xml","title":"FGDC
        Metadata","roles":["metadata"]}},"bbox":[-77.755324,42.996658,-77.682233,43.065841],"stac_extensions":["https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json","https://stac-extensions.github.io/raster/v1.1.0/schema.json","https://stac-extensions.github.io/processing/v1.1.0/schema.json","https:[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections/landsat-c2-l2/items?collections=landsat-c2-l2
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":9260439,"returned":10},"numberMatched":9260439,"numberReturned":10,"features":[{"type":"Feature","stac_version":"1.0.0","id":"LC09_L2SR_083075_20240728_02_T1","properties":{"platform":"landsat-9","instruments":["oli","tirs"],"created":"2024-07-29T11:53:23.645Z","gsd":30,"description":"Landsat
[...]
