interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections
  response:
    body:
      string: "{\"collections\":[{\"type\":\"Collection\",\"id\":\"sentinel-2-pre-c1-l2a\",\"title\":\"Sentinel-2
        Pre-Collection 1 Level-2A \",\"description\":\"Sentinel-2 Pre-Collection 1
        Level-2A (baseline < 05.00), with data and metadata matching collection sentinel-2-c1-l2a\",\"stac_version\":\"1.0.0\",\"links\":[{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-pre-c1-l2a\"},{\"rel\":\"cite-as\",\"href\":\"https://doi.org/10.5270/S2_[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a/items?collections=sentinel-2-l2a
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":38706834,"returned":10},"numberMatched":38706834,"numberReturned":10,"features":[{"type":"Feature","stac_version":"1.0.0","id":"S2B_18CWA_20250107_1_L2A","properties":{"created":"2025-01-07T16:16:07.481Z","platform":"sentinel-2b","constellation":"sentinel-2","instruments":["msi"],"eo:cloud_cover":99.992931,"proj:epsg":32718,"mgrs:utm_zone":18,"mgrs:latitude_band":"C","mgrs:grid_square":"WA","grid:code":"MGRS-18CWA","view:sun_azimuth":72.0133678619293,"view:sun_elevation":27.2758426482318,"s2:degraded_msi_data_percentage":0,"s2:nodata_pixel_percentage":99.154931,"s2:saturated_defective_pixel_percentage":0,"s2:cloud_shadow_percentage":0,"s2:vegetation_percentage":0,"s2:not_vegetated_percentage":0.007067,"s2:water_percentage":0,"s2:unclassified_percentage":0,"s2:medium_proba_clouds_percentage":22.86467,"s2:high_proba_clouds_percentage":75.719565,"s2:thin_cirrus_percentage":1.4087,"s2:snow_ice_percentage":0,"s2:product_type":"S2MSI2A","s2:processing_baseline":"05.11","s2:product_uri":"S2B_MSIL2A_20250107T123149_N0511_R023_T18CWA_20250107T153443.SAFE","s2:generation_time":"2025-01-07T15:34:43.000000Z","s2:datatake_id":"GS2B_20250107T123149_040947_N05.11","s2:datatake_type":"INS-NOBS","s2:datastrip_id":"S2B_OPER_MSI_L2A_DS_2BPS_20250107T153443_S20250107T123148_N05.11","s2:granule_id":"S2B_OPER_MSI_L2A_TL_2BPS_20250107T153443_A040947_T18CWA_N05.11","s2:reflectance_conversion_factor":1.03431792620605,"datetime":"2025-01-07T12:33:54.715000Z","s2:sequence":"1","earthsearch:s3_path":"s3://sentinel-cogs/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A","earthsearch:payload_id":"roda-sentinel2/workflow-sentinel2-to-stac/84ae006a957f1a1c60670384aeaa7b3c","earthsearch:boa_offset_applied":true,"processing:software":{"sentinel2-to-stac":"0.1.1"},"updated":"2025-01-07T16:16:07.481Z"},"geometry":{"type":"Polygon","coordinates":[[[-71.58890212646519,-75.66030614001826],[-71.4951237788997,-75.68034627099685],[-71.46636409818473,-75.6740046119495],[-70.99533887821802,-75.77372776733634],[-71.02875072966214,-75.65162893398646],[-71.58890212646519,-75.66030614001826]]]},"links":[{"rel":"self","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a/items/S2B_18CWA_20250107_1_L2A"},{"rel":"canonical","href":"s3://sentinel-cogs/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/S2B_18CWA_20250107_1_L2A.json","type":"application/json"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice"},{"rel":"derived_from","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l1c/items/S2B_18CWA_20250107_1_L1C","type":"application/geo+json"},{"rel":"parent","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a"},{"rel":"collection","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"thumbnail","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a/items/S2B_18CWA_20250107_1_L2A/thumbnail"}],"assets":{"aot":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/AOT.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Aerosol optical thickness
        (AOT)","proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.001,"offset":0}],"roles":["data","reflectance"]},"blue":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/B02.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Blue (band 2) - 10m","eo:bands":[{"name":"blue","common_name":"blue","description":"Blue
        (band 2)","center_wavelength":0.49,"full_width_half_max":0.098}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"coastal":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/B01.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Coastal aerosol (band
        1) - 60m","eo:bands":[{"name":"coastal","common_name":"coastal","description":"Coastal
        aerosol (band 1)","center_wavelength":0.443,"full_width_half_max":0.027}],"gsd":60,"proj:shape":[1830,1830],"proj:transform":[60,0,499980,0,-60,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":60,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"granule_metadata":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/granule_metadata.xml","type":"application/xml","roles":["metadata"]},"green":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/B03.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Green (band 3) - 10m","eo:bands":[{"name":"green","common_name":"green","description":"Green
        (band 3)","center_wavelength":0.56,"full_width_half_max":0.045}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/B08.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"NIR 1 (band 8) - 10m","eo:bands":[{"name":"nir","common_name":"nir","description":"NIR
        1 (band 8)","center_wavelength":0.842,"full_width_half_max":0.145}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir08":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/B8A.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"NIR 2 (band 8A) - 20m","eo:bands":[{"name":"nir08","common_name":"nir08","description":"NIR
        2 (band 8A)","center_wavelength":0.865,"full_width_half_max":0.033}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir09":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/B09.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"NIR 3 (band 9) - 60m","eo:bands":[{"name":"nir09","common_name":"nir09","description":"NIR
        3 (band 9)","center_wavelength":0.945,"full_width_half_max":0.026}],"gsd":60,"proj:shape":[1830,1830],"proj:transform":[60,0,499980,0,-60,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":60,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"red":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/B04.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Red (band 4) - 10m","eo:bands":[{"name":"red","common_name":"red","description":"Red
        (band 4)","center_wavelength":0.665,"full_width_half_max":0.038}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge1":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/B05.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Red edge 1 (band 5)
        - 20m","eo:bands":[{"name":"rededge1","common_name":"rededge","description":"Red
        edge 1 (band 5)","center_wavelength":0.704,"full_width_half_max":0.019}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge2":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/B06.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Red edge 2 (band 6)
        - 20m","eo:bands":[{"name":"rededge2","common_name":"rededge","description":"Red
        edge 2 (band 6)","center_wavelength":0.74,"full_width_half_max":0.018}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge3":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/B07.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Red edge 3 (band 7)
        - 20m","eo:bands":[{"name":"rededge3","common_name":"rededge","description":"Red
        edge 3 (band 7)","center_wavelength":0.783,"full_width_half_max":0.028}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"scl":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/SCL.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Scene classification
        map (SCL)","proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint8","spatial_resolution":20}],"roles":["data","reflectance"]},"swir16":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/B11.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"SWIR 1 (band 11) -
        20m","eo:bands":[{"name":"swir16","common_name":"swir16","description":"SWIR
        1 (band 11)","center_wavelength":1.61,"full_width_half_max":0.143}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"swir22":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/B12.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"SWIR 2 (band 12) -
        20m","eo:bands":[{"name":"swir22","common_name":"swir22","description":"SWIR
        2 (band 12)","center_wavelength":2.19,"full_width_half_max":0.242}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"thumbnail":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/thumbnail.jpg","type":"image/jpeg","title":"Thumbnail
        image","roles":["thumbnail"]},"tileinfo_metadata":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/tileinfo_metadata.json","type":"application/json","roles":["metadata"]},"visual":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/TCI.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"True color image","eo:bands":[{"name":"red","common_name":"red","description":"Red
        (band 4)","center_wavelength":0.665,"full_width_half_max":0.038},{"name":"green","common_name":"green","description":"Green
        (band 3)","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"blue","common_name":"blue","description":"Blue
        (band 2)","center_wavelength":0.49,"full_width_half_max":0.098}],"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,1600000],"roles":["visual"]},"wvp":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/18/C/WA/2025/1/S2B_18CWA_20250107_1_L2A/WVP.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Water vapour (WVP)","proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"unit":"cm","scale":0.001,"offset":0}],"roles":["data","reflectance"]},"aot-jp2":{"href":"s3://sentinel-s2-l2a/tiles/18/C/WA/2025/1/7/1/AOT.jp2","type":"image/jp2","title":"Aerosol
        optical thickness (AOT)","proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.001,"offset":0}],"roles":["data","reflectance"]},"blue-jp2":{"href":"s3://sentinel-s2-l2a/tiles/18/C/WA/2025/1/7/1/B02.jp2","type":"image/jp2","title":"Blue
        (band 2) - 10m","eo:bands":[{"name":"blue","common_name":"blue","description":"Blue
        (band 2)","center_wavelength":0.49,"full_width_half_max":0.098}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"coastal-jp2":{"href":"s3://sentinel-s2-l2a/tiles/18/C/WA/2025/1/7/1/B01.jp2","type":"image/jp2","title":"Coastal
        aerosol (band 1) - 60m","eo:bands":[{"name":"coastal","common_name":"coastal","description":"Coastal
        aerosol (band 1)","center_wavelength":0.443,"full_width_half_max":0.027}],"gsd":60,"proj:shape":[1830,1830],"proj:transform":[60,0,499980,0,-60,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":60,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"green-jp2":{"href":"s3://sentinel-s2-l2a/tiles/18/C/WA/2025/1/7/1/B03.jp2","type":"image/jp2","title":"Green
        (band 3) - 10m","eo:bands":[{"name":"green","common_name":"green","description":"Green
        (band 3)","center_wavelength":0.56,"full_width_half_max":0.045}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir-jp2":{"href":"s3://sentinel-s2-l2a/tiles/18/C/WA/2025/1/7/1/B08.jp2","type":"image/jp2","title":"NIR
        1 (band 8) - 10m","eo:bands":[{"name":"nir","common_name":"nir","description":"NIR
        1 (band 8)","center_wavelength":0.842,"full_width_half_max":0.145}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir08-jp2":{"href":"s3://sentinel-s2-l2a/tiles/18/C/WA/2025/1/7/1/B8A.jp2","type":"image/jp2","title":"NIR
        2 (band 8A) - 20m","eo:bands":[{"name":"nir08","common_name":"nir08","description":"NIR
        2 (band 8A)","center_wavelength":0.865,"full_width_half_max":0.033}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir09-jp2":{"href":"s3://sentinel-s2-l2a/tiles/18/C/WA/2025/1/7/1/B09.jp2","type":"image/jp2","title":"NIR
        3 (band 9) - 60m","eo:bands":[{"name":"nir09","common_name":"nir09","description":"NIR
        3 (band 9)","center_wavelength":0.945,"full_width_half_max":0.026}],"gsd":60,"proj:shape":[1830,1830],"proj:transform":[60,0,499980,0,-60,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":60,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"red-jp2":{"href":"s3://sentinel-s2-l2a/tiles/18/C/WA/2025/1/7/1/B04.jp2","type":"image/jp2","title":"Red
        (band 4) - 10m","eo:bands":[{"name":"red","common_name":"red","description":"Red
        (band 4)","center_wavelength":0.665,"full_width_half_max":0.038}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge1-jp2":{"href":"s3://sentinel-s2-l2a/tiles/18/C/WA/2025/1/7/1/B05.jp2","type":"image/jp2","title":"Red
        edge 1 (band 5) - 20m","eo:bands":[{"name":"rededge1","common_name":"rededge","description":"Red
        edge 1 (band 5)","center_wavelength":0.704,"full_width_half_max":0.019}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge2-jp2":{"href":"s3://sentinel-s2-l2a/tiles/18/C/WA/2025/1/7/1/B06.jp2","type":"image/jp2","title":"Red
        edge 2 (band 6) - 20m","eo:bands":[{"name":"rededge2","common_name":"rededge","description":"Red
        edge 2 (band 6)","center_wavelength":0.74,"full_width_half_max":0.018}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge3-jp2":{"href":"s3://sentinel-s2-l2a/tiles/18/C/WA/2025/1/7/1/B07.jp2","type":"image/jp2","title":"Red
        edge 3 (band 7) - 20m","eo:bands":[{"name":"rededge3","common_name":"rededge","description":"Red
        edge 3 (band 7)","center_wavelength":0.783,"full_width_half_max":0.028}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"scl-jp2":{"href":"s3://sentinel-s2-l2a/tiles/18/C/WA/2025/1/7/1/SCL.jp2","type":"image/jp2","title":"Scene
        classification map (SCL)","proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint8","spatial_resolution":20}],"roles":["data","reflectance"]},"swir16-jp2":{"href":"s3://sentinel-s2-l2a/tiles/18/C/WA/2025/1/7/1/B11.jp2","type":"image/jp2","title":"SWIR
        1 (band 11) - 20m","eo:bands":[{"name":"swir16","common_name":"swir16","description":"SWIR
        1 (band 11)","center_wavelength":1.61,"full_width_half_max":0.143}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"swir22-jp2":{"href":"s3://sentinel-s2-l2a/tiles/18/C/WA/2025/1/7/1/B12.jp2","type":"image/jp2","title":"SWIR
        2 (band 12) - 20m","eo:bands":[{"name":"swir22","common_name":"swir22","description":"SWIR
        2 (band 12)","center_wavelength":2.19,"full_width_half_max":0.242}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"visual-jp2":{"href":"s3://sentinel-s2-l2a/tiles/18/C/WA/2025/1/7/1/TCI.jp2","type":"image/jp2","title":"True
        color image","eo:bands":[{"name":"red","common_name":"red","description":"Red
        (band 4)","center_wavelength":0.665,"full_width_half_max":0.038},{"name":"green","common_name":"green","description":"Green
        (band 3)","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"blue","common_name":"blue","description":"Blue
        (band 2)","center_wavelength":0.49,"full_width_half_max":0.098}],"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,1600000],"roles":["visual"]},"wvp-jp2":{"href":"s3://sentinel-s2-l2a/tiles/18/C/WA/2025/1/7/1/WVP.jp2","type":"image/jp2","title":"Water
        vapour (WVP)","proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,1600000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"unit":"cm","scale":0.001,"offset":0}],"roles":["data","reflectance"]}},"bbox":[-71.58890212646519,-75.77372776733634,-70.99533887821802,-75.65162893398646],"stac_extensions":["https://stac-extensions.github.io/processing/v1.1.0/schema.json","https://stac-extensions.github.io/projection/v1.1.0/schema.json","https://stac-extensions.github.io/raster/v1.1.0/schema.json","https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/mgrs/v1.0.0/schema.json","https://stac-extensions.github.io/grid/v1.0.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json"],"collection":"sentinel-2-l2a"},{"type":"Feature","stac_version":"1.0.0","id":"S2B_19CEQ_20250107_1_L2A","properties":{"created":"2025-01-07T16:17:37.366Z","platform":"sentinel-2b","constellation":"sentinel-2","instruments":["msi"],"eo:cloud_cover":99.990654,"proj:epsg":32719,"mgrs:utm_zone":19,"mgrs:latitude_band":"C","mgrs:grid_square":"EQ","grid:code":"MGRS-19CEQ","view:sun_azimuth":65.3408303771346,"view:sun_elevation":28.2716727391429,"s2:degraded_msi_data_percentage":0.0415,"s2:nodata_pixel_percentage":[...]
- request:
    body: '{"bbox": [29.386939787289162, 53.16233383426039, 29.389256239840616, 53.16363607273192],
      "datetime": "2023-11-01T00:00:00Z/2023-11-10T23:59:59Z", "collections": ["sentinel-2-l2a"],
      "query": {"constellation": {"eq": "sentinel-3"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":0,"returned":0},"numberMatched":0,"numberReturned":0,"features":[],"links":[{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"}]}'
    headers:
      Content-Type:
      - application/geo+json; charset=utf-8
      etag:
      - W/"111-A1xjyDwS7y12Oh8zwEPlylWyk2Q"
      x-amz-apigw-id:
      - EBt7XHhBPHcEOqw=
      x-amzn-Remapped-content-length:
      - '273'
      x-amzn-RequestId:
      - d752a5be-4299-484c-aaf1-0583378685de
    status:
      code: 200
      message: OK
version: 1
