interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://s3.eu-central-1.wasabisys.com/stac/odse/catalog.json
  response:
    body:
      string: "{\n  \"type\": \"Catalog\",\n  \"id\": \"stac\",\n  \"stac_version\":
        \"1.0.0\",\n  \"description\": \"Spatio-Temporal Asset Catalog for European-wide
        layers provided by [EcoDataCube](http://EcoDataCube.eu).\",\n  \"links\":
        [\n    {\n      \"rel\": \"root\",\n      \"href\": \"./catalog.json\",\n
        \     \"type\": \"application/json\",\n      \"title\": \"EcoDataCube\"\n
        \   },\n    {\n      \"rel\": \"child\",\n      \"href\": \"./accum.precipitation_chelsa.montlhy/collection.json\",\n
        \     \"type\": \"application/json\",\n      \"title\": \"CHELSA Monthly accumulated
        precipitation\"\n    },\n    {\n      \"rel\": \"child\",\n      \"href\":
        \"./soil.types_ensemble_prob/collection.json\",\n      \"type\": \"application/json\",\n
        \     \"title\": \"AI4SoilHealth: Soil type probability\"\n    },\n    {\n[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://s3.eu-central-1.wasabisys.com/stac/odse/lcv_blue_landsat.glad.ard/lcv_blue_landsat.glad.ard_1999.12.02..2000.03.20/lcv_blue_landsat.glad.ard_1999.12.02..2000.03.20.json
  response:
    body:
      string: "{\n  \"type\": \"Feature\",\n  \"stac_version\": \"1.0.0\",\n  \"id\":
        \"lcv_blue_landsat.glad.ard_1999.12.02..2000.03.20\",\n  \"properties\": {\n
        \   \"start_datetime\": \"1999-12-02\",\n    \"end_datetime\": \"2000-03-20\",\n
        \   \"gsd\": \"30\",\n    \"instruments\": [\n      \"TM\",\n      \"ETM+\",\n
        \     \"OLI\"\n    ],\n    \"platform\": \"landsat\",\n    \"datetime\": \"1999-12-02T00:00:00Z\"\n
        \ },\n  \"geometry\": {\n    \"type\": \"Polygon\",\n    \"coordinates\":
        [\n      [\n        [\n          -23.550818268711048,\n          24.399543432891665\n
        \       ],\n        [\n          -23.550818268711048,\n          77.69295185585888\n
        \       ],\n        [\n          63.352379098951936,\n          77.69295185585888\n
        \       ],\n        [\n          63.352379098951936,\n          24.399543432891665\n
        \       ],\n        [\n          -23.550818268711048,\n          24.399543432891665\n
        \       ]\n      ]\n    ]\n  },\n  \"links\": [\n    {\n      \"rel\": \"root\",\n
        \     \"href\": \"../../catalog.json\",\n      \"type\": \"application/json\",\n
        \     \"title\": \"OpenDataScience Europe\"\n    },\n    {\n      \"rel\":
        \"collection\",\n      \"href\": \"../collection.json\",\n      \"type\":
        \"application/json\",\n      \"title\": \"Quarterly blue band of GLAD landsat
        ARD (2000\\u20132020)\"\n    },\n    {\n      \"rel\": \"parent\",\n      \"href\":
        \"../collection.json\",\n      \"type\": \"application/json\",\n      \"title\":
        \"Quarterly blue band of GLAD landsat ARD (2000\\u20132020)\"\n    }\n  ],\n
        \ \"assets\": {\n    \"blue_p50\": {\n      \"href\": \"https://s3.eu-central-1.wasabisys.com/eumap/lcv/lcv_blue_landsat.glad.ard_p50_30m_0..0cm_1999.12.02..2000.03.20_eumap_epsg3035_v1.1.tif\",\n
        \     \"type\": \"image/tiff; application=geotiff\",\n      \"main\": true,\n
        \     \"roles\": [\n        \"data\"\n      ]\n    },\n    \"blue_p25\": {\n
        \     \"href\": \"https://s3.eu-central-1.wasabisys.com/eumap/lcv/lcv_blue_landsat.glad.ard_p25_30m_0..0cm_1999.12.02..2000.03.20_eumap_epsg3035_v1.1.tif\",\n
        \     \"type\": \"image/tiff; application=geotiff\",\n      \"roles\": [\n
        \       \"data\"\n      ]\n    },\n    \"blue_p75\": {\n      \"href\": \"https://s3.eu-central-1.wasabisys.com/eumap/lcv/lcv_blue_landsat.glad.ard_p75_30m_0..0cm_1999.12.02..2000.03.20_eumap_epsg3035_v1.1.tif\",\n
        \     \"type\": \"image/tiff; application=geotiff\",\n      \"roles\": [\n
        \       \"data\"\n      ]\n    },\n    \"qa_f\": {\n      \"href\": \"https://s3.eu-central-1.wasabisys.com/eumap/lcv/lcv_qa_landsat.glad.ard_f_30m_0..0cm_1999.12.02..2000.03.20_eumap_epsg3035_v1.1.tif\",\n
        \     \"type\": \"image/tiff; application=geotiff\",\n      \"roles\": [\n
        \       \"data\"\n      ]\n    },\n    \"thumbnail\": {\n      \"href\": \"https://s3.eu-central-1.wasabisys.com/stac/odse/lcv_blue_landsat.glad.ard/lcv_blue_landsat.glad.ard_1999.12.02..2000.03.20/lcv_blue_landsat.glad.ard_p50_30m_0..0cm_1999.12.02..2000.03.20_eumap_epsg3035_v1.1.png\",\n
        \     \"type\": \"image/png\",\n      \"roles\": [\n        \"thumbnail\"\n
        \     ]\n    },\n    \"blue_p25_preview\": {\n      \"href\": \"https://s3.eu-central-1.wasabisys.com/stac/odse/lcv_blue_landsat.glad.ard/lcv_blue_landsat.glad.ard_1999.12.02..2000.03.20/lcv_blue_landsat.glad.ard_p25_30m_0..0cm_1999.12.02..2000.03.20_eumap_epsg3035_v1.1.png\",\n
        \     \"type\": \"image/png\",\n      \"roles\": []\n    },\n    \"blue_p75_preview\":
        {\n      \"href\": \"https://s3.eu-central-1.wasabisys.com/stac/odse/lcv_blue_landsat.glad.ard/lcv_blue_landsat.glad.ard_1999.12.02..2000.03.20/lcv_blue_landsat.glad.ard_p75_30m_0..0cm_1999.12.02..2000.03.20_eumap_epsg3035_v1.1.png\",\n
        \     \"type\": \"image/png\",\n      \"roles\": []\n    },\n    \"qa_f_preview\":
        {\n      \"href\": \"https://s3.eu-central-1.wasabisys.com/stac/odse/lcv_blue_landsat.glad.ard/lcv_blue_landsat.glad.ard_1999.12.02..2000.03.20/lcv_qa_landsat.glad.ard_f_30m_0..0cm_1999.12.02..2000.03.20_eumap_epsg3035_v1.1.png\",\n
        \     \"type\": \"image/png\",\n      \"roles\": []\n    }\n  },\n  \"bbox\":
        [\n    -23.550818268711048,\n    24.399543432891665,\n    63.352379098951936,\n
        \   77.69295185585888\n  ],\n  \"stac_extensions\": [\n    \"https://stac-extensions.github.io/eo/v1.0.0/schema.json\"\n
        \ ],\n  \"collection\": \"lcv_blue_landsat.glad.ard\"\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"751b3e3d2f8eaffcf4ecd41619ec1fae"'
      Last-Modified:
      - Thu, 19 May 2022 19:07:42 GMT
      x-amz-request-id:
      - 7A7AF6612B735C76:A
      x-wasabi-cm-reference-id:
      - 1752056353173 130.117.252.108 ConID:4490877125/EngineConID:43237850/Core:54
    status:
      code: 200
      message: OK
[...]
