interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1
  response:
    body:
      string: '{"type":"Catalog","id":"cdse-stac","title":"Copernicus Data Space Ecosystem
        (CDSE) asset-level STAC catalogue","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        Asset Catalog) API, which follows the open STAC specification, enables users
        to access detailed asset-level metadata, including spatial information, temporal
        coverage, and data specifications. This standardized interface facilitates
        efficient data discovery and retrieval across the extensive collection of
        environmental and scientific resources. More information: https://documentation.dataspace.copernicus.eu/","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/collections/extensions/transaction","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/ogcapi-features#fields","https://api.stacspec.org/v1.0.0/ogcapi-features#query","https://api.stacspec.org/v1.0.0/ogcapi-features#sort","https://api.stacspec.org/v1.0.0/ogcapi-features/extensions/transaction"],"links":[{"rel":"self","type":"application/json","title":"This
        document","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"root","type":"application/json","title":"Root","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"data","type":"application/json","title":"Collections
        available for this Catalog","href":"https://stac.dataspace.copernicus.eu/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://stac.dataspace.copernicus.eu/v1/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search [GET]","href":"https://stac.dataspace.copernicus.eu/v1/search","method":"GET"},{"rel":"search","type":"application/geo+json","title":"STAC
        search [POST]","href":"https://stac.dataspace.copernicus.eu/v1/search","method":"POST"},{"rel":"http://www.opengis.net/def/rel/ogc/1.0/queryables","type":"application/schema+json","title":"Queryables
        available for this Catalog","href":"https://stac.dataspace.copernicus.eu/v1/queryables","method":"GET"},{"rel":"service-desc","type":"application/vnd.oai.openapi+json;version=3.0","title":"OpenAPI
        service description","href":"https://stac.dataspace.copernicus.eu/v1/api"},{"rel":"service-doc","type":"text/html","title":"OpenAPI
        service documentation","href":"https://stac.dataspace.copernicus.eu/v1/api.html"}],"stac_extensions":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections/sentinel-3-syn-2-syn-ntc/items/S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002
  response:
    body:
      string: '{"id":"S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002","bbox":[140.937,-34.5274,156.984,-21.0537],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-3-syn-2-syn-ntc"},{"rel":"parent","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-3-syn-2-syn-ntc"},{"rel":"root","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"self","type":"application/geo+json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-3-syn-2-syn-ntc/items/S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002"},{"rel":"version-history","href":"https://trace.dataspace.copernicus.eu/api/v1/traces/name/S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3.zip","type":"application/json","title":"Product
        history record from the CDSE traceability service"},{"rel":"enclosure","href":"s3://eodata/Sentinel-3/SYNERGY/SY_2_SYN___/2025/07/06/S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3/","type":"application/x-directory","title":"S3
        path to source directory","auth:refs":["s3"],"storage:refs":["cdse-s3","creodias-s3"]}],"assets":{"time":{"href":"s3://eodata/Sentinel-3/SYNERGY/SY_2_SYN___/2025/07/06/S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3/time.nc","alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(1429fdb8-6509-3645-8f40-723829033639)/Nodes(S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3)/Nodes(time.nc)/$value","auth:refs":["oidc"],"storage:refs":[],"alternate:name":"HTTPS"}},"file:size":15652,"file:checksum":"d50110973e102bdfccd04cc801ab5f0d54a260","file:local_path":"S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3/time.nc","type":"application/netcdf","roles":["data"],"title":"Time
        stamps annotation","auth:refs":["s3"],"storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"flags":{"href":"s3://eodata/Sentinel-3/SYNERGY/SY_2_SYN___/2025/07/06/S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3/flags.nc","alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(1429fdb8-6509-3645-8f40-723829033639)/Nodes(S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3)/Nodes(flags.nc)/$value","auth:refs":["oidc"],"storage:refs":[],"alternate:name":"HTTPS"}},"file:size":7679444,"file:checksum":"d50110e628890ec8d35a7e9183e89de1874698","file:local_path":"S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3/flags.nc","type":"application/netcdf","roles":["data"],"title":"Classification
        and quality Flags associated with OLCI, SLSTR and SYNERGY products","auth:refs":["s3"],"storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"product":{"href":"https://download.dataspace.copernicus.eu/odata/v1/Products(1429fdb8-6509-3645-8f40-723829033639)/$value","file:size":656466507,"file:checksum":"d50110f78bef4246335d5fa2906491bb748b7d","file:local_path":"S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3.zip","type":"application/zip","roles":["data","metadata","archive"],"title":"Zipped
        product","auth:refs":["oidc"]},"syn_amin":{"href":"s3://eodata/Sentinel-3/SYNERGY/SY_2_SYN___/2025/07/06/S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3/Syn_AMIN.nc","alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(1429fdb8-6509-3645-8f40-723829033639)/Nodes(S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3)/Nodes(Syn_AMIN.nc)/$value","auth:refs":["oidc"],"storage:refs":[],"alternate:name":"HTTPS"}},"file:size":328862,"file:checksum":"d501101b2d78312dda72ed24c92105567f9065","file:local_path":"S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3/Syn_AMIN.nc","type":"application/netcdf","roles":["data"],"title":"L2
        Aerosol model index number data","auth:refs":["s3"],"storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"thumbnail":{"href":"https://datahub.creodias.eu/odata/v1/Assets(be6a2684-2929-454f-abdb-760af274ebf8)/$value","alternate":{"s3":{"href":"s3://eodata/Sentinel-3/SYNERGY/SY_2_SYN___/2025/07/06/S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3/quicklook.jpg","auth:refs":["s3"],"storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"}},"file:local_path":"S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3/quicklook.jpg","type":"image/jpeg","roles":["thumbnail"],"title":"Thumbnail","alternate:name":"HTTPS"},"syn_aot550":{"href":"s3://eodata/Sentinel-3/SYNERGY/SY_2_SYN___/2025/07/06/S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3/Syn_AOT550.nc","alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(1429fdb8-6509-3645-8f40-723829033639)/Nodes(S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3)/Nodes(Syn_AOT550.nc)/$value","auth:refs":["oidc"],"storage:refs":[],"alternate:name":"HTTPS"}},"file:size":21971503,"file:checksum":"d501104bde1e76256214c103877ff1d3c3b63d","file:local_path":"S3B_SY_2_SYN____20250706T233058_20250706T233358_20250708T043306_0179_108_258_3420_ESA_O_NT_002.SEN3/Syn_AOT550.nc","type":"application/netcdf","bands":[{"name":"S1","description":"Cloud
        screening, vegetation monitoring, aerosol","eo:center_wavelength":0.55427,"eo:full_width_half_max":0.01926},{"name":"S2","description":"NDVI,
        vegetation monitoring, aerosol","eo:center_wavelength":0.65947,"eo:full_width_half_max":0.01925},{"name":"S3","description":"NDVI,
        cloud flagging, pixel co-registration","eo:center_wavelength":0.868,"eo:full_width_half_max":0.0206},{"name":"S5","description":"Cloud
        clearing, ice, snow, vegetation mo[...]
