interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"*BETA* Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC). *BETA*","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fx-yaml","rel":"alternate","type":"application/x-yaml","title":"This
        document as application/x-yaml"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=text%2Fhtml","rel":"alternate","type":"text/html","title":"This
        document as text/html"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/openapi?f=application%2Fvnd.oai.openapi%2Bjson%3Bversion%3D3.0","rel":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1?f=application%2Fjson
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"*BETA* Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC). *BETA*","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
  [...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/search?f=application%2Fgeo%2Bjson
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.0.0/schema.json"],"id":"S5P_DLR_NRTI_01_040201_L3_CF_20240902","collection":"S5P_TROPOMI_L3_P1D_CF","geometry":{"type":"Polygon","coordinates":[[[-180,-90],[180,-90],[180,90],[-180,90],[-180,-90]]]},"bbox":[-180.0,-90.0,180.0,90.0],"properties":{"created":"2024-09-02T04:00:52.500+00:00","updated":"2024-09-02T10:00:56.293+00:00","datetime":"2024-09-02T00:00:00Z","platform":"Sentinel
        5 Precursor","constellation":"Sentinel-5P","instruments":"TROPOMI","license":"CC-BY
        4.0","proj:epsg":4326,"processing:facility":"Remote Sensing Technology Institute
        (IMF)","processing:level":"L3","processing:software":{"UMAS":"4.2.1","UMAS":"4.2.1"},"proj:bbox":[-180.0,-90.0,180.0,90.0],"proj:shape":[1800,3600],"s5p:collection_identifier":"01","s5p:datasource":"Sentinel-5P,
        TROPOMI, space-borne remote sensing","s5p:head_facility":"German Aerospace
        Center (DLR)","s5p:l2_algorithm_version":"UPAS-CLOUD-ROCINN-4.1.0","s5p:processing_mode":"NRTI","s5p:product_name":"cf","s5p:spatial_resolution":"5.5
        x 3.5 km2"},"assets":{"data":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2024/09/02/S5P_DLR_NRTI_01_040201_L3_CF_20240902.nc","type":"application/netcdf","title":"Metadata","description":"Original
        S5P \"CF\" NetCDF File. Can also be loaded as data file and contains important
        metadata information.","roles":["metadata","data"]},"overview":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2024/09/02/S5P_DLR_NRTI_01_040201_L3_CF_20240902_overview.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Overview","description":"Full-resolution
        overview as Cloud-Optimized GeoTiff of the \"radiometric_cloud_fraction\"
        variable.","roles":["overview"]},"cf":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2024/09/02/S5P_DLR_NRTI_01_040201_L3_CF_20240902_cf.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"CF","description":"TROPOMI/S5P
        L3 data of radiometric cloud fraction with a global coverage and a 5.5 x 3.5
        km2 spatial resolution.","raster:bands":[{"data_type":"float32","scale":1.0,"offset":0.0,"sampling":"area","nodata":9.969209968386869E36,"unit":"1","statistics":{"mean":0.4877240590661133,"minimum":-0.0722174271941185,"maximum":1.0681873559951782,"stddev":0.3540523995704194,"valid_percent":36.538124084472656},"histogram":{"count":11,"min":-0.0722174271941185,"max":1.0681873559951782,"buckets":[23251,25054,20025,18679,15670,14412,13087,13047,15960,32380]}}],"roles":["data"]},"thumbnail":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2024/09/02/S5P_DLR_NRTI_01_040201_L3_CF_20240902_thumbnail.png","type":"image/png","title":"Thumbnail","description":"Thumbnail
        of the \"radiometric_cloud_fraction\" variable.","roles":["thumbnail"]},"quicklook":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2024/09/02/S5P_DLR_NRTI_01_040201_L3_CF_20240902.png","type":"image/png","title":"Quicklook","description":"High-resolution
        quicklook of the \"radiometric_cloud_fraction\" variable.","roles":["quicklook"]}},"links":[{"title":"Root","rel":"root","href":"https://geoservice.dlr.de/eoc/ogc/stac/v1?f=application/json","type":"application/json"},{"title":"Parent","rel":"parent","href":"https://geoservice.dlr.de/eoc/ogc/stac/v1?f=[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/collections/S2_L2A_MAJA/items/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C?f=application%2Fgeo%2Bjson
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.0.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json"],"id":"SENTINEL2B_20240901-105547-729_L2A_T32UMF_C","collection":"S2_L2A_MAJA","geometry":{"type":"Polygon","coordinates":[[[7.434602,55.036919],[9.152753,55.04689],[9.14911,54.060112],[7.47192,54.050495],[7.434602,55.036919]]]},"bbox":[7.434601783752,54.050495147705,9.152752876282,55.046890258789],"properties":{"created":"2024-09-03T01:05:11.337+00:00","updated":"2024-09-03T01:05:11.337+00:00","datetime":"2024-09-01T10:46:19.024+00:00","platform":"SENTINEL-2","constellation":"SENTINEL-2","gsd":10.0,"proj:epsg":32632,"sci:doi":"10.15489/ifczsszkcp63","sat:absolute_orbit":51,"eo:cloud_cover":14,"eo:snow_cover":0,"view:incidence_angle":10.054890474344,"view:azimuth":289.427266712498,"view:sun_azimuth":169.53610068966,"processing:facility":"DLR-EOC","processing:lineage":"DLR-EOC","processing:level":"L2A","processing:software":{"CATENA":"1.3"},"eop:sensorType":"OPTICAL"},"assets":{"thumbnail":{"title":"Thumbnail","type":"image/jpeg","roles":["thumbnail"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3_QKL_ALL.jpg"},"data":{"title":"Product
        Download","type":"application/x-zip","roles":["product"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip"},"metadata":{"title":"Original
        Metadata","type":"application/xml","roles":["metadata"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3_QKL_ALL.xml"},"info":{"title":"Product
        Information","type":"application/pdf","roles":["info"],"href":"https://theia.cnes.fr/atdistrib/documents/PSC-NT-411-0362-CNES_01_00_SENTINEL-2A_L2A_Products_Description.pdf"},"CLM_R1":{"title":"Cloud
        Mask (R1 - 10m)","type":"image/tiff; application=geotiff","roles":["data","cloud"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/MASKS/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_CLM_R1.tif","eo:bands":[{"name":"CLM_R1"}],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,6100020.0],"proj:epsg":32632,"gsd":10},"CLM_R2":{"title":"Cloud
        Mask (R2 - 20m)","type":"image/tiff; application=geotiff","roles":["data","cloud"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/MASKS/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_CLM_R2.tif","eo:bands":[{"name":"CLM_R2"}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"EDG_R1":{"title":"Edge
        Mask (R1 - 10m)","type":"image/tiff; application=geotiff","roles":["data"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/MASKS/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_EDG_R1.tif","eo:bands":[{"name":"EDG_R1","description":"edge
        mask coded over 8 bits, 1 useful bit"}],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,6100020.0],"proj:epsg":32632,"proj:shape":[10980,10980],"gsd":20},"EDG_R2":{"title":"Edge
        Mask (R2 - 20m)","type":"image/tiff; application=geotiff","roles":["data"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/MASKS/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_EDG_R2.tif","eo:bands":[{"name":"EDG_R2","description":"edge
        mask coded over 8 bits, 1 useful bit"}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"IAB_R1":{"title":"IAB
        (R1 - 10m)","type":"image/tiff; application=geotiff","roles":["data"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/MASKS/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_IAB_R1.tif","eo:bands":[{"name":"IAB_R1"}],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,6100020.0],"proj:epsg":32632,"gsd":10},"IAB_R2":{"title":"IAB
        (R2 - 20m)","type":"image/tiff; application=geotiff","roles":["data"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/MASKS/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_IAB_R2.tif","eo:bands":[{"name":"IAB_R2"}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"MG2_R1":{"title":"Geophysical
        Mask (R1 - 10m)","type":"image/tiff; application=geotiff","roles":["data"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/MASKS/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_MG2_R1.tif","eo:bands":[{"name":"MG2_R1","description":"geophysical
        mask of level 2, made of 1 band coded over 8 useful bits"}],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,6100020.0],"proj:epsg":32632,"gsd":10},"MG2_R2":{"title":"Geophysical
        Mask (R2 - 20m)","type":"image/tiff; application=geotiff","roles":["data"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/MASKS/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_MG2_R2.tif","eo:bands":[{"name":"MG2_R2","description":"geophysical
        mask of level 2, made of 1 band coded over 8 useful bits"}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"SAT_R1":{"title":"Saturation
        Mask (R1 - 10m)","type":"image/tiff; application=geotiff","roles":["data","saturation"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/MASKS/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_SAT_R1.tif","eo:bands":[{"name":"SAT_R1","description":"Saturation
        mask coded over 8 bits, 1 bit per spectral band (number of useful bits = numberof
        spectral bands)"}],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,6100020.0],"proj:epsg":32632,"gsd":10},"SAT_R2":{"title":"Saturation
        Mask (R1 - 10m)","type":"image/tiff; application=geotiff","roles":["data","saturation"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/MASKS/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_SAT_R2.tif","eo:bands":[{"name":"SAT_R2","description":"Saturation
        mask coded over 8 bits, 1 bit per spectral band (number of useful bits = numberof
        spectral bands)"}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"ATB_R1":{"title":"Atmospheric
        and biophysical parameters (R1 - 10m)","type":"image/tiff; application=geotiff","roles":["data"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_ATB_R1.tif","eo:bands":[{"name":"WVC","description":"Water
        vapor content (WVC) coded over 8 bits"},{"name":"AOT","description":"Aerosol
        optical thickness (AOT) coded over 8 bits"}],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,6100020.0],"proj:epsg":32632,"gsd":10},"ATB_R2":{"title":"Atmospheric
        and biophysical parameters (R2 - 20m)","type":"image/tiff; application=geotiff","roles":["data"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_ATB_R2.tif","eo:bands":[{"name":"WVC","description":"Water
        vapor content (WVC) coded over 8 bits"},{"name":"AOT","description":"Aerosol
        optical thickness (AOT) coded over 8 bits"}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"FRE_B2":{"title":"Surface
        Reflectance Slope Corrected (FRE_B2)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_FRE_B2.tif","eo:bands":[{"name":"FRE_B2","common_name":"blue","description":"Image
        in ground reflectance with the correction of slope effects","center_wavelength":496.6,"full_width_half_max":98}],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,6100020.0],"proj:epsg":32632,"gsd":10},"FRE_B3":{"title":"Surface
        Reflectance Slope Corrected (FRE_B3)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_FRE_B3.tif","eo:bands":[{"name":"FRE_B3","common_name":"green","description":"Image
        in ground reflectance with the correction of slope effects","center_wavelength":560,"full_width_half_max":45}],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,6100020.0],"proj:epsg":32632,"gsd":10},"FRE_B4":{"title":"Surface
        Reflectance Slope Corrected (FRE_B4)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_FRE_B4.tif","eo:bands":[{"name":"FRE_B4","common_name":"red","description":"Image
        in ground reflectance with the correction of slope effects","center_wavelength":664.5,"full_width_half_max":38}],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,6100020.0],"proj:epsg":32632,"gsd":10},"FRE_B5":{"title":"Surface
        Reflectance Slope Corrected (FRE_B5)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_FRE_B5.tif","eo:bands":[{"name":"FRE_B5","common_name":"rededge","description":"Image
        in ground reflectance with the correction of slope effects","center_wavelength":703.9,"full_width_half_max":19}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"FRE_B6":{"title":"Surface
        Reflectance Slope Corrected (FRE_B6)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_FRE_B6.tif","eo:bands":[{"name":"FRE_B6","common_name":"rededge","description":"Image
        in ground reflectance with the correction of slope effects","center_wavelength":740.2,"full_width_half_max":18}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"FRE_B7":{"title":"Surface
        Reflectance Slope Corrected (FRE_B7)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_FRE_B7.tif","eo:bands":[{"name":"FRE_B7","common_name":"rededge","description":"Image
        in ground reflectance with the correction of slope effects","center_wavelength":782.5,"full_width_half_max":28}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"FRE_B8":{"title":"Surface
        Reflectance Slope Corrected (FRE_B8)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_FRE_B8.tif","eo:bands":[{"name":"FRE_B8","common_name":"nir","description":"Image
        in ground reflectance with the correction of slope effects","center_wavelength":835.1,"full_width_half_max":148}],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,6100020.0],"proj:epsg":32632,"gsd":10},"FRE_B8A":{"title":"Surface
        Reflectance Slope Corrected (FRE_B8A)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_FRE_B8A.tif","eo:bands":[{"name":"FRE_B8A","common_name":"nir08","description":"Image
        in ground reflectance with the correction of slope effects","center_wavelength":864.8,"full_width_half_max":33}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"FRE_B11":{"title":"Surface
        Reflectance Slope Corrected (FRE_B11)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_FRE_B11.tif","eo:bands":[{"name":"FRE_B11","common_name":"swir16","description":"Image
        in ground reflectance with the correction of slope effects","center_wavelength":1613.7,"full_width_half_max":143}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"FRE_B12":{"title":"Surface
        Reflectance Slope Corrected (FRE_B12)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_FRE_B12.tif","eo:bands":[{"name":"FRE_B12","common_name":"swir22","description":"Image
        in ground reflectance with the correction of slope effects","center_wavelength":2202.4,"full_width_half_max":242}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"SRE_B2":{"title":"Surface
        Reflectance (SRE_B2)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_SRE_B2.tif","eo:bands":[{"name":"SRE_B2","common_name":"blue","description":"Image
        in ground reflectance without the correction of slope effects","center_wavelength":496.6,"full_width_half_max":98}],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,6100020.0],"proj:epsg":32632,"gsd":10},"SRE_B3":{"title":"Surface
        Reflectance (SRE_B3)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_SRE_B3.tif","eo:bands":[{"name":"SRE_B3","common_name":"green","description":"Image
        in ground reflectance without the correction of slope effects","center_wavelength":560,"full_width_half_max":45}],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,6100020.0],"proj:epsg":32632,"gsd":10},"SRE_B4":{"title":"Surface
        Reflectance (SRE_B4)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_SRE_B4.tif","eo:bands":[{"name":"SRE_B4","common_name":"red","description":"Image
        in ground reflectance without the correction of slope effects","center_wavelength":664.5,"full_width_half_max":38}],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,6100020.0],"proj:epsg":32632,"gsd":10},"SRE_B5":{"title":"Surface
        Reflectance (SRE_B5)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_SRE_B5.tif","eo:bands":[{"name":"SRE_B5","common_name":"rededge","description":"Image
        in ground reflectance without the correction of slope effects","center_wavelength":703.9,"full_width_half_max":19}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"SRE_B6":{"title":"Surface
        Reflectance (SRE_B6)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_SRE_B6.tif","eo:bands":[{"name":"SRE_B6","common_name":"rededge","description":"Image
        in ground reflectance without the correction of slope effects","center_wavelength":740.2,"full_width_half_max":18}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"SRE_B7":{"title":"Surface
        Reflectance (SRE_B7)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_SRE_B7.tif","eo:bands":[{"name":"SRE_B7","common_name":"rededge","description":"Image
        in ground reflectance without the correction of slope effects","center_wavelength":782.5,"full_width_half_max":28}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"SRE_B8":{"title":"Surface
        Reflectance (SRE_B8)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_SRE_B8.tif","eo:bands":[{"name":"SRE_B8","common_name":"nir","description":"Image
        in ground reflectance without the correction of slope effects","center_wavelength":835.1,"full_width_half_max":148}],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,6100020.0],"proj:epsg":32632,"gsd":10},"SRE_B8A":{"title":"Surface
        Reflectance (SRE_B8A)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_SRE_B8A.tif","eo:bands":[{"name":"SRE_B8A","common_name":"nir08","description":"Image
        in ground reflectance without the correction of slope effects","center_wavelength":864.8,"full_width_half_max":33}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"SRE_B11":{"title":"Surface
        Reflectance (SRE_B11)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_SRE_B11.tif","eo:bands":[{"name":"SRE_B11","common_name":"swir16","description":"Image
        in ground reflectance without the correction of slope effects","center_wavelength":1613.7,"full_width_half_max":143}],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,6100020.0],"proj:epsg":32632,"gsd":20},"SRE_B12":{"title":"Surface
        Reflectance (SRE_B12)","type":"image/tiff; application=geotiff","roles":["data","reflectance"],"href":"https://download.geoservice.dlr.de/S2_L2A_MAJA/files/32/U/MF/2024/09/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_V1-3.zip#SENTINEL2B_20240901-105547-729_L2A_T32UMF_C/SENTINEL2B_20240901-105547-729_L2A_T32UMF_C_SRE_B12.tif","eo:bands":[{"name":"SRE_B12","common_name":"swir22","description":"Image
        in ground reflectance without the correction of slope effects","ce[...]
