interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections
  response:
    body:
      string: "{\"collections\":[{\"type\":\"Collection\",\"id\":\"sentinel-2-pre-c1-l2a\",\"title\":\"Sentinel-2
        Pre-Collection 1 Level-2A \",\"description\":\"Sentinel-2 Pre-Collection 1
        Level-2A (baseline < 05.00), with data and metadata matching collection sentinel-2-c1-l2a\",\"stac_version\":\"1.0.0\",\"links\":[{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-pre-c1-l2a\"},{\"rel\":\"cite-as\",\"href\":\"https://doi.org/10.5270/S2_[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a/items?collections=sentinel-2-l2a
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":38254394,"returned":10},"numberMatched":38254394,"numberReturned":10,"features":[{"type":"Feature","stac_version":"1.0.0","id":"S2A_43FEV_20241125_0_L2A","properties":{"created":"2024-11-25T07:19:39.618Z","platform":"sentinel-2a","constellation":"sentinel-2","instruments":["msi"],"eo:cloud_cover":99.997967,"proj:epsg":32743,"mgrs:utm_zone":43,"mgrs:latitude_band":"F","mgrs:grid_square":"EV","grid:code":"MGRS-43FEV","view:sun_azimuth":45.6969961751434,"view:sun_elevation":49.3654554101866,"s2:degraded_msi_data_percentage":0.0279,"s2:nodata_pixel_percentage":95.107508,"s2:saturated_defective_pixel_percentage":0,"s2:cloud_shadow_percentage":0,"s2:vegetation_percentage":0,"s2:not_vegetated_percentage":0,"s2:water_percentage":0.002034,"s2:unclassified_percentage":0,"s2:medium_proba_clouds_percentage":0.490709,"s2:high_proba_clouds_percentage":99.507254,"s2:thin_cirrus_percentage":0,"s2:snow_ice_percentage":0,"s2:product_type":"S2MSI2A","s2:processing_baseline":"05.11","s2:product_uri":"S2A_MSIL2A_20241125T044331_N0511_R047_T43FEV_20241125T062553.SAFE","s2:generation_time":"2024-11-25T06:25:53.000000Z","s2:datatake_id":"GS2A_20241125T044331_049236_N05.11","s2:datatake_type":"INS-NOBS","s2:datastrip_id":"S2A_OPER_MSI_L2A_DS_2APS_20241125T062553_S20241125T044327_N05.11","s2:granule_id":"S2A_OPER_MSI_L2A_TL_2APS_20241125T062553_A049236_T43FEV_N05.11","s2:reflectance_conversion_factor":1.025218906526,"datetime":"2024-11-25T04:43:47.847000Z","s2:sequence":"0","earthsearch:s3_path":"s3://sentinel-cogs/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A","earthsearch:payload_id":"roda-sentinel2/workflow-sentinel2-to-stac/e887a43193d6796f8bddd95f5d777632","earthsearch:boa_offset_applied":true,"processing:software":{"sentinel2-to-stac":"0.1.1"},"updated":"2024-11-25T07:19:39.618Z"},"geometry":{"type":"Polygon","coordinates":[[[75.76823470822767,-54.1456623490172],[75.76826931447796,-54.147531621785674],[75.78074279581506,-54.14745138698711],[75.92915643569677,-54.17425126549727],[76.15013779992712,-54.2096947804711],[76.48364901249138,-54.270787012137916],[76.60193427816763,-54.30021871427715],[76.68774558331631,-54.31875524753059],[76.68032093291404,-54.136386625678945],[75.76823470822767,-54.1456623490172]]]},"links":[{"rel":"self","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a/items/S2A_43FEV_20241125_0_L2A"},{"rel":"canonical","href":"s3://sentinel-cogs/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/S2A_43FEV_20241125_0_L2A.json","type":"application/json"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice"},{"rel":"derived_from","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l1c/items/S2A_43FEV_20241125_0_L1C","type":"application/geo+json"},{"rel":"parent","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a"},{"rel":"collection","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"thumbnail","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a/items/S2A_43FEV_20241125_0_L2A/thumbnail"}],"assets":{"aot":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/AOT.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Aerosol optical thickness
        (AOT)","proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.001,"offset":0}],"roles":["data","reflectance"]},"blue":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/B02.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Blue (band 2) - 10m","eo:bands":[{"name":"blue","common_name":"blue","description":"Blue
        (band 2)","center_wavelength":0.49,"full_width_half_max":0.098}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"coastal":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/B01.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Coastal aerosol (band
        1) - 60m","eo:bands":[{"name":"coastal","common_name":"coastal","description":"Coastal
        aerosol (band 1)","center_wavelength":0.443,"full_width_half_max":0.027}],"gsd":60,"proj:shape":[1830,1830],"proj:transform":[60,0,499980,0,-60,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":60,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"granule_metadata":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/granule_metadata.xml","type":"application/xml","roles":["metadata"]},"green":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/B03.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Green (band 3) - 10m","eo:bands":[{"name":"green","common_name":"green","description":"Green
        (band 3)","center_wavelength":0.56,"full_width_half_max":0.045}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/B08.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"NIR 1 (band 8) - 10m","eo:bands":[{"name":"nir","common_name":"nir","description":"NIR
        1 (band 8)","center_wavelength":0.842,"full_width_half_max":0.145}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir08":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/B8A.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"NIR 2 (band 8A) - 20m","eo:bands":[{"name":"nir08","common_name":"nir08","description":"NIR
        2 (band 8A)","center_wavelength":0.865,"full_width_half_max":0.033}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir09":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/B09.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"NIR 3 (band 9) - 60m","eo:bands":[{"name":"nir09","common_name":"nir09","description":"NIR
        3 (band 9)","center_wavelength":0.945,"full_width_half_max":0.026}],"gsd":60,"proj:shape":[1830,1830],"proj:transform":[60,0,499980,0,-60,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":60,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"red":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/B04.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Red (band 4) - 10m","eo:bands":[{"name":"red","common_name":"red","description":"Red
        (band 4)","center_wavelength":0.665,"full_width_half_max":0.038}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge1":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/B05.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Red edge 1 (band 5)
        - 20m","eo:bands":[{"name":"rededge1","common_name":"rededge","description":"Red
        edge 1 (band 5)","center_wavelength":0.704,"full_width_half_max":0.019}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge2":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/B06.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Red edge 2 (band 6)
        - 20m","eo:bands":[{"name":"rededge2","common_name":"rededge","description":"Red
        edge 2 (band 6)","center_wavelength":0.74,"full_width_half_max":0.018}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge3":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/B07.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Red edge 3 (band 7)
        - 20m","eo:bands":[{"name":"rededge3","common_name":"rededge","description":"Red
        edge 3 (band 7)","center_wavelength":0.783,"full_width_half_max":0.028}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"scl":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/SCL.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Scene classification
        map (SCL)","proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint8","spatial_resolution":20}],"roles":["data","reflectance"]},"swir16":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/B11.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"SWIR 1 (band 11) -
        20m","eo:bands":[{"name":"swir16","common_name":"swir16","description":"SWIR
        1 (band 11)","center_wavelength":1.61,"full_width_half_max":0.143}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"swir22":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/B12.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"SWIR 2 (band 12) -
        20m","eo:bands":[{"name":"swir22","common_name":"swir22","description":"SWIR
        2 (band 12)","center_wavelength":2.19,"full_width_half_max":0.242}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"thumbnail":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/thumbnail.jpg","type":"image/jpeg","title":"Thumbnail
        image","roles":["thumbnail"]},"tileinfo_metadata":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/tileinfo_metadata.json","type":"application/json","roles":["metadata"]},"visual":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/TCI.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"True color image","eo:bands":[{"name":"red","common_name":"red","description":"Red
        (band 4)","center_wavelength":0.665,"full_width_half_max":0.038},{"name":"green","common_name":"green","description":"Green
        (band 3)","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"blue","common_name":"blue","description":"Blue
        (band 2)","center_wavelength":0.49,"full_width_half_max":0.098}],"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,4000000],"roles":["visual"]},"wvp":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/43/F/EV/2024/11/S2A_43FEV_20241125_0_L2A/WVP.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Water vapour (WVP)","proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"unit":"cm","scale":0.001,"offset":0}],"roles":["data","reflectance"]},"aot-jp2":{"href":"s3://sentinel-s2-l2a/tiles/43/F/EV/2024/11/25/0/AOT.jp2","type":"image/jp2","title":"Aerosol
        optical thickness (AOT)","proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.001,"offset":0}],"roles":["data","reflectance"]},"blue-jp2":{"href":"s3://sentinel-s2-l2a/tiles/43/F/EV/2024/11/25/0/B02.jp2","type":"image/jp2","title":"Blue
        (band 2) - 10m","eo:bands":[{"name":"blue","common_name":"blue","description":"Blue
        (band 2)","center_wavelength":0.49,"full_width_half_max":0.098}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"coastal-jp2":{"href":"s3://sentinel-s2-l2a/tiles/43/F/EV/2024/11/25/0/B01.jp2","type":"image/jp2","title":"Coastal
        aerosol (band 1) - 60m","eo:bands":[{"name":"coastal","common_name":"coastal","description":"Coastal
        aerosol (band 1)","center_wavelength":0.443,"full_width_half_max":0.027}],"gsd":60,"proj:shape":[1830,1830],"proj:transform":[60,0,499980,0,-60,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":60,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"green-jp2":{"href":"s3://sentinel-s2-l2a/tiles/43/F/EV/2024/11/25/0/B03.jp2","type":"image/jp2","title":"Green
        (band 3) - 10m","eo:bands":[{"name":"green","common_name":"green","description":"Green
        (band 3)","center_wavelength":0.56,"full_width_half_max":0.045}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir-jp2":{"href":"s3://sentinel-s2-l2a/tiles/43/F/EV/2024/11/25/0/B08.jp2","type":"image/jp2","title":"NIR
        1 (band 8) - 10m","eo:bands":[{"name":"nir","common_name":"nir","description":"NIR
        1 (band 8)","center_wavelength":0.842,"full_width_half_max":0.145}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir08-jp2":{"href":"s3://sentinel-s2-l2a/tiles/43/F/EV/2024/11/25/0/B8A.jp2","type":"image/jp2","title":"NIR
        2 (band 8A) - 20m","eo:bands":[{"name":"nir08","common_name":"nir08","description":"NIR
        2 (band 8A)","center_wavelength":0.865,"full_width_half_max":0.033}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir09-jp2":{"href":"s3://sentinel-s2-l2a/tiles/43/F/EV/2024/11/25/0/B09.jp2","type":"image/jp2","title":"NIR
        3 (band 9) - 60m","eo:bands":[{"name":"nir09","common_name":"nir09","description":"NIR
        3 (band 9)","center_wavelength":0.945,"full_width_half_max":0.026}],"gsd":60,"proj:shape":[1830,1830],"proj:transform":[60,0,499980,0,-60,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":60,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"red-jp2":{"href":"s3://sentinel-s2-l2a/tiles/43/F/EV/2024/11/25/0/B04.jp2","type":"image/jp2","title":"Red
        (band 4) - 10m","eo:bands":[{"name":"red","common_name":"red","description":"Red
        (band 4)","center_wavelength":0.665,"full_width_half_max":0.038}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge1-jp2":{"href":"s3://sentinel-s2-l2a/tiles/43/F/EV/2024/11/25/0/B05.jp2","type":"image/jp2","title":"Red
        edge 1 (band 5) - 20m","eo:bands":[{"name":"rededge1","common_name":"rededge","description":"Red
        edge 1 (band 5)","center_wavelength":0.704,"full_width_half_max":0.019}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge2-jp2":{"href":"s3://sentinel-s2-l2a/tiles/43/F/EV/2024/11/25/0/B06.jp2","type":"image/jp2","title":"Red
        edge 2 (band 6) - 20m","eo:bands":[{"name":"rededge2","common_name":"rededge","description":"Red
        edge 2 (band 6)","center_wavelength":0.74,"full_width_half_max":0.018}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge3-jp2":{"href":"s3://sentinel-s2-l2a/tiles/43/F/EV/2024/11/25/0/B07.jp2","type":"image/jp2","title":"Red
        edge 3 (band 7) - 20m","eo:bands":[{"name":"rededge3","common_name":"rededge","description":"Red
        edge 3 (band 7)","center_wavelength":0.783,"full_width_half_max":0.028}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"scl-jp2":{"href":"s3://sentinel-s2-l2a/tiles/43/F/EV/2024/11/25/0/SCL.jp2","type":"image/jp2","title":"Scene
        classification map (SCL)","proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint8","spatial_resolution":20}],"roles":["data","reflectance"]},"swir16-jp2":{"href":"s3://sentinel-s2-l2a/tiles/43/F/EV/2024/11/25/0/B11.jp2","type":"image/jp2","title":"SWIR
        1 (band 11) - 20m","eo:bands":[{"name":"swir16","common_name":"swir16","description":"SWIR
        1 (band 11)","center_wavelength":1.61,"full_width_half_max":0.143}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"swir22-jp2":{"href":"s3://sentinel-s2-l2a/tiles/43/F/EV/2024/11/25/0/B12.jp2","type":"image/jp2","title":"SWIR
        2 (band 12) - 20m","eo:bands":[{"name":"swir22","common_name":"swir22","description":"SWIR
        2 (band 12)","center_wavelength":2.19,"full_width_half_max":0.242}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"visual-jp2":{"href":"s3://sentinel-s2-l2a/tiles/43/F/EV/2024/11/25/0/TCI.jp2","type":"image/jp2","title":"True
        color image","eo:bands":[{"name":"red","common_name":"red","description":"Red
        (band 4)","center_wavelength":0.665,"full_width_half_max":0.038},{"name":"green","common_name":"green","description":"Green
        (band 3)","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"blue","common_name":"blue","description":"Blue
        (band 2)","center_wavelength":0.49,"full_width_half_max":0.098}],"proj:shape":[10980,10980],"proj:transform":[10,0,499980,0,-10,4000000],"roles":["visual"]},"wvp-jp2":{"href":"s3://sentinel-s2-l2a/tiles/43/F/EV/2024/11/25/0/WVP.jp2","type":"image/jp2","title":"Water
        vapour (WVP)","proj:shape":[5490,5490],"proj:transform":[20,0,499980,0,-20,4000000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"unit":"cm","scale":0.001,"offset":0}],"roles":["data","reflectance"]}},"bbox":[75.76823470822767,-54.31875524753059,76.68774558331631,-54.136386625678945],"stac_extensions":["https://stac-extensions.github.io/raster/v1.1.0/schema.json","https://stac-extensions.github.io/processing/v1.1.0/schema.json","https://stac-extensions.github.io/projection/v1.1.0/schema.json","https://stac-extensions.github.io/mgrs/v1.0.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/grid/v1.0.0/schema.json"],"collection":"sentinel-2-l2a"},{"type":"Feature","stac_version":"1.0.0","id":"S2A_43FFV_20241125_0_L2A","properties":{"created":"2024-11-25T07:21:41.152Z","platform":"sentinel-2a","constellation":"sentinel-2","instruments":["msi"],"eo:cloud_cover":99.98458,"proj:epsg":32743,"mgrs:utm_zone":43,"mgrs:latitude_band":"F","mgrs:grid_square":"FV","grid:code":"MGRS-43FFV","view:sun_azimuth":43.7202102660384,"view:sun_elevation":50.0047243502346,"s2:degraded_msi_data_percentage":0,"s2:nodata_pixel_percentage":95.266[...]
- request:
    body: '{"bbox": [29.386939787289162, 53.16233383426039, 29.389256239840616, 53.16363607273192],
      "datetime": "2023-11-01T00:00:00Z/2023-11-10T23:59:59Z", "collections": ["sentinel-2-l2a"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":8,"returned":8},"numberMatched":8,"numberReturned":8,"features":[{"type":"Feature","stac_version":"1.0.0","id":"S2B_35UPU_20231109_0_L2A","properties":{"created":"2023-11-09T12:42:22.146Z","platform":"sentinel-2b","constellation":"sentinel-2","instruments":[[...]
- request:
    body: '{"datetime": "2023-11-01T00:00:00Z/2023-11-10T23:59:59Z", "collections":
      ["sentinel-2-l2a"], "bbox": [29.386939787289162, 53.16233383426039, 29.389256239840616,
      53.16363607273192], "next": "2023-11-01T09:15:28.760000Z,S2A_35UPV_20231101_0_L2A,sentinel-2-l2a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":8,"returned":0},"numberMatched":8,"numberReturned":0,"features":[],"links":[{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"}]}'
    headers:
      Content-Type:
      - application/geo+json; charset=utf-8
      etag:
      - W/"111-qTlTnSSZeI/Ffvn0vipDesG2o+k"
      x-amz-apigw-id:
      - By0aAEnTvHcEPMQ=
      x-amzn-Remapped-content-length:
      - '273'
      x-amzn-RequestId:
      - 2afcbc65-269e-40f1-8e2e-278692f99ab5
    status:
      code: 200
      message: OK
version: 1
