interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"*BETA* Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC). *BETA*","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fx-yaml","rel":"alternate","type":"application/x-yaml","title":"This
        document as application/x-yaml"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=text%2Fhtml","rel":"alternate","type":"text/html","title":"This
        document as text/html"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/openapi?f=application%2Fvnd.oai.openapi%2Bjson%3Bversion%3D3.0","rel":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1?f=application%2Fjson
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"*BETA* Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC). *BETA*","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
  [...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/search?f=application%2Fgeo%2Bjson
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.0.0/schema.json"],"id":"S5P_DLR_NRTI_01_040201_L3_CF_20240711","collection":"S5P_TROPOMI_L3_P1D_CF","geometry":{"type":"Polygon","coordinates":[[[-180,-90],[180,-90],[180,90],[-180,90],[-180,-90]]]},"bbox":[-180.0,-90.0,180.0,90.0],"properties":{"created":"2024-07-11T04:00:59.693+00:00","updated":"2024-07-11T08:00:50.369+00:00","datetime":"2024-07-11T00:00:00Z","platform":"Sentinel
        5 Precursor","constellation":"Sentinel-5P","instruments":"TROPOMI","license":"CC-BY
        4.0","proj:epsg":4326,"processing:facility":"Remote Sensing Technology Institute
        (IMF)","processing:level":"L3","processing:software":{"UMAS":"4.2.1","UMAS":"4.2.1"},"proj:bbox":[-180.0,-90.0,180.0,90.0],"proj:shape":[1800,3600],"s5p:collection_identifier":"01","s5p:datasource":"Sentinel-5P,
        TROPOMI, space-borne remote sensing","s5p:head_facility":"German Aerospace
        Center (DLR)","s5p:l2_algorithm_version":"UPAS-CLOUD-ROCINN-4.1.0","s5p:processing_mode":"NRTI","s5p:product_name":"cf","s5p:spatial_resolution":"5.5
        x 3.5 km2"},"assets":{"data":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2024/07/11/S5P_DLR_NRTI_01_040201_L3_CF_20240711.nc","type":"application/netcdf","title":"Metadata","description":"Original
        S5P \"CF\" NetCDF File. Can also be loaded as data file and contains important
        metadata information.","roles":["metadata","data"]},"overview":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2024/07/11/S5P_DLR_NRTI_01_040201_L3_CF_20240711_overview.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Overview","description":"Full-resolution
        overview as Cloud-Optimized GeoTiff of the \"radiometric_cloud_fraction\"
        variable.","roles":["overview"]},"cf":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2024/07/11/S5P_DLR_NRTI_01_040201_L3_CF_20240711_cf.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"CF","description":"TROPOMI/S5P
        L3 data of radiometric cloud fraction with a global coverage and a 5.5 x 3.5
        km2 spatial resolution.","raster:bands":[{"data_type":"float32","scale":1.0,"offset":0.0,"sampling":"area","nodata":9.969209968386869E36,"unit":"1","statistics":{"mean":0.4885997792342065,"minimum":-0.06700383126735687,"maximum":1.0777109861373901,"stddev":0.3461964537753825,"valid_percent":26.934242248535156},"histogram":{"count":11,"min":-0.06700383126735687,"max":1.0777109861373901,"buckets":[14907,16536,19085,16111,12126,9899,9064,9182,11235,23068]}}],"roles":["data"]},"thumbnail":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2024/07/11/S5P_DLR_NRTI_01_040201_L3_CF_20240711_thumbnail.png","type":"image/png","title":"Thumbnail","description":"Thumbnail
        of the \"radiometric_cloud_fraction\" variable.","roles":["thumbnail"]},"quicklook":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2024/07/11/S5P_DLR_NRTI_01_040201_L3_CF_20240711.png","type":"image/png","title":"Quicklook","description":"High-resolution
        quicklook of the \"radiometric_cloud_fraction\" variable.","roles":["quicklook"]}},"links":[{"title":"Root","rel":"root","href":"https://geoservice.dlr.de/eoc/ogc/stac/v1?f=application/json","type":"application/json"},{"title":"Parent","rel":"parent","href":"https://geoservice.dlr.de/eoc/ogc/stac/v1?f=[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/collections/ENMAP_HSI_L2A/items/ENMAP01-____L2A-DT0000081367_20240709T020347Z_001_V010402_20240710T135501Z?f=application%2Fgeo%2Bjson
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.0.0/schema.json","https://stac-extensions.github.io/scientific/v1.0.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json"],"id":"ENMAP01-____L2A-DT0000081367_20240709T020347Z_001_V010402_20240710T135501Z","collection":"ENMAP_HSI_L2A","geometry":{"type":"Polygon","coordinates":[[[141.386408,42.850821],[141.297904,42.582117],[141.654775,42.531737],[141.744738,42.800222],[141.386408,42.850821]]]},"bbox":[141.2979036,42.531737,141.7447384,42.8508207],"properties":{"version":"01.04.02","created":"2024-07-10T18:32:03.505+00:00","updated":"2024-07-10T18:32:03.505+00:00","datetime":"2024-07-09T02:03:47Z","start_datetime":"2024-07-09T02:03:47.999571Z","end_datetime":"2024-07-09T02:03:52.447314Z","platform":"enmap","proj:epsg":null,"sat:relative_orbit":"12226","sat:orbit_state":"DESCENDING","eo:cloud_cover":"100","eo:snow_cover":"96","view:sun_azimuth":337.356906,"view:sun_elevation":68.326943,"processing:facility":"NZ","processing:level":"L2A","eop:sensorType":"OPTICAL","card4l:eastern_geometric_accuracy":-999.0,"card4l:geometric_accuracy_radial_rmse":-999.0,"card4l:northern_geometric_accuracy":-999.0,"card4l:specification":"SR","card4l:specification_versio[...]
