interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: '{"bbox": [9.0, 47.0, 10.0, 48.0], "datetime": "2020-07-01T00:00:00Z/2020-07-05T23:59:59Z",
      "collections": ["sentinel-2-l2a"], "query": {"s2:processing_baseline": {"eq":
      "02.14"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":8,"returned":8},"numberMatched":8,"numberReturned":8,"features":[{"type":"Feature","stac_version":"1.0.0","id":"S2B_32TMT_20200705_0_L2A","properties":{"created":"2022-11-06T11:09:13.497Z","platform":"sentinel-2b","constellation":"sentinel-2","instruments":["msi"],"eo:cloud_cover":9.336263,"proj:epsg":32632,"mgrs:utm_zone":32,"mgrs:latitude_band":"T","mgrs:grid_square":"MT","grid:code":"MGRS-32TMT","view:sun_azimuth":147.295339983614,"view:sun_elevation":62.286206645922704,"s2:degraded_msi_data_percentage":0,"s2:nodata_pixel_percentage":18.124741,"s2:saturated_defective_pixel_percentage":0,"s2:dark_features_percentage":0.448027,"s2:cloud_shadow_percentage":0.530796,"s2:vegetation_percentage":75.904739,"s2:not_vegetated_percentage":7.938495,"s2:wat[...]
- request:
    body: '{"datetime": "2020-07-01T00:00:00Z/2020-07-05T23:59:59Z", "query": {"s2:processing_baseline":
      {"eq": "02.14"}}, "collections": ["sentinel-2-l2a"], "bbox": [9, 47, 10, 48],
      "next": "2020-07-03T10:37:31.959000Z,S2A_32UNU_20200703_0_L2A,sentinel-2-l2a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":8,"returned":0},"numberMatched":8,"numberReturned":0,"features":[],"links":[{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"}]}'
    headers:
      Content-Type:
      - application/geo+json; charset=utf-8
      etag:
      - W/"111-qTlTnSSZeI/Ffvn0vipDesG2o+k"
      x-amz-apigw-id:
      - dhbuHEY0PHcEccQ=
      x-amzn-Remapped-content-length:
      - '273'
      x-amzn-RequestId:
      - 6e3767e0-1327-43e7-b6c9-68f4e6c95bc7
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"datetime": "2020-07-01T00:00:00Z/2020-07-05T23:59:59Z", "query": {"s2:processing_baseline":
      {"eq": "02.14"}}, "collections": ["sentinel-2-l2a"], "bbox": [9, 47, 10, 48],
      "next": "2020-07-03T10:37:31.959000Z,S2A_32UNU_20200703_0_L2A,sentinel-2-l2a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":8,"returned":0},"numberMatched":8,"numberReturned":0,"features":[],"links":[{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"}]}'
    headers:
      Content-Type:
      - application/geo+json; charset=utf-8
      etag:
      - W/"111-qTlTnSSZeI/Ffvn0vipDesG2o+k"
      x-amz-apigw-id:
      - dhbvFFsgPHcEq3A=
      x-amzn-Remapped-content-length:
      - '273'
      x-amzn-RequestId:
      - 9e3d79d7-7732-4f02-b50a-3cf59dd704c1
    status:
      code: 200
      message: OK
version: 1
