interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"*BETA* Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC). *BETA*","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fx-yaml","rel":"alternate","type":"application/x-yaml","title":"This
        document as application/x-yaml"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=text%2Fhtml","rel":"alternate","type":"text/html","title":"This
        document as text/html"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/openapi?f=application%2Fvnd.oai.openapi%2Bjson%3Bversion%3D3.0","rel":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/collections/D4H/items/S1A_IW_GRDH_1SDV_20231031T030757_20231031T030822_051003_062646_8C53?f=application%2Fgeo%2Bjson
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.0.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json"],"id":"S1A_IW_GRDH_1SDV_20231031T030757_20231031T030822_051003_062646_8C53","collection":"D4H","geometry":{"type":"Polygon","coordinates":[[[36.211544,-15.169252],[36.859985,-14.70841],[37.831688,-14.180731],[37.863497,-14.16983],[37.553288,-15.48028],[36.211544,-15.169252]]]},"bbox":[36.211544470664904,-15.48028,37.86349678056911,-14.169830229695073],"properties":{"created":"2023-10-31T23:41:33.743+00:00","updated":"2023-10-31T23:41:33.743+00:00","datetime":"2023-10-31T00:00:00.000+00:00","platform":"SENTINEL-1A","constellation":"SENTINEL-1","proj:epsg":4326,"sat:relative_orbit":"51003","sat:orbit_state":"DESCENDING","processing:software":{"proc_hr_semseg":"1.6.3"},"cnt_flood":54323,"cnt_refwater":42063,"cnt_valid":98016249,"cnt_water":96386,"providers":[{"name":"DLR
        DFD-GZS","roles":["producer","processor"],"url":"https://www.dlr.de/eoc/en/desktopdefault.aspx/tabid-5290/9370_read-18028/"}],"srcurl":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''fd09ec8e-3ad2-450f-8c1a-428034b11b94'')/$value","srcuuid":"fd09ec8e-3ad2-450f-8c1a-428034b11b94"},"assets":{"REFER":{"description":"Identifies
        permanent water pixels. The reference water mask is derived by time-series
        analysis of archive imagery across a reference time-period.","href":"https://download.geoservice.dlr.de/D4H/files/2023/10/31/S1A_IW_GRDH_1SDV_20231031T030757_20231031T030822_051003_062646_8C53_REFER.tif","roles":["water-reference"],"title":"Reference
        water mask","type":"image/tiff; application=geotiff; profile=cloud-optimized"},"VALID":{"description":"Distinguish
        valid from invalid pixels. Invalid pixels are the result of no-data values
        in the satellite image and/or atmospheric obstructions such as clouds or cloud-shadows.","href":"https://download.geoservice.dlr.de/D4H/files/2023/10/31/S1A_IW_GRDH_1SDV_20231031T030757_20231031T030822_051003_062646_8C53_VALID.tif","roles":["data-mask"],"title":"Valid
        pixel mask","type":"image/tiff; application=geotiff; profile=cloud-optimized"},"WATER":{"description":"Identifies
        all water pixels in the satellite image. Water segmentation is done with a
        pre-trained convolutional neural network.","href":"https://download.geoservice.dlr.de/D4H/files/2023/10/31/S1A_IW_GRDH_1SDV_20231031T030757_20231031T030822_051003_062646_8C53_WATER.tif","roles":["water-mask"],"title":"Water
        mask","type":"image/tiff; application=geotiff; profile=cloud-optimized"},"thumbnail":{"title":"Thumbnail","type":"image/png","roles":["thumbnail"],"href":"https://geoservice.dlr.de/eoc/oseo/quicklook?parentIdentifier=D4H&uid=S1A_IW_GRDH_1SDV_20231031T030757_20231031T030822_051003_062646_8C53"}},"links":[{"title":"Root","rel":"root","href":"https://geoservice.dlr.de/eoc/ogc/stac/v1?f=application/json","type":"application/json"},{"title":"Parent","rel":"parent","href":"https://geoservice.dlr.de/eoc/ogc/stac/v1?f=application/json","type":"application/json"},{"title":"Self","rel":"s[...]
[...]
