interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1
  response:
    body:
      string: '{"type":"Catalog","id":"cdse-stac","title":"Copernicus Data Space Ecosystem
        (CDSE) asset-level STAC catalogue","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        Asset Catalog) API, which follows the open STAC specification, enables users
        to access detailed asset-level metadata, including spatial information, temporal
        coverage, and data specifications. This standardized interface facilitates
        efficient data discovery and retrieval across the extensive collection of
        environmental and scientific resources. More information: https://documentation.dataspace.copernicus.eu/","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/collections/extensions/transaction","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/ogcapi-features#fields","https://api.stacspec.org/v1.0.0/ogcapi-features#query","https://api.stacspec.org/v1.0.0/ogcapi-features#sort","https://api.stacspec.org/v1.0.0/ogcapi-features/extensions/transaction"],"links":[{"rel":"self","type":"application/json","title":"This
        document","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"root","type":"application/json","title":"Root","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"data","type":"application/json","title":"Collections
        available for this Catalog","href":"https://stac.dataspace.copernicus.eu/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://stac.dataspace.copernicus.eu/v1/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search [GET]","href":"https://stac.dataspace.copernicus.eu/v1/search","method":"GET"},{"rel":"search","type":"application/geo+json","title":"STAC
        search [POST]","href":"https://stac.dataspace.copernicus.eu/v1/search","method":"POST"},{"rel":"http://www.opengis.net/def/rel/ogc/1.0/queryables","type":"application/schema+json","title":"Queryables
        available for this Catalog","href":"https://stac.dataspace.copernicus.eu/v1/queryables","method":"GET"},{"rel":"service-desc","type":"application/vnd.oai.openapi+json;version=3.0","title":"OpenAPI
        service description","href":"https://stac.dataspace.copernicus.eu/v1/api"},{"rel":"service-doc","type":"text/html","title":"OpenAPI
        service documentation","href":"https://stac.dataspace.copernicus.eu/v1/api.html"}],"stac_extensions":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"cdse-stac","title":"Copernicus Data Space Ecosystem
        (CDSE) asset-level STAC catalogue","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections
  response:
    body:
      string: "{\"collections\":[{\"id\":\"sentinel-3-sl-2-aod-nrt\",\"type\":\"Collection\",\"links\":[{\"rel\":\"items\",\"type\":\"application/geo+json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-3-sl-2-aod-nrt/items\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/\"},{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-3-sl-2-aod-nrt\"},{\"rel\":\"license\",\"href\":\"https://sentinels.copernicus.eu/documents/247904/690755/Sentinel_Data_Legal_Notice\",\"type\":\"application/pdf\",\"title\":\"Legal
        notice on the use of Copernicus Sentinel Data and Service Information\"},{\"rel\":\"http://www.opengis.net/def/rel/ogc/1.0/queryables\",\"type\":\"application/schema+json\",\"title\":\"Queryables\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-3-sl-2-aod-nrt/queryables\"}],\"title\":\"Sentinel-3
        SLSTR Aerosol Optical Depth (NRT)\",\"assets\":{\"thumbnail\":{\"href\":\"https://s3.waw3-2.cloudferro.com/swift/v1/stac-png/S3_SL2_AOD.jpg\",\"type\":\"image/jpeg\",\"roles\":[\"thumbnail\"],\"title\":\"Sentinel-3
        SLSTR AOD Thumbnail\",\"proj:code\":null,\"proj:shape\":[360,640]}},\"extent\":{\"spatial\":{\"bbox\":[[-180,-90,180,90]]},\"temporal\":{\"interval\":[[\"2021-02-14T01:03:38.750903Z\",null]]}},\"license\":\"other\",\"keywords\":[\"Sentinel\",\"Copernicus\",\"ESA\",\"Satellite\",\"Global\",\"Aerosol\",\"EU\",\"EC\"],\"providers\":[{\"url\":\"https://sentinels.copernicus.eu/web/sentinel/copernicus/sentinel-3\",\"name\":\"ESA\",\"roles\":[\"producer\"]},{\"url\":\"https://commission.europa.eu/\",\"name\":\"European
        Commission\",\"roles\":[\"licensor\"]},{\"url\":\"https://cloudferro.com/\",\"name\":\"CloudFerro\",\"roles\":[\"host\",\"processor\"]}],\"summaries\":{\"gsd\":[9500],\"platform\":[\"sentinel-3a\",\"sentinel-3b\"],\"proj:code\":[null],\"statistics\":{\"type\":\"object\",\"properties\":{\"land\":{\"type\":\"number\",\"maximum\":100,\"minimum\":0},\"saline_water\":{\"type\":\"number\",\"maximum\":100,\"minimum\":0}}},\"instruments\":[\"slstr\"],\"product:type\":[\"SL_2_AOD____\"],\"constellation\":[\"sentinel-3\"],\"sat:orbit_state\":[\"ascending\",\"descending\"],\"processing:level\":[\"L2\"],\"processing:version\":[\"02.00\",\"03.00\",\"04.00\",\"04.01\",\"04.02\"],\"product:timeliness\":[\"PT3H\"],\"product:timeliness_category\":[\"NR\"],\"sat:platform_international_designator\":[\"2016-011A\",\"2018-039A\"]},\"description\":\"The
        Copernicus Sentinel-3 SLSTR AOD product quantifies the abundance of aerosol
        particles, and monitors their global distribution & long-range transport,
        at the scale of 9.5 x 9.5 km2. All observations are made available in less
        than 3 hours from the SLSTR observation sensing time.\",\"item_assets\":{\"nrt_aod\":{\"type\":\"application/netcdf\",\"roles\":[\"data\"],\"title\":\"NRT
        Aerosol Optical Depth\",\"alternate\":{\"https\":{\"auth:refs\":[\"oidc\"],\"storage:refs\":[],\"alternate:name\":\"HTTPS\"}},\"auth:refs\":[\"s3\"],\"storage:refs\":[\"cdse-s3\",\"creodias-s3\"],\"alternate:name\":\"S3\",\"processing:lineage\":\"Input
        bands: S2, S3, S5, S6\"},\"product\":{\"type\":\"application/zip\",\"roles\":[\"data\",\"metadata\",\"archive\"],\"title\":\"Zipped
        product\",\"auth:refs\":[\"oidc\"]},\"manifest\":{\"type\":\"application/xml\",\"roles\":[\"metadata\"],\"title\":\"Manifest
        file\",\"alternate\":{\"https\":{\"auth:refs\":[\"oidc\"],\"storage:refs\":[],\"alternate:name\":\"HTTPS\"}},\"auth:refs\":[\"s3\"],\"storage:refs\":[\"cdse-s3\",\"creodias-s3\"],\"alternate:name\":\"S3\"},\"eop_metadata\":{\"type\":\"application/xml\",\"roles\":[\"metadata\"],\"title\":\"EOP
        Metadata\",\"alternate\":{\"https\":{\"auth:refs\":[\"oidc\"],\"storage:refs\":[],\"alternate:name\":\"HTTPS\"}},\"auth:refs\":[\"s3\"],\"storage:refs\":[\"cdse-s3\",\"creodias-s3\"],\"alternate:name\":\"S3\"},\"xfdumanifest\":{\"type\":\"application/xml\",\"roles\":[\"metadata\"],\"title\":\"Product
        manifest\",\"alternate\":{\"https\":{\"auth:refs\":[\"oidc\"],\"storage:refs\":[],\"alternate:name\":\"HTTPS\"}},\"auth:refs\":[\"s3\"],\"storage:refs\":[\"cdse-s3\",\"creodias-s3\"],\"alternate:name\":\"S3\"}},\"auth:schemes\":{\"s3\":{\"type\":\"s3\"},\"oidc\":{\"type\":\"openIdConnect\",\"openIdConnectUrl\":\"https://identity.dataspace.copernicus.eu/auth/realms/CDSE/.well-known/openid-configuration\"}},\"sci:citation\":\"Copernicus
        Sentinel data [Year]\",\"stac_version\":\"1.1.0\",\"stac_extensions\":[\"https://stac-extensions.github.io/alternate-assets/v1.2.0/schema.json\",\"https://stac-extensions.github.io/sat/v1.1.0/schema.json\",\"https://stac-extensions.github.io/processing/v1.2.0/schema.json\",\"https://stac-extensions.github.io/product/v0.1.0/schema.json\",\"https://stac-extensions.github.io/scientific/v1.0.0/schema.json\",\"https://stac-extensions.github.io/projection/v2.0.0/schema.json\",\"https://stac-extensions.github.io/authentication/v1.1.0/schema.json\",\"https://stac-extensions.github.io/storage/v2.0.0/schema.json\"],\"storage:schemes\":{\"cdse-s3\":{\"type\":\"custom-s3\",\"title\":\"Copernicus
        Data Space Ecosystem S3\",\"platform\":\"https://eodata.dataspace.copernicus.eu\",\"description\":\"This
        endpoint provides access to EO data which is stored on the object storage
        of both CloudFerro Cloud and OpenTelekom Cloud (OTC). See the [documentation](https://documentation.dataspace.copernicus.eu/APIs/S3.html)
        for more information, including how to get credentials.\",\"requester_pays\":false},\"creodias-s3\":{\"type\":\"custom-s3\",\"title\":\"CREODIAS
        S3\",\"platform\":\"https://eodata.cloudferro.com\",\"description\":\"Comprehensive
        Earth Observation Data (EODATA) archive offered by CREODIAS as a commercial
        part of CDSE, designed to provide users with access to a vast repository of
        satellite data without predefined quota limits\",\"requester_pays\":true}}},{\"id\":\"sentinel-1-global-mosaics\",\"type\":\"Collection\",\"links\":[{\"rel\":\"items\",\"type\":\"applicat[...]
