interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: '{"bbox": [9.0, 47.0, 10.0, 48.0], "datetime": "2020-07-01T00:00:00Z/2020-07-05T23:59:59Z",
      "collections": ["sentinel-2-l2a"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":16,"returned":10},"numberMatched":16,"numberReturned":10,"features":[{"type":"Feature","stac_version":"1.0.0","id":"S2B_32TMT_20200705_1_L2A","properties":{"created":"2023-09-09T21:00:44.652Z","platform":"sentinel-2b","constellation":"sentinel-2","instruments":["msi"],"eo:cloud_cover":11.320929,"proj:epsg":32632,"mgrs:utm_zone":32,"mgrs:latitude_band":"T","mgrs:grid_square":"MT","grid:code":"MGRS-32TMT","view:sun_azimuth":147.297357406107,"view:sun_elevation":62.2866165216482,"s2:degraded_msi_data_percentage":0.0138,"s2:nodata_pixel_percentage":18.579815,"s2:saturated_defective_pixel_percentage":0,"s2:dark_features_percentage":0.207485,"s2:cloud_shadow_percentage":3.083212,"s2:vegetation_percentage":72.965896,"s2:not_vegetated_percentage":7.700699,"s2[...]
- request:
    body: '{"datetime": "2020-07-01T00:00:00Z/2020-07-05T23:59:59Z", "collections":
      ["sentinel-2-l2a"], "bbox": [9, 47, 10, 48], "next": "2020-07-03T10:37:50.577000Z,S2A_32TMT_20200703_1_L2A,sentinel-2-l2a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":16,"returned":6},"numberMatched":16,"numberReturned":6,"features":[{"type":"Feature","stac_version":"1.0.0","id":"S2A_32TNT_20200703_0_L2A","properties":[...]
- request:
    body: '{"datetime": "2020-07-01T00:00:00Z/2020-07-05T23:59:59Z", "collections":
      ["sentinel-2-l2a"], "next": "2020-07-03T10:37:31.959000Z,S2A_32UNU_20200703_0_L2A,sentinel-2-l2a",
      "bbox": [9, 47, 10, 48]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":16,"returned":0},"numberMatched":16,"numberReturned":0,"features":[],"links":[{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"}]}'
    headers:
      Content-Type:
      - application/geo+json; charset=utf-8
      etag:
      - W/"113-fd1qH8u4zIgsEmG+nTyBcPInup0"
      x-amz-apigw-id:
      - buXK1F9iPHcEKzA=
      x-amzn-Remapped-content-length:
      - '275'
      x-amzn-RequestId:
      - dd97974f-2cbd-42fb-9f85-ced220910c53
    status:
      code: 200
      message: OK
[...]
