interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"*BETA* Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC). *BETA*","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fx-yaml","rel":"alternate","type":"application/x-yaml","title":"This
        document as application/x-yaml"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=text%2Fhtml","rel":"alternate","type":"text/html","title":"This
        document as text/html"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/openapi?f=application%2Fvnd.oai.openapi%2Bjson%3Bversion%3D3.0","rel":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/collections/S5P_TROPOMI_L3_P1D_CF/items/S5P_DLR_NRTI_01_040201_L3_CF_20240619?f=application%2Fgeo%2Bjson
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.0.0/schema.json"],"id":"S5P_DLR_NRTI_01_040201_L3_CF_20240619","collection":"S5P_TROPOMI_L3_P1D_CF","geometry":{"type":"Polygon","coordinates":[[[-180,-90],[180,-90],[180,90],[-180,90],[-180,-90]]]},"bbox":[-180.0,-90.0,180.0,90.0],"properties":{"created":"2024-06-19T04:01:09.684+00:00","updated":"2024-06-20T06:01:02.560+00:00","datetime":"2024-06-19T00:00:00Z","platform":"Sentinel
        5 Precursor","constellation":"Sentinel-5P","instruments":"TROPOMI","license":"CC-BY
        4.0","proj:epsg":4326,"processing:facility":"Remote Sensing Technology Institute
        (IMF)","processing:level":"L3","processing:software":{"UMAS":"4.2.1","UMAS":"4.2.1"},"proj:bbox":[-180.0,-90.0,180.0,90.0],"proj:shape":[1800,3600],"s5p:collection_identifier":"01","s5p:datasource":"Sentinel-5P,
        TROPOMI, space-borne remote sensing","s5p:head_facility":"German Aerospace
        Center (DLR)","s5p:l2_algorithm_version":"UPAS-CLOUD-ROCINN-4.1.0","s5p:processing_mode":"NRTI","s5p:product_name":"cf","s5p:spatial_resolution":"5.5
        x 3.5 km2"},"assets":{"data":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2024/06/19/S5P_DLR_NRTI_01_040201_L3_CF_20240619.nc","type":"application/netcdf","title":"Metadata","description":"Original
        S5P \"CF\" NetCDF File. Can also be loaded as data file and contains important
        metadata information.","roles":["metadata","data"]},"overview":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2024/06/19/S5P_DLR_NRTI_01_040201_L3_CF_20240619_overview.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Overview","description":"Full-resolution
        overview as Cloud-Optimized GeoTiff of the \"radiometric_cloud_fraction\"
        variable.","roles":["overview"]},"cf":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2024/06/19/S5P_DLR_NRTI_01_040201_L3_CF_20240619_cf.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"CF","description":"TROPOMI/S5P
        L3 data of radiometric cloud fraction with a global coverage and a 5.5 x 3.5
        km2 spatial resolution.","raster:bands":[{"data_type":"float32","scale":1.0,"offset":0.0,"sampling":"area","nodata":9.969209968386869E36,"unit":"1","statistics":{"mean":0.42738193794594204,"minimum":-0.06974887102842331,"maximum":1.0863522291183472,"stddev":0.3422094075839206,"valid_percent":84.17911529541016},"histogram":{"count":11,"min":-0.06974887102842331,"max":1.0863522291183472,"buckets":[68801,70446,49926,42691,36739,32766,31390,30181,35760,42641]}}],"roles":["data"]},"thumbnail":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2024/06/19/S5P_DLR_NRTI_01_040201_L3_CF_20240619_thumbnail.png","type":"image/png","title":"Thumbnail","description":"Thumbnail
        of the \"radiometric_cloud_fraction\" variable.","roles":["thumbnail"]},"quicklook":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2024/06/19/S5P_DLR_NRTI_01_040201_L3_CF_20240619.png","type":"image/png","title":"Quicklook","description":"High-resolution
        quicklook of the \"radiometric_cloud_fraction\" variable.","roles":["quicklook"]}},"links":[{"title":"Root","rel":"root","href":"https://geoservice.dlr.de/eoc/ogc/stac/v1?f=application/json","type":"application/json"},{"title":"Parent","rel":"parent","href":"https://geoservice.dlr.de/eoc/ogc/stac/v1?f=[...]
