interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1
  response:
    body:
      string: '{"type":"Catalog","id":"Copernicus Data Space Ecosystem (CDSE) asset-level
        STAC catalogue","title":"cdse-stac","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        Asset Catalog) API, which follows the open STAC specification, enables users
        to access detailed asset-level metadata, including spatial information, temporal
        coverage, and data specifications. This standardized interface facilitates
        efficient data discovery and retrieval across the extensive collection of
        environmental and scientific resources. More information: https://documentation.dataspace.copernicus.eu/","stac_version":"1.1.0","conformsTo":["https://api.stacspec.org/v1.0.0/ogcapi-features/extensions/transaction","http://www.opengis.net/spec/ogcapi-common-2/1.0/conf/simple-query","https://api.stacspec.org/v1.0.0-rc.1/collection-search#filter","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0-rc.1/collection-search#query","https://api.stacspec.org/v1.0.0-rc.1/collection-search#sort","https://api.stacspec.org/v1.0.0-rc.1/collection-search#fields","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","https://api.stacspec.org/v1.0.0/item-search","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0/collections/extensions/transaction","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/item-search#query","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0-rc.1/collection-search","https://api.stacspec.org/v1.0.0/item-search#sort"],"links":[{"rel":"self","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"root","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"data","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://stac.dataspace.copernicus.eu/v1/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","hre[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"Copernicus Data Space Ecosystem (CDSE) asset-level
        STAC catalogue","title":"cdse-stac","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections
  response:
    body:
      string: '{"collections":[{"id":"sentinel-1-grd","type":"Collection","links":[{"rel":"items","type":"application/geo+json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-1-grd/items"},{"rel":"parent","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"root","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"self","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-1-grd"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice","type":"application/pdf","title":"Legal
        notice on the use of Copernicus Sentinel Data and Service Information"},{"rel":"http://www.opengis.net/def/rel/ogc/1.0/queryables","type":"application/schema+json","title":"Queryables","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-1-grd/queryables"}],"title":"Sentinel-1
        Ground Range Detected (GRD)","assets":{"thumbnail":{"href":"https://s3.waw3-2.cloudferro.com/swift/v1/stac-png/S1_GRD.jpg","type":"image/jpeg","roles":["thumbnail"],"title":"Sentinel-1
        Ground Range Detected (GRD)","proj:code":null,"proj:shape":[360,640]}},"extent":{"spatial":{"bbox":[[-180,-90,180,90]]},"temporal":{"interval":[["2014-10-10T00:28:21Z",null]]}},"license":"other","keywords":["Sentinel","Copernicus","ESA","GRD","SAR","C-Band"],"providers":[{"url":"https://sentinel.esa.int/web/sentinel/missions/sentinel-2","name":"ESA","roles":["producer"]},{"url":"https://commission.europa.eu/","name":"European
        Commission","roles":["licensor"]},{"url":"https://cloudferro.com/","name":"CloudFerro","roles":["host","processor"]}],"summaries":{"platform":["sentinel-1a","sentinel-1b"],"instruments":["sar"],"product:type":["IW_GRDH_1S","EW_GRDH_1S","S1_GRDH_1S","S2_GRDH_1S","S3_GRDH_1S","S4_GRDH_1S","S5_GRDH_1S","S6_GRDH_1S"],"constellation":["sentinel-1"],"sat:orbit_state":["ascending","descending"],"processing:level":["L1"],"sar:product_type":["GRD"],"sar:polarizations":["VV","VH","HH","HV"],"processing:version":["003.52","003.61","003.71","003.80","1.0"],"product:timeliness":["PT24H"],"sar:frequency_band":["C"],"sar:instrument_mode":["IW","EW","SM"],"sar:center_frequency":[5.405],"view:incidence_angle":{"maximum":45,"minimum":20},"sar:observation_direction":["right"],"product:timeliness_category":["Fast-24h","NRT-10m","NRT-3h"],"sat:platform_international_designator":["2014-016A","2016-025A"]},"description":"Level-1
        Ground Range Detected (GRD) products consist of focused SAR data that has
        been detected, multi-looked and projected to ground range using the Earth
        ellipsoid model WGS84. The ellipsoid projection of the GRD products is corrected
        using the terrain height specified in the product general annotation. The
        terrain height used varies in azimuth and it is constant in range (For IW/EW
        modes only the terrain height of first subswath is considered)","item_assets":{"hh":{"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"HH:
        Horizontal transmit, horizontal receive","nodata":0,"alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"data_type":"uint16","proj:code":"EPSG:4326","description":"Amplitude
        of horizontally polarized signal received horizontally, with radiometric terrain
        correction applied","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"hv":{"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"HV:
        Horizontal transmit, vertical receive","nodata":0,"alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"data_type":"uint16","proj:code":"EPSG:4326","description":"Amplitude
        of horizontally polarized signal received vertically, with radiometric terrain
        correction applied","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"vh":{"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"VH:
        Vertical transmit, horizontal receive","nodata":0,"alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"data_type":"uint16","proj:code":"EPSG:4326","description":"Amplitude
        of vertically polarized signal received horizontally, with radiometric terrain
        correction applied","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"vv":{"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"VV:
        Vertical transmit, vertical receive","nodata":0,"alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"data_type":"uint16","proj:code":"EPSG:4326","description":"Amplitude
        of vertically polarized signal received vertically, with radiometric terrain
        correction applied","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"Product":{"type":"application/zip","roles":["data","metadata","archive"],"title":"Zipped
        product","auth:refs":["oidc"],"alternate:name":"HTTPS"},"thumbnail":{"type":"image/png","roles":["thumbnail"],"title":"Quicklook","auth:refs":["oidc"],"proj:code":null,"description":"An
        averaged, decimated preview image of product''s measurements in PNG format.","alternate:name":"HTTPS"},"safe_manifest":{"type":"application/xml","roles":["metadata"],"title":"manifest.safe","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"General
        product metadata in XML format.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-noise-hh":{"type":"application/xml","roles":["metadata"],"title":"HH
        noise Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Estimated
        thermal noise look-up tables","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-noise-hv":{"type":"application/xml","roles":["metadata"],"title":"HV
        noise Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Estimated
        thermal noise look-up tables","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-noise-vh":{"type":"application/xml","roles":["metadata"],"title":"VH
        noise Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Estimated
        thermal noise look-up tables","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-noise-vv":{"type":"application/xml","roles":["metadata"],"title":"VV
        noise Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Estimated
        thermal noise look-up tables","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-product-hh":{"type":"application/xml","roles":["metadata"],"title":"HH
        Product Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Main
        source of band''s metadata, including: state of the platform during acquisition,
        image properties, Doppler information, geographic location, etc.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-product-hv":{"type":"application/xml","roles":["metadata"],"title":"HV
        Product Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Main
        source of band''s metadata, including: state of the platform during acquisition,
        image properties, Doppler information, geographic location, etc.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-product-vh":{"type":"application/xml","roles":["metadata"],"title":"VH
        Product Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Main
        source of band''s metadata, including: state of the platform during acquisition,
        image properties, Doppler information, geographic location, etc.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-product-vv":{"type":"application/xml","roles":["metadata"],"title":"VV
        Product Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Main
        source of band''s metadata, including: state of the platform during acquisition,
        image properties, Doppler information, geographic location, etc.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-calibration-hh":{"type":"application/xml","roles":["metadata"],"title":"HH
        calibration Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Calibration
        metadata including calibration details and lookup tables for beta nought,
        sigma nought, gamma, and digital numbers used in absolute product calibration.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-calibration-hv":{"type":"application/xml","roles":["metadata"],"title":"HV
        calibration Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Calibration
        metadata including calibration details and lookup tables for beta nought,
        sigma nought, gamma, and digital numbers used in absolute product calibration.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-calibration-vh":{"type":"application/xml","roles":["metadata"],"title":"VH
        calibration Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Calibration
        metadata including calibration details and lookup tables for beta nought,
        sigma nought, gamma, and digital numbers used in absolute product calibration.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-calibration-vv":{"type":"application/xml","roles":["metadata"],"title":"VV
        calibration Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Calibration
        metadata including calibration details and lookup tables for beta nought,
        sigma nought, gamma, and digital numbers used in absolute product calibration.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"}},"auth:schemes":{"s3":{"type":"s3"},"oidc":{"type":"openIdConnect","openIdConnectUrl":"https://identity.dataspace.copernicus.eu/auth/realms/CDSE/.well-known/openid-configuration"}},"sci:citation":"Copernicus
        Sentinel data [Year]","stac_version":"1.1.0","stac_extensions":["https://stac-extensions.github.io/authentication/v1.1.0/schema.json","https://stac-extensions.github.io/projection/v2.0.0/schema.json","https://stac-extensions.github.io/processing/v1.2.0/schema.json","https://stac-extensions.github.io/product/v0.1.0/schema.json","https://stac-extensions.github.io/scientific/v1.0.0/schema.json","https://stac-extensions.github.io/alternate-assets/v1.2.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json","https://stac-extensions.github.io/sar/v1.0.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/storage/v2.0.0/schema.json"],"storage:schemes":{"cdse-s3":{"type":"custom-s3","title":"Copernicus
        Data Space Ecosystem S3","platform":"https://eodata.dataspace.copernicus.eu","description":"This
        endpoint provides access to EO data which is stored on the Object Storage.
        A Global Service Load Balancer (GSLB) directs the request to either CloudFerro
        Cloud or OpenTelekom Cloud (OTC) S3 endpoint based on the location of the
        DNS resolver.","requester_pays":false},"creodias-s3":{"type":"custom-s3","title":"CREODIAS
        S3","platform":"https://eodata.cloudferro.com","description":"Comprehensive
        Earth Observation Data (EODATA) archive offered by CREODIAS as a commercial
        part of CDSE, designed to provide users with access to a vast repository of
        satellite data without predefined quota limits","requester_pays":true}}},{"id":"sentinel-2-global-mosaics","type":"Collection","bands":[{"name":"B02","description":"Blue
        (band 2)","eo:common_name":"blue"},{"name":"B03","description":"Green (band
        3)","eo:common_name":"green"},{"name":"B04","description":"Red (band 4)","eo:common_name":"red"},{"name":"B08","description":"NIR
        1 (band 8)","eo:common_name":"nir"},{"name":"observations","description":"Number
        of valid observations for each pixel"}],"links":[{"rel":"items","type":"application/geo+json","href":"https://stac.dataspace.copernicus.eu/v1/coll[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items?collections=sentinel-2-l2a
  response:
    body:
      string: '{"type":"FeatureCollection","links":[{"rel":"collection","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a"},{"rel":"parent","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a"},{"rel":"root","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"self","type":"application/geo+json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items"},{"rel":"next","type":"application/geo+json","method":"GET","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items?collections=sentinel-2-l2a&token=next:sentinel-2-l2a:S2A_MSIL2A_20241107T113311_N0511_R080_T31VDJ_20241107T123948"}],"features":[{"id":"S2A_MSIL2A_20241107T113311_N0511_R080_T32VKR_20241107T123948","bbox":[2.881305,62.91788,4.888851,63.904903],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a"},{"rel":"parent","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a"},{"rel":"root","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"self","type":"application/geo+json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items/S2A_MSIL2A_20241107T113311_N0511_R080_T32VKR_20241107T123948"},{"rel":"version-history","href":"https://trace.dataspace.copernicus.eu/api/v1/traces/name/S2A_MSIL2A_20241107T113311_N0511_R080_T32VKR_20241107T123948.SAFE.zip","type":"application/json","title":"Product
        history record from the CDSE traceability service"}],"assets":{"AOT_10m":{"href":"s3://eodata/Sentinel-2/MSI/L2A/2024/11/07/S2A_MSIL2A_20241107T113311_N0511_R080_T32VKR_20241107T123948.SAFE/GRANULE/L2A_T32VKR_A048983_20241107T113314/IMG_DATA/R10m/T32VKR_20241107T113311_AOT_10m.jp2","alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(e0fec106-686f-46e0-bc5e-a1ad084ec75c)/Nodes(S2A_MSIL2A_20241107T113311_N0511_R080_T32VKR_20241107T123948.SAFE)/Nodes(GRANULE)/Nodes(L2A_T32VKR_A048983_20241107T113314)/Nodes(IMG_DATA)/Nodes(R10m)/Nodes(T32VKR_20241107T113311_AOT_10m.jp2)/$value","auth:refs":["oidc"],"alternate:name":"HTTPS"}},"file:size":385213,"proj:bbox":[199980.0,6990240,309780,7100040.0],"proj:code":"EPSG:32632","file:checksum":"1620052d183937ce2f328658cff1c3053fad7ad0865e8ab436105d832f334b9181e8","proj:transform":[10.0,0.0,199980.0,0.0,-10.0,7100040.0],"file:local_path":"S2A_MSIL2A_20241107T113311_N0511_R080_T32VKR_20241107T123948.SAFE/GRANULE/L2A_T32VKR_A048983_20241107T113314/IMG_DATA/R10m/T32VKR_20241107T113311_AOT_10m.jp2","gsd":10,"type":"image/jp2","roles":["data","gsd:10m"],"title":"Aerosol
        optical thickness (AOT) - 10m","nodata":0,"auth:refs":["s3"],"data_type":"uint16","proj:shape":[10980,10980],"description":"S3
        storage provided by CloudFerro Cloud and OpenTelekom Cloud (OTC). Use endpoint
        URL `https://eodata.dataspace.copernicus.eu`.","raster:scale":0.0001,"storage:refs":["cdse-s3","creodias-s3"],"raster:offset":-0.1,"alternate:name":"S3"},"AOT_20m":{"href":"s3://eodata/Sentinel-2/MSI/L2A/2024/11/07/S2A_MSIL2A_20241107T113311_N0511_R080_T32VKR_20241107T123948.SAFE/GRANULE/L2A_T32VKR_A048983_20241107T113314/IMG_DATA/R20m/T32VKR_20241107T113311_AOT_20m.jp2","alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(e0fec106-686f-46e0-bc5e-a1ad084ec75c)/Nodes(S2A_MSIL2A_20241107T113311_N0511_R080_T32VKR_20241107T123948.SAFE)/Nodes(GRANULE)/Nodes(L2A_T32VKR_A048983_20241107T113314)/Nodes(IMG_DATA)/Nodes(R20m)/Nodes(T32VKR_20241107T113311_AOT_20m.jp2)/$value","auth:refs":["oidc"],"alternate:name":"HTTPS"}},"file:size":272313,"proj:bbox":[199980.0,6990240,309780,7100040.0],"proj:code":"EPSG:32632","file:checksum":"16208ae0119c17d6d39e0785b6b3a84f8d91ef06eb6646084f3036f135c9dcf1ca1d","proj:transform":[20.0,0.0,199980.0,0.0,-20.0,7100040.0],"file:local_path":"S2A_MSIL2A_20241107T113311_N0511_R080_T32VKR_20241107T123948.SAFE/GRANULE/L2A_T32VKR_A048983_20241107T113314/IMG_DATA/R20m/T32VKR_20241107T113311_AOT_20m.jp2","gsd":20,"type":"image/jp2","roles":["data","gsd:20m"],"title":"Aerosol
        optical thickness (AOT) - 20m","nodata":0,"auth:refs":["s3"],"data_type":"uint16","proj:shape":[5490,5490],"description":"S3
        storage provided by CloudFerro Cloud and OpenTelekom Cloud (OTC). Use endpoint
        URL `https://eodata.dataspace.copernicus.eu`.","raster:scale":0.0001,"storage:refs":["cdse-s3","creodias-s3"],"raster:offset":-0.1,"alternate:name":"S3"},"AOT_60m":{"href":"s3://eodata/Sentinel-2/MSI/L2A/2024/11/07/S2A_MSIL2A_20241107T113311_N0511_R080_T32VKR_20241107T123948.SAFE/GRANULE/L2A_T32VKR_A048983_20241107T113314/IMG_DATA/R60m/T32VKR_20241107T113311_AOT_60m.jp2","alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(e0fec106-686f-46e0-bc5e-a1ad084ec75c)/Nodes(S2A_MSIL2A_20241107T113311_N0511_R080_T32VKR_20241107T123948.SAFE)/Nodes(GRANULE)/Nodes(L2A_T32VKR_A048983_20241107T113314)/Nodes(IMG_DATA)/Nodes(R60m)/Nodes(T32VKR_20241107T113311_AOT_60m.jp2)/$value","auth:refs":["oidc"],"alternate:name":"HTTPS"}},"file:size":94515,"proj:bbox":[199980.0,6990240,309780,7100040.0],"proj:code":"EPSG:32632","file:checksum":"1620de1d67362472ebd907a050c287e35339a7c419412667bd95e7c625badda93bbe","proj:transform":[60.0,0.0,199980.0,0.0,-60.0,7100040.0],"file:local_path":"S2A_MSIL2A_20241107T113311_N0511_R080_T32VKR_20241107T123948.SAFE/GRANULE/L2A_T32VKR_A048983_20241107T113314/IMG_DATA/R60m/T32VKR_20241107T113311_AOT_60m.jp2","gsd":60,"type":"image/jp2","roles":["data","gsd:60m"],"title":"Aerosol
        optical thickness (AOT) - 60m","nodata":0,"auth:refs":["s3"],"data_type":"uint16","proj:shape":[1830,1830],"description":"S3
        storage provided by CloudFerro Cloud and OpenTelekom Cloud (OTC). Use endpoint
        URL `https://eodata.dataspace.copernicus.eu`.","raster:scale":0.0001,"storage:refs":["cdse-s3","creodias-s3"],"raster:offset":-0.1,"alternate:name":"S3"},"B01_20m":{"href":"s3://eodata/Sentinel-2/MSI/L2A/2024/11/07/S2A_MSIL2A_20241107T113311_N0511_R080_T32VKR_20241107T123948.SAFE/GRANULE/L2A_T32VKR_A048983_20241107T113314/IMG_DATA/R20m/T32VKR_20241107T113311_B01_20m.jp2","bands":[{"eo:center_wavelength":0.443,"eo:full_width_half_max":0.228,"name":"B01","eo:common_name":"coastal"}],"alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(e0fec106-686f-46e0-bc5e-a1ad084ec75c)/Nodes(S2A_MSIL2A_20241107T113311_N0511_R080_T32VKR_20[...]
- request:
    body: '{"bbox": [29.386939787289162, 53.16233383426039, 29.389256239840616, 53.16363607273192],
      "datetime": "2023-11-01T00:00:00Z/2023-11-10T23:59:59Z", "collections": ["sentinel-2-l2a"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://stac.dataspace.copernicus.eu/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","links":[{"rel":"root","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"self","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/search"}],"features":[{"id":"S2B_MSIL2A_20231109T092119_N0509_R093_T35UPV_20231109T104845","bbox":[28.49538,53.123906,30.20926,54.138373],"type":"Fe[...]
