interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1
  response:
    body:
      string: '{"type":"Catalog","id":"cdse-stac","title":"Copernicus Data Space Ecosystem
        (CDSE) asset-level STAC catalogue","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        Asset Catalog) API, which follows the open STAC specification, enables users
        to access detailed asset-level metadata, including spatial information, temporal
        coverage, and data specifications. This standardized interface facilitates
        efficient data discovery and retrieval across the extensive collection of
        environmental and scientific resources. More information: https://documentation.dataspace.copernicus.eu/","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/collections/extensions/transaction","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/ogcapi-features#fields","https://api.stacspec.org/v1.0.0/ogcapi-features#query","https://api.stacspec.org/v1.0.0/ogcapi-features#sort","https://api.stacspec.org/v1.0.0/ogcapi-features/extensions/transaction"],"links":[{"rel":"self","type":"application/json","title":"This
        document","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"root","type":"application/json","title":"Root","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"data","type":"application/json","title":"Collections
        available for this Catalog","href":"https://stac.dataspace.copernicus.eu/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://stac.dataspace.copernicus.eu/v1/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search [GET]","href":"https://stac.dataspace.copernicus.eu/v1/search","method":"GET"},{"rel":"search","type":"application/geo+json","title":"STAC
        search [POST]","href":"https://stac.dataspace.copernicus.eu/v1/search","method":"POST"},{"rel":"http://www.opengis.net/def/rel/ogc/1.0/queryables","type":"application/schema+json","title":"Queryables
        available for this Catalog","href":"https://stac.dataspace.copernicus.eu/v1/queryables","method":"GET"},{"rel":"service-desc","type":"application/vnd.oai.openapi+json;version=3.0","title":"OpenAPI
        service description","href":"https://stac.dataspace.copernicus.eu/v1/api"},{"rel":"service-doc","type":"text/html","title":"OpenAPI
        service documentation","href":"https://stac.dataspace.copernicus.eu/v1/api.html"}],"stac_extensions":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"cdse-stac","title":"Copernicus Data Space Ecosystem
        (CDSE) asset-level STAC catalogue","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        [...]
- request:
    body: '{"datetime": "2020-08-01T00:00:00Z/2020-08-01T23:59:59Z", "collections":
      ["sentinel-3-sl-2-lst-ntc"], "intersects": {"type": "Polygon", "coordinates":
      [[[8.0, 52], [8.1, 52], [8.1, 52.1], [8.0, 52.1], [8.0, 52]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://stac.dataspace.copernicus.eu/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","links":[{"rel":"root","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"self","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/search"}],"features":[{"id":"S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004","bbox":[-6.52898,41.1039,16.7575,54.4836],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-3-sl-2-lst-ntc"},{"rel":"parent","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-3-sl-2-lst-ntc"},{"rel":"root","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"self","type":"application/geo+json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-3-sl-2-lst-ntc/items/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004"},{"rel":"version-history","href":"https://trace.dataspace.copernicus.eu/api/v1/traces/name/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3.zip","type":"application/json","title":"Product
        history record from the CDSE traceability service"},{"rel":"enclosure","href":"s3://eodata/Sentinel-3/SLSTR/SL_2_LST/2020/08/01/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/","type":"application/x-directory","title":"S3
        path to source directory","auth:refs":["s3"],"storage:refs":["cdse-s3","creodias-s3"]}],"assets":{"LST_in":{"href":"s3://eodata/Sentinel-3/SLSTR/SL_2_LST/2020/08/01/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/LST_in.nc","roles":["data"],"title":"LST_in
        measurements","alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(5bd1d000-7df4-5349-94e8-df420aef3b62)/Nodes(S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3)/Nodes(LST_in.nc)/$value","auth:refs":["oidc"],"storage:refs":[],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"file:size":3144654,"storage:refs":["cdse-s3","creodias-s3"],"file:checksum":"d50110b830c0d2e3a62f0b126fac3220981411","file:local_path":"S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/LST_in.nc","type":"application/netcdf","alternate:name":"S3","processing:lineage":"Input
        bands: S8, S9"},"met_tx":{"href":"s3://eodata/Sentinel-3/SLSTR/SL_2_LST/2020/08/01/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/met_tx.nc","roles":["data"],"alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(5bd1d000-7df4-5349-94e8-df420aef3b62)/Nodes(S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3)/Nodes(met_tx.nc)/$value","auth:refs":["oidc"],"storage:refs":[],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"file:size":36190152,"storage:refs":["cdse-s3","creodias-s3"],"file:checksum":"d50110bb6d930f3d75b580cd4794d8cd9493e3","file:local_path":"S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/met_tx.nc","type":"application/netcdf","title":"Meteorological
        parameters regridded onto the 16km tie points","alternate:name":"S3"},"product":{"href":"https://download.dataspace.copernicus.eu/odata/v1/Products(5bd1d000-7df4-5349-94e8-df420aef3b62)/$value","roles":["data","metadata","archive"],"auth:refs":["oidc"],"file:size":66132501,"file:checksum":"d50110ba421a35ccc5ba5de6075ba3c686000c","file:local_path":"S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3.zip","type":"application/zip","title":"Zipped
        product"},"time_in":{"href":"s3://eodata/Sentinel-3/SLSTR/SL_2_LST/2020/08/01/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/time_in.nc","roles":["data"],"alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(5bd1d000-7df4-5349-94e8-df420aef3b62)/Nodes(S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3)/Nodes(time_in.nc)/$value","auth:refs":["oidc"],"storage:refs":[],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"file:size":64723,"storage:refs":["cdse-s3","creodias-s3"],"file:checksum":"d50110c5eaecec366b84e2fe5e431de1de50cf","file:local_path":"S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/time_in.nc","type":"application/netcdf","title":"Time
        annotations for the 1 KM grid","alternate:name":"S3"},"flags_in":{"href":"s3://eodata/Sentinel-3/SLSTR/SL_2_LST/2020/08/01/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/flags_in.nc","roles":["data"],"alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(5bd1d000-7df4-5349-94e8-df420aef3b62)/Nodes(S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3)/Nodes(flags_in.nc)/$value","auth:refs":["oidc"],"storage:refs":[],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"file:size":1294565,"storage:refs":["cdse-s3","creodias-s3"],"file:checksum":"d50110d155a237d0eefea164dbf8c564aee3b6","file:local_path":"S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/flags_in.nc","type":"application/netcdf","title":"Global
        flags for the 1km TIR grid, nadir view","alternate:name":"S3"},"thumbnail":{"href":"https://datahub.creodias.eu/odata/v1/Assets(feb79476-70f2-4c1d-9382-bd8070182076)/$value","roles":["thumbnail"],"alternate":{"s3":{"href":"s3://eodata/Sentinel-3/SLSTR/SL_2_LST/2020/08/01/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004-ql.jpg","auth:refs":["s3"],"storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"}},"file:local_path":"S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004-ql.jpg","type":"image/jpeg","title":"Thumbnail","alternate:name":"HTTPS"},"indices_in":{"href":"s3://eodata/Sentinel-3/SLSTR/SL_2_LST/2020/08/01/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/indices_in.nc","roles":["data"],"alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(5bd1d000-7df4-5349-94e8-df420aef3b62)/Nodes(S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3)/Nodes(indices_in.nc)/$value","auth:refs":["oidc"],"storage:refs":[],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"file:size":1019613,"storage:refs":["cdse-s3","creodias-s3"],"file:checksum":"d501109baab42ed25a8f5218c8a5a0c803c672","file:local_path":"S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/indices_in.nc","type":"application/netcdf","title":"Scan,
        pixel and detector annotations for the 1km TIR grid, nadir view","alternate:name":"S3"},"geodetic_in":{"href":"s3://eodata/Sentinel-3/SLSTR/SL_2_LST/2020/08/01/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/geodetic_in.nc","roles":["data"],"alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(5bd1d000-7df4-5349-94e8-df420aef3b62)/Nodes(S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3)/Nodes(geodetic_in.nc)/$value","auth:refs":["oidc"],"storage:refs":[],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"file:size":9190084,"storage:refs":["cdse-s3","creodias-s3"],"file:checksum":"d501105c5c7f51bd4eb218d3306a74c7ad4227","file:local_path":"S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/geodetic_in.nc","type":"application/netcdf","title":"Full
        resolution geodetic coordinates for the 1km TIR grid, nadir view","alternate:name":"S3"},"geodetic_tx":{"href":"s3://eodata/Sentinel-3/SLSTR/SL_2_LST/2020/08/01/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/geodetic_tx.nc","roles":["data"],"alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(5bd1d000-7df4-5349-94e8-df420aef3b62)/Nodes(S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3)/Nodes(geodetic_tx.nc)/$value","auth:refs":["oidc"],"storage:refs":[],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"file:size":1781180,"storage:refs":["cdse-s3","creodias-s3"],"file:checksum":"d50110a4cf18ac61770436f3a301ab52665f9e","file:local_path":"S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/geodetic_tx.nc","type":"application/netcdf","title":"16km
        geodetic coordinates","alternate:name":"S3"},"geometry_tn":{"href":"s3://eodata/Sentinel-3/SLSTR/SL_2_LST/2020/08/01/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/geometry_tn.nc","roles":["data"],"alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(5bd1d000-7df4-5349-94e8-df420aef3b62)/Nodes(S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3)/Nodes(geometry_tn.nc)/$value","auth:refs":["oidc"],"storage:refs":[],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"file:size":3389661,"storage:refs":["cdse-s3","creodias-s3"],"file:checksum":"d50110baaf2641051a6c6b0d8afe1083992011","file:local_path":"S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/geometry_tn.nc","type":"application/netcdf","title":"16km
        solar and satellite geometry annotations, nadir view","alternate:name":"S3"},"cartesian_in":{"href":"s3://eodata/Sentinel-3/SLSTR/SL_2_LST/2020/08/01/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/cartesian_in.nc","roles":["data"],"alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(5bd1d000-7df4-5349-94e8-df420aef3b62)/Nodes(S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3)/Nodes(cartesian_in.nc)/$value","auth:refs":["oidc"],"storage:refs":[],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"file:size":4943472,"storage:refs":["cdse-s3","creodias-s3"],"file:checksum":"d50110e997b09b6c3fa14e99590aca4e9c4cea","file:local_path":"S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/cartesian_in.nc","type":"application/netcdf","title":"Full
        resolution cartesian coordinates for the 1km TIR grid, nadir view","alternate:name":"S3"},"cartesian_tx":{"href":"s3://eodata/Sentinel-3/SLSTR/SL_2_LST/2020/08/01/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/cartesian_tx.nc","roles":["data"],"alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(5bd1d000-7df4-5349-94e8-df420aef3b62)/Nodes(S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3)/Nodes(cartesian_tx.nc)/$value","auth:refs":["oidc"],"storage:refs":[],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"file:size":42070,"storage:refs":["cdse-s3","creodias-s3"],"file:checksum":"d50110cb470f9136f453a0c17a7d99464e69fc","file:local_path":"S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/cartesian_tx.nc","type":"application/netcdf","title":"16km
        cartesian coordinates","alternate:name":"S3"},"xfdumanifest":{"href":"s3://eodata/Sentinel-3/SLSTR/SL_2_LST/2020/08/01/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/xfdumanifest.xml","roles":["metadata"],"alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(5bd1d000-7df4-5349-94e8-df420aef3b62)/Nodes(S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3)/Nodes(xfdumanifest.xml)/$value","auth:refs":["oidc"],"storage:refs":[],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"storage:refs":["cdse-s3","creodias-s3"],"file:local_path":"S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/xfdumanifest.xml","type":"application/xml","title":"Product
        manifest","alternate:name":"S3"},"LST_ancillary_ds":{"href":"s3://eodata/Sentinel-3/SLSTR/SL_2_LST/2020/08/01/S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/LST_ancillary_ds.nc","roles":["data"],"title":"LST
        ancillary measurements","alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(5bd1d000-7df4-5349-94e8-df420aef3b62)/Nodes(S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3)/Nodes(LST_ancillary_ds.nc)/$value","auth:refs":["oidc"],"storage:refs":[],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"file:size":4844382,"storage:refs":["cdse-s3","creodias-s3"],"file:checksum":"d501104fd7b70b70915d108f0454f68a4d7adc","file:local_path":"S3A_SL_2_LST____20200801T210952_20200801T211252_20200803T022450_0180_061_143_0720_LN2_O_NT_004.SEN3/LST_ancillary_ds.nc","type":"application/netcdf","alternate:name":"S3"}},"geometry":{"type":"Polygon","coordinates":[[[15.224099999999998,54.4836],[4.459149999999999,53.477599999999995],[-6.528979999999999,51.3177],[-1.10594,41.103899999999996],[16.7575,44.01749999999999],[15.224099999999998,54.4836]]]},"collection":"sentinel-3-sl-2-lst-ntc","properties":{"gsd":1000,"created":"2020-08-03T03:19:29.162000Z","expires":"9999-01-01T00:00:00.000000Z","updated":"2025-11-11T03:30:28.192929Z","datetime":"2020-08-01T21:09:51.776067Z","platform":"sentinel-3a","proj:code":null,"published":"2020-08-03T03:22:37.619712Z","statistics":{"land":81.644444,"coastal":0.239333,"saline_water":18.355556,"tidal_region":4.132833,"fresh_inland_water":0.795222},"instruments":["slstr"],"auth:schemes":{"s3":{"type":"s3"},"oidc":{"type":"openIdConnect","openIdConnectUrl":"https://identity.dataspace.copernicus.eu/auth/realms/CDSE/.well-known/openid-configuration"}},"end_datetime":"2020-08-01T21:12:51.776067Z","product:type":"SL_2_LST___","constellation":"sentinel-3","eo:cloud_cover":54.63,"start_datetime":"2020-08-01T21:09:51.776067Z","sat:orbit_cycle":61,"sat:orbit_state":"ascending","storage:schemes":{"cdse-s3":{"type":"custom-s3","title":"Copernicus
        Data Space Ecosystem S3","platform":"https://eodata.dataspace.copernicus.eu","description":"This
        endpoint provides access to EO data which is stored on the object storage
        of both CloudFerro Cloud and OpenTelekom Cloud (OTC). See the [documentation](https://documentation.dataspace.copernicus.eu/APIs/S3.html)
        for more information, including how to get credentials.","requester_pays":false},"creodias-s3":{"type":"custom-s3","title":"CREODIAS
        S3","platform":"https://eodata.cloudferro.com","description":"Comprehensive
        Earth Observation Data (EODATA) archive offered by CREODIAS as a commercial
        part of CDSE, designed to provide users with access to a vast repository of
        satellite data without predefined quota limits.","requester_pays":true}},"processing:level":"L2","processing:version":"03.37","product:timeliness":"P1M","sat:absolute_orbit":23216,"sat:relative_orbit":143,"processing:datetime":"2020-08-03T02:28:34.000000Z","processing:software":{"eometadatatool":"251021130925+dirty"},"eopf:origin_datetime":"2020-08-03T03:19:29.162000Z","product:timeliness_category":"NT","sat:platform_international_designator":"2016-011A"},"stac_extensions":["https://cs-si.github.io/eopf-stac-extension/v1.2.0/schema.json","https://stac-extensions.github.io/alternate-assets/v1.2.0/schema.json","https://stac-extensions.github.io/authentication/v1.1.0/schema.json","https://stac-extensions.github.io/eo/v2.0.0/schema.json","https://stac-extensions.github.io/file/v2.1.0/schema[...]
