interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"Catalogue","description":"Catalogue
        of data available in the platform","conformsTo":["https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/item-search","https://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","https://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson"],"links":[{"href":"https://catalogue.dataspace.copernicus.eu/stac","rel":"root","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac","rel":"self","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/api","rel":"service-desc","type":"application/vnd.oai.openapi"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/conformance","rel":"conformance","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/collections","rel":"data","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/search","title":"STAC
        search","rel":"search","type":"application/json","method":"GET"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/search","title":"STAC
        search","rel":"search","type":"application/json","method":"POST"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"bbox": [9.0, 47.0, 9.1, 47.1], "datetime": "2020-07-01T00:00:00Z/2020-07-05T23:59:59Z",
      "collections": ["SENTINEL-2"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://catalogue.dataspace.copernicus.eu/stac/search
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2B_MSIL2A_20200705T101559_N0500_R065_T32TMT_20230530T175912.SAFE","collection":"SENTINEL-2","geometry":{"type":"Polygon","coordinates":[[[7.76078577317515,46.8585546453425],[9.12805716115114,46.8656282477783],[9.1304703619168,47.8536277119106],[8.11986437443316,47.848316550543],[8.08075144746979,47.7402034965077],[8.02597297661276,47.5941822142492],[7.9725900943776,47.4477247818403],[7.91886642721903,47.3013959704463],[7.8666772904526,47.1546755722738],[7.81487208644565,47.007893261513],[7.76183728601912,46.8614988925643],[7.76078577317515,46.8585546453425]]]},"properties":{"origin":"ESA","tileId":"32TMT","cloudCover":11.320929,"datastripId":"S2B_OPER_MSI_L2A_DS_S2RP_20230530T175912_S20200705T101917_N05.00","orbitNumber":17394,"orbitDirection":"DESCENDING","processingDate":"2023-05-30T17:59:12.000000+00:00","productGroupId":"GS2B_20200705T101559_017394_N05.00","processingLevel":"S2MSI2A","processorVersion":"05.00","platformShortName":"SENTINEL-2","instrumentShortName":"MSI","relativeOrbitNumber":65,"platformSerialIdentifier":"B","datetime":"2020-07-05T10:15:59.024000Z","end_datetime":"2020-07-05T10:15:59.024000Z","start_datetime":"2020-07-05T10:15:59.024000Z","productType":"S2MSI2A"},"bbox":[7.76078577317515,46.8585546453425,9.1304703619168,47.8536277119106],"links":[{"rel":"root","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac"},{"rel":"self","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2/items/S2B_MSIL2A_20200705T101559_N0500_R065_T32TMT_20230530T175912.SAFE"},{"rel":"collection","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2"}],"assets":{"QUICKLOOK":{"href":"https://catalogue.dataspace.copernicus.eu/odata/v1/Assets(51bc06c6-8a0c-4a63-a5e8-3edf45cea00b)/$value","title":"QUICKLOOK","type":"image/jpeg"},"PRODUCT":{"href":"https://catalogue.dataspace.copernicus.eu/odata/v1/Products(3c28d2e4-0dc5-4e60-838f-df369e3cb9c5)/$value","title":"Product","type":"application/octet-stream","alternate":{"s3":{"href":"/eodata/Sentinel-2/MSI/L2A_N0500/2020/07/05/S2B_MSIL2A_20200705T101559_N0500_R065_T32TMT_20230530T175912.SAFE","storage:platform":"CLOUDFERRO","storage:region":"waw","storage:requester_pays":false,"storage:tier":"Online"}}}}},{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2A_MSIL2A_20200703T103031_N0214_R108_T32TMT_20200703T142409.SAFE","collection":"SENTINEL-2","geometry":{"type":"Polygon","coordinates":[[[7.6628652904457,47.84591482731],[9.1304703619168,47.853627711911],[9.1280571611511,46.865628247778],[7.687588500476,46.858175957972],[7.6628652904457,47.84591482731]]]},"properties":{"origin":"ESA","tileId":"32TMT","authority":"ESA","cloudCover":99.375648,"coordinates":"47.84591482730969,7.662865290445674
        47.85362771191058,9.130470361916801 46.86562824777826,9.128057161151142 46.858175957972115,7.687588500476012
        47.84591482730969,7.662865290445674","orbitNumber":26274,"productType":"S2MSI2A","orbitDirection":"DESCENDING","productGroupId":"GS2A_20200703T103031_026274_N02.14","operationalMode":"","processingLevel":"S2MSI2A","processorVersion":"2.14","platformShortName":"SENTINEL-2","spatialResolution":"60.0","instrumentShortName":"MSI","relativeOrbitNumber":108,"platformSerialIdentifier":"A","datetime":"2020-07-03T10:30:31.024000Z","end_datetime":"2020-07-03T10:30:31.024000Z","start_datetime":"2020-07-03T10:30:31.024000Z"},"bbox":[7.662865161895752,46.85817337036133,9.130471229553223,47.85363006591797],"links":[{"rel":"root","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac"},{"rel":"self","type":"application/json","href":"https://catalogue.dataspace.copernicus.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2/items/S2A_MSIL2A_20200703T103031_N0214_R108_T32TMT_20200703T142409.SAFE
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2A_MSIL2A_20200703T103031_N0214_R108_T32TMT_20200703T1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2/items/S2B_MSIL2A_20200705T101559_N0214_R065_T32TMT_20200705T135630.SAFE
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2B_MSIL2A_20200705T101559_N0214_R065_T32TMT_20200705T1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2/items/S2B_MSIL2A_20200705T101559_N0214_R065_T32TNT_20200705T135630.SAFE
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2B_MSIL2A_20200705T101559_N0214_R065_T32TNT_20200705T1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2/items/S2A_MSIL2A_20200703T103031_N0214_R108_T32TNT_20200703T142409.SAFE
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2A_MSIL2A_20200703T103031_N0214_R108_T32TNT_20200703T1[...]
