interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"Catalogue","description":"Catalogue
        of data available in the platform","conformsTo":["https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/item-search","https://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","https://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson"],"links":[{"href":"https://catalogue.dataspace.copernicus.eu/stac","rel":"root","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac","rel":"self","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/api","rel":"service-desc","type":"application/vnd.oai.openapi"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/conformance","rel":"conformance","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/collections","rel":"data","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/search","title":"STAC
        search","rel":"search","type":"application/json","method":"GET"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/search","title":"STAC
        search","rel":"search","type":"application/json","method":"POST"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"bbox": [9.0, 47.0, 9.1, 47.1], "datetime": "2020-07-01T00:00:00Z/2020-07-05T23:59:59Z",
      "collections": ["SENTINEL-2"], "sortby": [{"field": "datetime", "direction":
      "asc"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://catalogue.dataspace.copernicus.eu/stac/search
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2A_MSIL1C_20200703T103031_N0500_R108_T32TNT_20230613T124137.SAFE","collection":"SENTINEL-2","geometry":{"type":"Polygon","coordinates":[[[9.68381962992679,47.849330906488],[8.9997326423426,47.8537018424875],[8.99973758744939,46.8656998733542],[9.24273258960387,46.8641714687874],[9.26992635144551,46.9309739319361],[9.33782558172637,47.0751035968074],[9.40083383239998,47.2206108720533],[9.46621980687292,47.3655739548511],[9.53224150088636,47.5103195022625],[9.59683246552177,47.6554189329628],[9.66172622540773,47.8004352097739],[9.68381962992679,47.849330906488]]]},"properties":{"origin":"ESA","tileId":"32TNT","cloudCover":94.18949479132928,"datastripId":"S2A_OPER_MSI_L1C_DS_S2RP_20230613T124137_S20200703T103715_N05.00","orbitNumber":26274,"orbitDirection":"DESCENDING","processingDate":"2023-06-13T12:41:37.000000+00:00","productGroupId":"GS2A_20200703T103031_026274_N05.00","operationalMode":"INS-NOBS","processingLevel":"S2MSI1C","processorVersion":"05.00","platformShortName":"SENTINEL-2","instrumentShortName":"MSI","relativeOrbitNumber":108,"platformSerialIdentifier":"A","datetime":"2020-07-03T10:30:31.024000Z","end_datetime":"2020-07-03T10:30:31.024000Z","start_datetime":"2020-07-03T10:30:31.024000Z","productType":"S2MSI1C"},"bbox":[8.9997326423426,46.8641714687874,9.68381962992679,47.8537018424875],"links":[{"rel":"root","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac"},{"rel":"self","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2/items/S2A_MSIL1C_20200703T103031_N0500_R108_T32TNT_20230613T124137.SAFE"},{"rel":"collection","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2"}],"assets":{"QUICKLOOK":{"href":"https://catalogue.dataspace.copernicus.eu/odata/v1/Assets(545f7d76-98b5-4cd0-bcc6-640ad356f6b3)/$value","title":"QUICKLOOK","type":"image/jpeg"},"PRODUCT":{"href":"https://catalogue.dataspace.copernicus.eu/odata/v1/Products(4d6ae111-ef35-492f-83ec-4415c147f9ec)/$value","title":"Product","type":"application/octet-stream","alternate":{"s3":{"href":"/eodata/Sentinel-2/MSI/L1C_N0500/2020/07/03/S2A_MSIL1C_20200703T103031_N0500_R108_T32TNT_20230613T124137.SAFE","storage:platform":"CLOUDFERRO","storage:region":"waw","storage:requester_pays":false,"storage:tier":"Online"}}}}},{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2A_MSIL1C_20200703T103031_N0209_R108_T32TNT_20200703T124229.SAFE","collection":"SENTINEL-2","geometry":{"type":"Polygon","coordinates":[[[9.6838357098316,47.849330803746],[9.6617717751076,47.800446953062],[9.5968539164576,47.655436667833],[9.5322446251061,47.510341789159],[9.4662299569609,47.365594404981],[9.4008433742147,47.220631410105],[9.3378800047951,47.075112777621],[9.2698986791668,46.93100371947],[9.2427358976471,46.86417144798],[8.9997375874494,46.865699873354],[8.9997326423426,47.853701842488],[9.6838357098316,47.849330803746]]]},"properties":{"origin":"ESA","tileId":"32TNT","authority":"ESA","cloudCover":94.6951,"coordinates":"47.849330803746305,9.683835709831559
        47.80044695306151,9.661771775107594 47.655436667833214,9.596853916457553 47.51034178915896,9.532244625106054
        47.365594404981216,9.466229956960918 47.22063141010455,9.400843374214736 47.075112777620994,9.337880004795144
        46.93100371946991,9.269898679166827 46.86417144798023,9.242735897647075 46.86569987335423,8.99973758744939
        47.85370184248753,8.999732642342602 47.849330803746305,9.683835709831559","orbitNumber":26274,"productType":"S2MSI1C","hvOrderTileid":"TT32N","orbitDirection":"DESCENDING","productGroupId":"GS2A_20200703T103031_026274_N02.09","operationalMode":"INS-NOBS","processingLevel":"S2MSI1C","processorVersion":"2.09","platformShortName":"SENTINEL-2","spatialResolution":"60.0","instrumentShortName":"MSI","relativeOrbitNumber":108,"platformSerialIdentifier":"A","datetime":"2020-07-03T10:30:31.024000Z","end_datetime":"2020-07-03T10:30:31.024000Z","start_datetime":"2020-07-03T10:30:31.024000Z"},"bbox":[8.99973201751709,46.86417007446289,9.683835983276367,47.853702545166016],"links":[{"rel":"root","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac"},{"rel":"self","type":"application/json","href":"https://catalogue.dataspace.copernicus.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2/items/S2A_MSIL2A_20200703T103031_N0214_R108_T32TNT_20200703T142409.SAFE
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2A_MSIL2A_20200703T103031_N0214_R108_T32TNT_20200703T1[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2/items/S2A_MSIL2A_20200703T103031_N0214_R108_T32TMT_20200703T142409.SAFE
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2A_MSIL2A_20200703T103031_N0214_R108_T32TMT_20200703T1[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2/items/S2B_MSIL2A_20200705T101559_N0500_R065_T32TMT_20230530T175912.SAFE
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2B_MSIL2A_20200705T101559_N0500_R065_T32TMT_20230530T1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2/items/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T1[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1
  response:
    body:
      string: '{"type":"Catalog","id":"Copernicus Data Space Ecosystem (CDSE) asset-level
        STAC catalogue","title":"cdse-stac","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        A[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"Copernicus Data Space Ecosystem (CDSE) asset-level
        STAC catalogue","title":"cdse-stac","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        [...]
- request:
    body: '{"bbox": [9.0, 47.0, 9.1, 47.1], "datetime": "2020-07-01T00:00:00Z/2020-07-05T23:59:59Z",
      "collections": ["sentinel-2-l2a"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://stac.dataspace.copernicus.eu/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","links":[{"rel":"root","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"self","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/search"}],"features":[{"id":"S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912","bbox":[8.999733,46.85664,10.467277,47.853702],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a"},{"rel":"parent","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a"},{"rel":"root","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"self","type":"application/geo+json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912"},{"rel":"version-history","href":"https://trace.dataspace.copernicus.eu/api/v1/traces/name/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE.zip","type":"application/json","title":"Product
        history record from the CDSE traceability service"}],"assets":{"AOT_10m":{"href":"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/07/05/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R10m/T32TNT_20200705T101559_AOT_10m.jp2","alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(8e7057cf-af5f-46de-868e-fe5a8faa2d9c)/Nodes(S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE)/Nodes(GRANULE)/Nodes(L2A_T32TNT_A017394_20200705T101917)/Nodes(IMG_DATA)/Nodes(R10m)/Nodes(T32TNT_20200705T101559_AOT_10m.jp2)/$value","auth:refs":["oidc"],"alternate:name":"HTTPS"}},"file:size":2379238,"proj:bbox":[499980.0,5190240,609780,5300040.0],"proj:code":"EPSG:32632","file:checksum":"1620938d5f6bd235961c23d0a9656f98fd2b98332ca541095c3c1f0a8cb751409a84","proj:transform":[10.0,0.0,499980.0,0.0,-10.0,5300040.0],"file:local_path":"S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R10m/T32TNT_20200705T101559_AOT_10m.jp2","gsd":10,"type":"image/jp2","roles":["data","gsd:10m"],"title":"Aerosol
        optical thickness (AOT) - 10m","nodata":0,"auth:refs":["s3"],"data_type":"uint16","proj:shape":[10980,10980],"description":"S3
        storage provided by CloudFerro Cloud and OpenTelekom Cloud (OTC). Use endpoint
        URL `https://eodata.dataspace.copernicus.eu`.","raster:scale":0.0001,"storage:refs":["cdse-s3","creodias-s3"],"raster:offset":-0.1,"alternate:name":"S3"},"AOT_20m":{"href":"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/07/05/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R20m/T32TNT_20200705T101559_AOT_20m.jp2","alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(8e7057cf-af5f-46de-868e-fe5a8faa2d9c)/Nodes(S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE)/Nodes(GRANULE)/Nodes(L2A_T32TNT_A017394_20200705T101917)/Nodes(IMG_DATA)/Nodes(R20m)/Nodes(T32TNT_20200705T101559_AOT_20m.jp2)/$value","auth:refs":["oidc"],"alternate:name":"HTTPS"}},"file:size":1991195,"proj:bbox":[499980.0,5190240,609780,5300040.0],"proj:code":"EPSG:32632","file:checksum":"1620bd4e78f5ea19b71a3b382be62e5bf6192e0eca31d8f0be3851b603d56f255d48","proj:transform":[20.0,0.0,499980.0,0.0,-20.0,5300040.0],"file:local_path":"S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R20m/T32TNT_20200705T101559_AOT_20m.jp2","gsd":20,"type":"image/jp2","roles":["data","gsd:20m"],"title":"Aerosol
        optical thickness (AOT) - 20m","nodata":0,"auth:refs":["s3"],"data_type":"uint16","proj:shape":[5490,5490],"description":"S3
        storage provided by CloudFerro Cloud and OpenTelekom Cloud (OTC). Use endpoint
        URL `https://eodata.dataspace.copernicus.eu`.","raster:scale":0.0001,"storage:refs":["cdse-s3","creodias-s3"],"raster:offset":-0.1,"alternate:name":"S3"},"AOT_60m":{"href":"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/07/05/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R60m/T32TNT_20200705T101559_AOT_60m.jp2","alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(8e7057cf-af5f-46de-868e-fe5a8faa2d9c)/Nodes(S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE)/Nodes(GRANULE)/Nodes(L2A_T32TNT_A017394_20200705T101917)/Nodes(IMG_DATA)/Nodes(R60m)/Nodes(T32TNT_20200705T101559_AOT_60m.jp2)/$value","auth:refs":["oidc"],"alternate:name":"HTTPS"}},"file:size":626148,"proj:bbox":[499980.0,5190240,609780,5300040.0],"proj:code":"EPSG:32632","file:checksum":"162005d3533658d879fe3676038b84a0d8a4f54e55244f6a1b8f6f3b7e36bd330415","proj:transform":[60.0,0.0,499980.0,0.0,-60.0,5300040.0],"file:local_path":"S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R60m/T32TNT_20200705T101559_AOT_60m.jp2","gsd":60,"type":"image/jp2","roles":["data","gsd:60m"],"title":"Aerosol
        optical thickness (AOT) - 60m","nodata":0,"auth:refs":["s3"],"data_type":"uint16","proj:shape":[1830,1830],"description":"S3
        storage provided by CloudFerro Cloud and OpenTelekom Cloud (OTC). Use endpoint
        URL `https://eodata.dataspace.copernicus.eu`.","raster:scale":0.0001,"storage:refs":["cdse-s3","creodias-s3"],"raster:offset":-0.1,"alternate:name":"S3"},"B01_20m":{"href":"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/07/05/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R20m/T32TNT_20200705T101559_B01_20m.jp2","bands":[{"eo:center_wavelength":0.442,"eo:full_width_half_max":0.228,"name":"B01","eo:common_name":"coastal"}],"alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(8e7057cf-af5f-46de-868e-fe5a8faa2d9c)/Nodes(S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE)/Nodes(GRANULE)/Nodes(L2A_T32TNT_A017394_20200705T101917)/Nodes(IMG_DATA)/Nodes(R20m)/Nodes(T32TNT_20200705T101559_B01_20m.jp2)/$value","auth:refs":["oidc"],"alternate:name":"HTTPS"}},"file:size":22191746,"proj:bbox":[499980.0,5190240,609780,5300040.0],"proj:code":"EPSG:32632","view:azimuth":150.095577088021,"file:checksum":"1620a6e3ba19fecab58dd59c4cd61dd773b94b0f38fbb583e4bba3aaa4235d68e3c0","proj:transform":[20.0,0.0,499980.0,0.0,-20.0,5300040.0],"file:local_path":"S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R20m/T32TNT_20200705T101559_B01_20m.jp2","view:incidence_angle":3.2593494236444,"gsd":20,"type":"image/jp2","roles":["data","reflectance","sampling:upsampled","gsd:20m"],"title":"Coastal
        aerosol (band 1) - 20m","nodata":0,"auth:refs":["s3"],"data_type":"uint16","proj:shape":[5490,5490],"description":"S3
        storage provided by CloudFerro Cloud and OpenTelekom Cloud (OTC). Use endpoint
        URL `https://eodata.dataspace.copernicus.eu`.","raster:scale":0.0001,"storage:refs":["cdse-s3","creodias-s3"],"raster:offset":-0.1,"alternate:name":"S3"},"B01_60m":{"href":"s3://eodata/Sentinel-2/MSI/L2A_N0500/2020/07/05/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912.SAFE/GRANULE/L2A_T32TNT_A017394_20200705T101917/IMG_DATA/R60m/T32TNT_20200705T101559_B01_60m.jp2","bands":[{"eo:center_wavelength":0.442,"eo:full_width_half_max":0.228,"name":"B01","eo:common_name":"coastal"}],"alternate":{"https":{"href":"https://zipper.dataspace.copernicus.eu/odata/v1/Products(8e7057cf-af5f-46de-868e-fe5a8faa2d9c)/Nodes(S2B_MSIL2A_20200705T101559_N0500_R065_T32[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items/S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912
  response:
    body:
      string: '{"id":"S2B_MSIL2A_20200705T101559_N0500_R065_T32TNT_20230530T175912","bbox":[8.999733,46.85664,10.467277,47.853702],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a"},[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items/S2B_MSIL2A_20200705T101559_N0500_R065_T32TMT_20230530T175912
  response:
    body:
      string: '{"id":"S2B_MSIL2A_20200705T101559_N0500_R065_T32TMT_20230530T175912","bbox":[7.760786,46.858555,9.13047,47.853628],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a"},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items/S2A_MSIL2A_20200703T103031_N0500_R108_T32TNT_20230613T212700
  response:
    body:
      string: '{"id":"S2A_MSIL2A_20200703T103031_N0500_R108_T32TNT_20230613T212700","bbox":[8.999733,46.864171,9.68382,47.853702],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a"},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items/S2A_MSIL2A_20200703T103031_N0500_R108_T32TMT_20230613T212700
  response:
    body:
      string: '{"id":"S2A_MSIL2A_20200703T103031_N0500_R108_T32TMT_20230613T212700","bbox":[7.662865,46.858176,9.13047,47.853628],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a"},{[...]
