interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":114853302,"returned":10},"numberMatched":114853302,"numberReturned":10,"features":[{"type":"Feature","stac_version":"1.0.0","id":"S1A_EW_GRDM_1SDH_20250709T083719_20250709T083754_060004_07745D","properties":{"sar:frequency_band":"C","sar:center_frequency":5.405,"sar:observation_direction":"right","sar:instrument_mode":"EW","sar:polarizations":["HH","HV"],"sar:product_type":"GRD","sar:resolution_range":93,"sar:resolution_azimuth":87,"sar:pixel_spacing_range":40,"sar:pixel_spacing_azimuth":40,"sar:looks_range":6,"sar:looks_azimuth":2,"sar:looks_equivalent_number":10.7,"sat:platform_international_designator":"2014-016A","sat:orbit_state":"ascending","sat:absolute_orbit":60004,"sat:relative_orbit":82,"proj:epsg":4326,"proj:bbox":[-179.030899,-71.067413,177.27272,-67.109283],"proj:shape":[10391,6019],"proj:transform":[0.05919648097690647,0,-179.030899,0,-0.0003809190645751128,-67.109283],"proj:centroid":{"lat":-68.98999,"lon":54.97621},"platform":"sentinel-1a","constellation":"sentinel-1","start_datetime":"2025-07-09T08:37:19.210934Z","end_datetime":"2025-07-09T08:37:54.832929Z","s1:instrument_configuration_ID":"7","s1:datatake_id":"488541","s1:product_timeliness":"Fast-24h","s1:processing_level":"1","s1:resolution":"medium","s1:orbit_source":"RESORB","s1:slice_number":"2","s1:total_slices":"2","s1:shape":[10391,6019],"s1:product_identifier":"S1A_EW_GRDM_1SDH_20250709T083719_20250709T083754_060004_07745D_A1CC","s1:processing_datetime":"2025-07-09T09:58:20.000000Z","storage:platform":"AWS","storage:region":"eu-central-1","storage:requester_pays":true,"datetime":"2025-07-09T08:37:37.021932Z","processing:software":{"sentinel1-to-stac":"2025.05.13"},"created":"2025-07-09T10:09:14.064Z","updated":"2025-07-09T10:09:14.064Z"},"geometry":{"type":"MultiPolygon","coordinates":[[[[-180,-68.43652872486697],[-180,-69.10172057663014],[-179.80519210993444,-69.0422866406617],[-179.41249561241546,-68.9202347748091],[-179.09728492017587,-68.82046549676907],[-179.4291485513722,-68.68147469327265],[-179.75756472531492,-68.54156641523555],[-180,-68.43652872486697]]],[[[180,-69.10172057663014],[180,-68.43652872486697],[179.91806100489015,-68.40102777390743],[179.5976678952958,-68.25987093928984],[179.28119563004392,-68.11810771681694],[178.96858486906604,-67.97574978330927],[178[...]
[...]
