interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections
  response:
    body:
      string: "{\"collections\":[{\"type\":\"Collection\",\"id\":\"sentinel-2-pre-c1-l2a\",\"title\":\"Sentinel-2
        Pre-Collection 1 Level-2A \",\"description\":\"Sentinel-2 Pre-Collection 1
        Level-2A (baseline < 05.00), with data and metadata matching collection sentinel-2-c1-l2a\",\"stac_version\":\"1.0.0\",\"links\":[{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-pre-c1-l2a\"},{\"rel\":\"cite-as\",\"href\":\"https://doi.org/10.5270/S2_[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections/landsat-c2-l2/items?collections=landsat-c2-l2
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":9260439,"returned":10},"numberMatched":9260439,"numberReturned":10,"features":[{"type":"Feature","stac_version":"1.0.0","id":"LC09_L2SR_083075_20240728_02_T1","properties":{"platform":"landsat-9","instruments":["oli","tirs"],"created":"2024-07-29T11:53:23.645Z","gsd":30,"description":"Landsat
        Collection 2 Level-2","eo:cloud_cover":20.45,"view:off_nadir":0,"view:sun_elevation":38.93846764,"view:sun_azimuth":40.14799346,"proj:epsg":32658,"proj:shape":[7731,7631],"proj:transform":[30,0,275085,0,-30,-2281185],"proj:centroid":{"lat":-21.67093,"lon":163.92366},"landsat:cloud_cover_land":0.09,"landsat:wrs_type":"2","landsat:wrs_path":"083","landsat:wrs_row":"075","landsat:collection_category":"T1","landsat:collection_number":"02","landsat:correction":"L2SR","landsat:scene_id":"LC90830752024210LGN00","landsat:product_generated":"2024-07-29T11:23:39Z","grid:code":"WRS2-083075","sci:doi":"10.5066/P9OGBGM6","datetime":"2024-07-28T23:02:54.163312Z","earthsearch:payload_id":"usgs-landsat-c2l2/workflow-landsat-to-stac/36408ae8f6b392d7a96a6af23ac65fdc","processing:software":{"landsat-to-stac":"v2023.11.16"},"updated":"2024-07-29T11:53:23.645Z"},"geometry":{"type":"Polygon","coordinates":[[[163.25631892094583,-20.62811334186804],[162.8378053487068,-22.352879773723068],[164.62309919910152,-22.719199992815618],[165.01929067828883,-20.9893129962217],[163.25631892094583,-20.62811334186804]]]},"links":[{"rel":"self","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/collections/landsat-c2-l2/items/LC09_L2SR_083075_20240728_02_T1"},{"rel":"canonical","href":"s3://earthsearch-data/landsat-c2-l2/083/075/2024/7/LC09_L2SR_083075_20240728_02_T1/LC09_L2SR_083075_20240728_02_T1.json","type":"application/json"},{"rel":"cite-as","href":"https://doi.org/10.5066/P9OGBGM6","title":"Landsat
        8-9 OLI/TIRS Collection 2 Level-2"},{"rel":"via","href":"https://landsatlook.usgs.gov/stac-server/collections/landsat-c2l2-sr/items/LC09_L2SR_083075_20240728_20240729_02_T1_SR","type":"application/json","title":"USGS
        STAC Item"},{"rel":"parent","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/landsat-c2-l2"},{"rel":"collection","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/landsat-c2-l2"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"thumbnail","href":"https://earth-search.aws.element84.com/v1/collections/landsat-c2-l2/items/LC09_L2SR_083075_20240728_02_T1/thumbnail"}],"assets":{"thumbnail":{"href":"s3://usgs-landsat/collection02/level-2/standard/oli-tirs/2024/083/075/LC09_L2SR_083075_20240728_20240729_02_T1/LC09_L2SR_083075_20240728_20240729_02_T1_thumb_small.jpeg","type":"image/jpeg","title":"Thumbnail
        image","roles":["thumbnail"],"storage:platform":"AWS","storage:region":"us-west-2","storage:requester_pays":true},"reduced_resolution_browse":{"href":"s3://usgs-landsat/collection02/level-2/standard/oli-tirs/2024/083/075/LC09_L2SR_083075_20240728_20240729_02_T1/LC09_L2SR_083075_20240728_20240729_02_T1_thumb_large.jpeg","type":"image/jpeg","title":"Reduced
        resolution browse image","roles":["overview"],"storage:platform":"AWS","storage:region":"us-west-2","storage:requester_pays":true},"mtl.json":{"href":"s3://usgs-landsat/collection02/level-2/standard/oli-tirs/2024/083/075/LC09_L2SR_083075_20240728_20240729_02_T1/LC09_L2SR_083075_20240728_20240729_02_T1_MTL.json","type":"application/json","title":"Product
        Metadata File (json)","description":"Collection 2 Level-2 Product Metadata
        File (json)","roles":["metadata"],"storage:platform":"AWS","storage:region":"us-west-2","storage:requester_pays":true},"mtl.txt":{"href":"s3://usgs-landsat/collection02/level-2/standard/oli-tirs/2024/083/075/LC09_L2SR_083075_20240728_20240729_02_T1/LC09_L2SR_083075_20240728_20240729_02_T1_MTL.txt","type":"text/plain","title":"Product
        Metadata File (txt)","description":"Collection 2 Level-2 Product Metadata
        File (txt)","roles":["metadata"],"storage:platform":"AWS","storage:region":"us-west-2","storage:requester_pays":true},"mtl.xml":{"href":"s3://usgs-landsat/collection02/level-2/standard/oli-tirs/2024/083/075/LC09_L2SR_083075_20240728_20240729_02_T1/LC09_L2SR_083075_20240728_20240729_02_T1_MTL.xml","type":"application/xml","title":"Product
        Metadata File (xml)","description":"Collection 2 Level-2 Product Metadata
        File (xml)","roles":["metadata"],"storage:platform":"AWS","storage:region":"us-west-2","storage:requester_pays":true},"ang":{"href":"s3://usgs-landsat/collection02/level-2/standard/oli-tirs/2024/083/075/LC09_L2SR_083075_20240728_20240729_02_T1/LC09_L2SR_083075_20240728_20240729_02_T1_ANG.txt","type":"text/plain","title":"Angle
        Coefficients File","description":"Collection 2 Level-1 Angle Coefficients
        File","roles":["metadata"],"storage:platform":"AWS","storage:region":"us-west-2","storage:requester_pays":true},"qa_pixel":{"href":"s3://usgs-landsat/collection02/level-2/standard/oli-tirs/2024/083/075/LC09_L2SR_083075_20240728_20240729_02_T1/LC09_L2SR_083075_20240728_20240729_02_T1_QA_PIXEL.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Pixel Quality Assessment
        Band","description":"Collection 2 Level-1 Pixel Quality Assessment Band (QA_PIXEL)","classification:bitfields":[{"name":"fill","description":"Image
        or fill data","offset":0,"length":1,"classes":[{"value":0,"name":"not_fill","description":"Image
        data"},{"value":1,"name":"fill","description":"Fill data"}]},{"name":"dilated_cloud","description":"Dilated
        cloud","offset":1,"length":1,"classes":[{"value":0,"name":"not_dilated","description":"Cloud
        is not dilated or no cloud"},{"value":1,"name":"dilated","description":"Cloud
        dilation"}]},{"name":"cirrus","description":"Cirrus mask","offset":2,"length":1,"classes":[{"value":0,"name":"not_cirrus","description":"Cirrus
    [...]
