interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"Catalogue","description":"Catalogue
        of data available in the platform","conformsTo":["https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/item-search","https://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","https://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson"],"links":[{"href":"https://catalogue.dataspace.copernicus.eu/stac","rel":"root","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac","rel":"self","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/api","rel":"service-desc","type":"application/vnd.oai.openapi"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/conformance","rel":"conformance","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/collections","rel":"data","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/search","title":"STAC
        search","rel":"search","type":"application/json","method":"GET"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/search","title":"STAC
        search","rel":"search","type":"application/json","method":"POST"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2/items/S2A_MSIL2A_20200703T103031_N0214_R108_T32UNU_20200703T142409.SAFE
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2A_MSIL2A_20200703T103031_N0214_R108_T32UNU_20200703T142409.SAFE","collection":"SENTINEL-2","geometry":{"type":"Polygon","coordinates":[[[10.094784371465,48.745918775914],[10.058597320983,48.668796944794],[9.9915982240349,48.524109066067],[9.9249098218547,48.379478438533],[9.8590709590698,48.234734026961],[9.793020145753,48.090059753028],[9.7271632873825,47.945325414773],[9.6617717751076,47.800446953062],[9.6441368279311,47.761054884789],[8.9997330963449,47.765166566722],[8.9997279041062,48.753013004476],[10.094784371465,48.745918775914]]]},"properties":{"origin":"ESA","tileId":"32UNU","authority":"ESA","cloudCover":57.35018,"coordinates":"48.745918775914106,10.094784371464955
        48.66879694479388,10.058597320982935 48.524109066067446,9.991598224034878
        48.37947843853331,9.924909821854747 48.23473402696084,9.859070959069824 48.09005975302811,9.793020145752958
        47.94532541477256,9.727163287382528 47.80044695306151,9.661771775107594 47.761054884788905,9.644136827931069
        47.765166566721895,8.999733096344924 48.7530130044756,8.999727904106205 48.745918775914106,10.094784371464955","orbitNumber":26274,"productType":"S2MSI2A","orbitDirection":"DESCENDING","productGroupId":"GS2A_20200703T103031_026274_N02.14","operationalMode":"","processingLevel":"S2MSI2A","processorVersion":"2.14","platformShortName":"SENTINEL-2","spatialResolution":"60.0","instrumentShortName":"MSI","relativeOrbitNumber":108,"platformSerialIdentifier":"A","datetime":"2020-07-03T10:30:31.024000Z","end_datetime":"2020-07-03T10:30:31.024000Z","start_datetime":"2020-07-03T10:30:31.024000Z"},"bbox":[8.999727249145508,47.761051177978516,10.0947847366333,48.753013610839844],"links":[{"rel":"root","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac"},{"rel":"self","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2/items/S2A_MSIL2A_20200703T103031_N0214_R108_T32UNU_20200703T142409.SAFE"},{"rel":"collection","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2"}],"assets":{"QUICKLOOK":{"href":"https://catalogue.dataspace.copernicus.eu/odata/v1/Assets(eedf4763-4ce9-400b-9a5d-46f1e207b364)/$value","title":"QUICKLOOK","type":"image/jpeg"},"PRODUCT":{"href":"https://catalogue.dataspace.copernicus.eu/odata/v1/Products(b2a4636d-5716-5a9b-afb3-7fa9680128a1)/$value","title":"Product","type":"application/octet-stream","alternate":{"s3":{"href":"/eodata/Sentinel-2/MSI/L2A/2020/07/03/S2A_MSIL2A_20200703T103031_N0214_R108_T32UNU_20200703T142409.SAFE","storage:platform":"CLOUDFERRO","storage:region":"waw","storage:requester_pays":false,"storage:tier":"Online"}}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=O0M0CUQIDQO9TDZ4D8NR/20241028/us-east-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=2089e69af111d2b97a91d178f5038a4effd8fb753105956136a29ee8181d7ce1
      X-Amz-Content-SHA256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20241028T134743Z
      amz-sdk-invocation-id:
      - bd83b0cf-2871-4309-9d24-e18c8b2cea8e
      amz-sdk-request:
      - attempt=1
    method: GET
    uri: https://eodata.dataspace.copernicus.eu/eodata?list-type=2&prefix=Sentinel-2%2FMSI%2FL2A%2F2020%2F07%2F03%2FS2A_MSIL2A_20200703T103031_N0214_R108_T32UNU_20200703T142409.SAFE%2F&delimiter=&encoding-type=url
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><EncodingType>url</EncodingType><Name>eodata</Name><Prefix>Sentinel-2/MSI/L2A/2020/07/03/S2A_MSIL2A_20200703T103031_N0214_R108_T32UNU_20200703T142409.SAFE/</Prefix><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>Sentinel-2%2FMSI%2FL2A%2F2020%2F07%2F03%2FS2A_MSIL2A_20200703T103031_N0214_R108_T32UNU_20200703T142409.SAFE%2F</Key><LastModified>2020-07-03T21:02:56.430Z</LastModified><ETag>&quot;d41d8cd98f00b204e9800998ecf8427e&quot;</ETag><Size>0</Size><StorageClass>STANDARD</StorageClass><RgwxTag>7e882e92-6cd8-42d5-b9f8-2ace52708dc8.313335949.905820058</RgwxTag><Type>Normal</Type></Contents><Contents><Key>Sentinel-2%2FMSI%2FL2A%2F2020%2F07%2F03%2FS2A_MSIL2A_20200703T103031_N0214_R108_T32UNU_20200703T142409.SAFE%2FAUX_DATA%2F</Key><LastModified>2020-07-03T21:02:56.720Z</LastModified><ETag>&quot;d41d8cd98f00b204e9800998ecf8427e&quot;</ETag><Size>0</Size><StorageClass>STANDARD</StorageClass><RgwxTag>7e882e92-6cd8-42d5-b9f8-2ace52708dc8.304045883.77951970</RgwxTag><Type>Normal</Type></Contents><Contents><Key>Sentinel-2%2FMSI%2FL2A%2F2020%2F07%2F03%2FS2A_MSIL2A_2[...]
[...]
