interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"stac_version\":\"1.0.0\",\"stac_extensions\":[],\"context\":{\"limit\":10,\"matched\":107952045,\"returned\":10},\"numberMatched\":107952045,\"numberReturned\":10,\"features\":[{\"type\":\"Feature\",\"stac_version\":\"1.0.0\",\"id\":\"S2B_T37WEU_20250218T090935_L2A\",\"properties\":{\"created\":\"2025-02-18T10:00:52.109Z\",\"platform\":\"sentinel-2b\",\"constellation\":\"sentinel-2\",\"instruments\":[\"msi\"],\"eo:cloud_cover\":100,\"proj:epsg\":32637,\"proj:centroid\":{\"lat\":71.02913,\"lon\":41.66226},\"mgrs:utm_zone\":37,\"mgrs:latitude_band\":\"W\",\"mgrs:grid_square\":\"EU\",\"grid:code\":\"MGRS-37WEU\",\"view:azimuth\":118.37782462552738,\"view:incidence_angle\":10.64425093367797,\"view:sun_azimuth\":174.744945462637,\"view:sun_elevation\":7.729839416515702,\"s2:tile_id\":\"S2B_OPER_MSI_L2A_TL_2BPS_20250218T092842_A041546_T37WEU_N05.11\",\"s2:degraded_msi_data_percentage\":0,\"s2:nodata_pixel_percentage\":92.439204,\"s2:saturated_defective_pixel_percentage\":0,\"s2:cloud_shadow_percentage\":0,\"s2:vegetation_percentage\":0,\"s2:not_vegetated_percentage\":0,\"s2:water_percentage\":0,\"s2:unclassified_percentage\":0,\"s2:medium_proba_clouds_percentage\":0.026242,\"s2:high_proba_clouds_percentage\":99.973756,\"s2:thin_cirrus_percentage\":0,\"s2:snow_ice_percentage\":0,\"s2:product_type\":\"S2MSI2A\",\"s2:processing_baseline\":\"05.11\",\"s2:product_uri\":\"S2B_MSIL2A_20250218T090939_N0511_R050_T37WEU_20250218T092842.SAFE\",\"s2:generation_time\":\"2025-02-18T09:28:42.000000Z\",\"s2:datatake_id\":\"GS2B_20250218T090939_041546_N05.11\",\"s2:datatake_type\":\"INS-NOBS\",\"s2:datastrip_id\":\"S2B_OPER_MSI_L2A_DS_2BPS_20250218T092842_S20250218T090935_N05.11\",\"s2:reflectance_conversion_factor\":1.02547551132771,\"datetime\":\"2025-02-18T09:10:31.389000Z\",\"earthsearch:payload_id\":\"roda-sentinel-2-c1-l2a/workflow-sentinel-2-c1-l2a-to-stac/598a774f63c89e70fea6df69750c2d66\",\"storage:platform\":\"AWS\",\"storage:region\":\"us-west-2\",\"storage:requester_pays\":false,\"processing:software\":{\"sentinel-2-c1-l2a-to-stac\":\"v2024.02.01\"},\"updated\":\"2025-02-18T10:00:52.109Z\"},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[41.43524065367025,71.18702588627959],[41.1201929573342,70.95759064113525],[41.99797810349003,70.84001329655229],[42.04982583793661,71.17803093608765],[41.43524065367025,71.18702588627959]]]},\"links\":[{\"rel\":\"self\",\"type\":\"application/geo+json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-c1-l2a/items/S2B_T37WEU_20250218T090935_L2A\"},{\"rel\":\"canonical\",\"href\":\"s3://e84-earth-search-sentinel-data/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/S2B_T37WEU_20250218T090935_L2A.json\",\"type\":\"application/json\"},{\"rel\":\"via\",\"href\":\"s3://sentinel-s2-l2a/tiles/37/W/EU/2025/2/18/0/metadata.xml\",\"type\":\"application/xml\",\"title\":\"Granule
        Metadata in Sinergize RODA Archive\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-c1-l2a\"},{\"rel\":\"collection\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-c1-l2a\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1\"},{\"rel\":\"thumbnail\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-c1-l2a/items/S2B_T37WEU_20250218T090935_L2A/thumbnail\"}],\"assets\":{\"red\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/B04.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Red - 10m\",\"eo:bands\":[{\"name\":\"B04\",\"common_name\":\"red\",\"center_wavelength\":0.665,\"full_width_half_max\":0.038}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,499980,0,-10,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":10,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"1220122f2f5d692f97b781193e185c20f3a2b951ae2188ad3633e47fbdef1fc9a5a6\",\"file:size\":13244009,\"roles\":[\"data\",\"reflectance\"]},\"green\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/B03.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Green - 10m\",\"eo:bands\":[{\"name\":\"B03\",\"common_name\":\"green\",\"center_wavelength\":0.56,\"full_width_half_max\":0.045}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,499980,0,-10,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":10,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"12201235f00683235fc373112b27196591cee6a0c5b9664e08ed69186240ca97e7ca\",\"file:size\":13292608,\"roles\":[\"data\",\"reflectance\"]},\"blue\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/B02.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Blue - 10m\",\"eo:bands\":[{\"name\":\"B02\",\"common_name\":\"blue\",\"center_wavelength\":0.49,\"full_width_half_max\":0.098}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,499980,0,-10,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":10,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"12200f16d861061803468d7dc8eea6c36e104f7932f76932c19d6fd07bb1af749312\",\"file:size\":13653256,\"roles\":[\"data\",\"reflectance\"]},\"visual\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/TCI.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"True color image\",\"eo:bands\":[{\"name\":\"B04\",\"common_name\":\"red\",\"center_wavelength\":0.665,\"full_width_half_max\":0.038},{\"name\":\"B03\",\"common_name\":\"green\",\"center_wavelength\":0.56,\"full_width_half_max\":0.045},{\"name\":\"B02\",\"common_name\":\"blue\",\"center_wavelength\":0.49,\"full_width_half_max\":0.098}],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":10},{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":10},{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":10}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,499980,0,-10,7900020],\"file:checksum\":\"12209a3a98b0e3b71111c3f178a1df5e1724900b22c889c181add0f2643edcf60ce8\",\"file:size\":551394,\"roles\":[\"visual\"]},\"nir\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/B08.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"NIR 1 - 10m\",\"eo:bands\":[{\"name\":\"B08\",\"common_name\":\"nir\",\"center_wavelength\":0.842,\"full_width_half_max\":0.145}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,499980,0,-10,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":10,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"1220e7bbd3494a312f6e273bf9b2e354bec525159888e05fa1976813fa522f4aa933\",\"file:size\":13593531,\"roles\":[\"data\",\"reflectance\"]},\"swir22\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/B12.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"SWIR 2.2\u03BCm
        - 20m\",\"eo:bands\":[{\"name\":\"B12\",\"common_name\":\"swir22\",\"center_wavelength\":2.19,\"full_width_half_max\":0.242}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,499980,0,-20,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"12209c1c91f92536ced9c33d9474770a84e31af97bdb9329f0e29169550162286343\",\"file:size\":3693546,\"roles\":[\"data\",\"reflectance\"]},\"rededge2\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/B06.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Red Edge 2 - 20m\",\"eo:bands\":[{\"name\":\"B06\",\"common_name\":\"rededge\",\"center_wavelength\":0.74,\"full_width_half_max\":0.018}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,499980,0,-20,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"122012677941d6dcef03183b218c21e87c38b5e4986edf83a242a72be1ca56d2e5b7\",\"file:size\":4095275,\"roles\":[\"data\",\"reflectance\"]},\"rededge3\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/B07.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Red Edge 3 - 20m\",\"eo:bands\":[{\"name\":\"B07\",\"common_name\":\"rededge\",\"center_wavelength\":0.783,\"full_width_half_max\":0.028}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,499980,0,-20,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"122074c95266de34239b698f8b994b72c8b1ef9a8ae18b8922572ad87628fc8a46eb\",\"file:size\":4146906,\"roles\":[\"data\",\"reflectance\"]},\"rededge1\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/B05.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Red Edge 1 - 20m\",\"eo:bands\":[{\"name\":\"B05\",\"common_name\":\"rededge\",\"center_wavelength\":0.704,\"full_width_half_max\":0.019}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,499980,0,-20,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"122040072b1aacd3744f3375a725626372311475913e4ad46e515c9bb53e517399e3\",\"file:size\":4075003,\"roles\":[\"data\",\"reflectance\"]},\"swir16\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/B11.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"SWIR 1.6\u03BCm
        - 20m\",\"eo:bands\":[{\"name\":\"B11\",\"common_name\":\"swir16\",\"center_wavelength\":1.61,\"full_width_half_max\":0.143}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,499980,0,-20,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"12204ed168d9c7e8bee565fed51c99febc27e6b56f6baead3893ecbef87d2680a606\",\"file:size\":3683619,\"roles\":[\"data\",\"reflectance\"]},\"wvp\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/WVP.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Water Vapour (WVP)\",\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,499980,0,-20,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"unit\":\"cm\",\"scale\":0.001,\"offset\":0}],\"file:checksum\":\"1220d20e00cc05e9410a1382498772b3bb2650661d08c695e5f9c5160220d59bdbca\",\"file:size\":95845,\"roles\":[\"data\"]},\"nir08\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/B8A.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"NIR 2 - 20m\",\"eo:bands\":[{\"name\":\"B8A\",\"common_name\":\"nir08\",\"center_wavelength\":0.865,\"full_width_half_max\":0.033}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,499980,0,-20,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"1220b752fe4fc652749b83b9e1351f482a79adf25347b407c7bf266ece7b43c44d96\",\"file:size\":4240364,\"roles\":[\"data\",\"reflectance\"]},\"scl\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/SCL.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Scene classification
        map (SCL)\",\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,499980,0,-20,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":20}],\"file:checksum\":\"1220400583fec9384aaacee0c51963369488144380163251c7ae58b194db8548544b\",\"file:size\":65512,\"roles\":[\"data\"]},\"aot\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/AOT.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Aerosol optical
        thickness (AOT)\",\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,499980,0,-20,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.001,\"offset\":0}],\"file:checksum\":\"12202db5f853d59949b40d4df9e1c2bc2fe987cf271f291d7eb7f750af763c9890b5\",\"file:size\":120049,\"roles\":[\"data\"]},\"coastal\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/B01.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Coastal - 60m\",\"eo:bands\":[{\"name\":\"B01\",\"common_name\":\"coastal\",\"center_wavelength\":0.443,\"full_width_half_max\":0.027}],\"gsd\":60,\"proj:shape\":[1830,1830],\"proj:transform\":[60,0,499980,0,-60,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":60,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"12209a81536a0db7e4b199a10ef36a682b121ae02a2e77ad5814f2fcbd19878c3bb3\",\"file:size\":449460,\"roles\":[\"data\",\"reflectance\"]},\"nir09\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/B09.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"NIR 3 - 60m\",\"eo:bands\":[{\"name\":\"B09\",\"common_name\":\"nir09\",\"center_wavelength\":0.945,\"full_width_half_max\":0.026}],\"gsd\":60,\"proj:shape\":[1830,1830],\"proj:transform\":[60,0,499980,0,-60,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":60,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"12204a137dfa4f21ac54a272b98fe8e4cc0ca9800a6fbfe936cf292e9eeb562b86b5\",\"file:size\":416468,\"roles\":[\"data\",\"reflectance\"]},\"cloud\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/CLD_20m.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Cloud Probabilities\",\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,499980,0,-20,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":20}],\"file:checksum\":\"122007fc0ab513f45f4d9b39b1eb3c8f07cbb51bda341b124cfa29568c63004256d2\",\"file:size\":66308,\"roles\":[\"data\",\"cloud\"]},\"snow\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/SNW_20m.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Snow Probabilities\",\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,499980,0,-20,7900020],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":20}],\"file:checksum\":\"1220cc8ad9ef65ff2508d4e4ea8a9a6e69ec093a2265a9007563503eabdd0375a0ac\",\"file:size\":53931,\"roles\":[\"data\",\"snow-ice\"]},\"preview\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/L2A_PVI.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"True color preview\",\"eo:bands\":[{\"name\":\"B04\",\"common_name\":\"red\",\"center_wavelength\":0.665,\"full_width_half_max\":0.038},{\"name\":\"B03\",\"common_name\":\"green\",\"center_wavelength\":0.56,\"full_width_half_max\":0.045},{\"name\":\"B02\",\"common_name\":\"blue\",\"center_wavelength\":0.49,\"full_width_half_max\":0.098}],\"file:checksum\":\"12208740abe5aea78f603f96845771360ace499edf76bd6cc0a2191e44409f25c176\",\"file:size\":5135,\"roles\":[\"overview\"]},\"granule_metadata\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/metadata.xml\",\"type\":\"application/xml\",\"file:checksum\":\"12201a47cd07fb9e5253d903615246f8870267adda876858162624ae3d57e29272fc\",\"file:size\":182631,\"roles\":[\"metadata\"]},\"tileinfo_metadata\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/tileInfo.json\",\"type\":\"application/json\",\"file:checksum\":\"1220be2033c8532c918883beee5ecc09487b6f2fcd42adca89ac90bc01ba6a68f7bf\",\"file:size\":1824,\"roles\":[\"metadata\"]},\"product_metadata\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/product_metadata.xml\",\"type\":\"application/xml\",\"file:checksum\":\"12207507cd203513e82b1ae3ae72a06da9e33b46c925f0a9d0c1acd05e914fd60c20\",\"file:size\":54603,\"roles\":[\"metadata\"]},\"thumbnail\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/37/W/EU/2025/2/S2B_T37WEU_20250218T090935_L2A/L2A_PVI.jpg\",\"type\":\"image/jpeg\",\"title\":\"Thumbnail
        of preview image\",\"file:checksum\":\"12201d13b764a034ff9ccfa90d934bd5fc6f753510a4220325c56f151a5833512ab5\",\"file:size\":3482,\"roles\":[\"thumbnail\"]}},\"bbox\":[41.120193,70.840013,42.049826,71.187026],\"stac_extensions\":[\"https://stac-extensions.github.io/eo/v1.1.0/schema.json\",\"https://stac-extensions.github.io/file/v2.1.0/schema.json\",\"https://stac-extensions.github.io/grid/v1.1.0/schema.json\",\"https://stac-extensions.github.io/mgrs/v1.0.0/schema.json\",\"https://stac-extensions.github.io/processing/v1.1.0/schema.json\",\"https://stac-extensions.github.io/projection/v1.1.0/schema.json\",\"https://stac-extensions.github.io/raster/v1.1.0/schema.json\",\"https://stac-extensions.github.io/sentinel-2/v1.0.0/schema.json\",\"https://stac-extensions.github.io/storage/v1.0.0/schema.json\",\"https://stac-extensions.github.io/view/v1.0.0/schema.json\"],\"collection\":\"sentinel-2-c1-l2a\"},{\"type\":\"Feature\",\"stac_version\":\"1.0.0\",\"id\":\"S2B_37WEU_20250218_0_L2A\",\"properties\":{\"created\":\"2025-02-18T10:01:18.212Z\",\"platform\":\"sentinel-2b\",\"constellation\":\"sentinel-2\",\"instruments\":[\"msi\"],\"eo:cloud_cover\":100,\"proj:epsg\":32637,\"mgrs:utm_zone\":37,\"mgrs:latitude_band\":\"W\",\"mgrs:grid_square\":\"EU\",\"grid:code\":\"MGRS-37WEU\",\"view:sun_azimuth\":174.744945462637,\"view:sun_elevation\":7.729839416515702,\"s2:degraded_msi_[...]
[...]
