interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC).","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fx-yaml","rel":"alternate","type":"application/x-yaml","title":"This
        document as application/x-yaml"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=text%2Fhtml","rel":"alternate","type":"text/html","title":"This
        document as text/html"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/openapi?f=application%2Fvnd.oai.openapi%2Bjson%3Bversion%3D3.0","rel":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1?f=application%2Fjson
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC).","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/search?f=application%2Fgeo%2Bjson
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.0.0/schema.json","https://stac-extensions.github.io/scientific/v1.0.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json"],"id":"ENMAP01-____L2A-DT0000140097_20250708T104407Z_001_V010502_20250709T035921Z","collection":"ENMAP_HSI_L2A","geometry":{"type":"Polygon","coordinates":[[[14.593934,57.03266],[14.461562,56.766988],[14.94892,56.70384],[15.084582,56.969074],[14.593934,57.03266]]]},"bbox":[14.4615619,56.7038396,15.084582,57.0326603],"properties":{"version":"01.05.02","created":"2025-07-09T06:32:59.649+00:00","updated":"2025-07-09T06:32:59.649+00:00","datetime":"2025-07-08T10:44:07Z","start_datetime":"2025-07-08T10:44:07.036933Z","end_datetime":"2025-07-08T10:44:11.484701Z","platform":"enmap","proj:epsg":null,"sat:relative_orbit":"17597","sat:orbit_state":"DESCENDING","eo:cloud_cover":"72","eo:snow_cover":"0","view:sun_azimuth":351.079754,"view:sun_elevation":55.310864,"processing:facility":"NZ","processing:level":"L2A","eop:sensorType":"OPTICAL","card4l:eastern_geometric_accuracy":-999.0,"card4l:geometric_accuracy_radial_rmse":-999.0,"card4l:northern_geometric_accuracy":-999.0,"card4l:specification":"SR","card4l:specification_version":"5.0","enmap:SWIRAorSWIRBSelected":"SWIR[...]
