interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC).","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fx-yaml","rel":"alternate","type":"application/x-yaml","title":"This
        document as application/x-yaml"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=text%2Fhtml","rel":"alternate","type":"text/html","title":"This
        document as text/html"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/openapi?f=application%2Fvnd.oai.openapi%2Bjson%3Bversion%3D3.0","rel":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1?f=application%2Fjson
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC).","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/search?f=application%2Fgeo%2Bjson
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.0.0/schema.json"],"id":"S5P_DLR_NRTI_01_040201_L3_CF_20250204","collection":"S5P_TROPOMI_L3_P1D_CF","geometry":{"type":"Polygon","coordinates":[[[-180,-90],[180,-90],[180,90],[-180,90],[-180,-90]]]},"bbox":[-180.0,-90.0,180.0,90.0],"properties":{"created":"2025-02-04T04:00:49.636+00:00","updated":"2025-02-04T10:00:54.072+00:00","datetime":"2025-02-04T00:00:00Z","platform":"Sentinel
        5 Precursor","constellation":"Sentinel-5P","instruments":"TROPOMI","license":"CC-BY
        4.0","proj:epsg":4326,"processing:facility":"Remote Sensing Technology Institute
        (IMF)","processing:level":"L3","processing:software":{"UMAS":"4.2.1","UMAS":"4.2.1"},"proj:bbox":[-180.0,-90.0,180.0,90.0],"proj:shape":[1800,3600],"s5p:collection_identifier":"01","s5p:datasource":"Sentinel-5P,
        TROPOMI, space-borne remote sensing","s5p:head_facility":"German Aerospace
        Center (DLR)","s5p:l2_algorithm_version":"UPAS-CLOUD-ROCINN-4.1.0","s5p:processing_mode":"NRTI","s5p:product_name":"cf","s5p:spatial_resolution":"5.5
        x 3.5 km2"},"assets":{"data":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2025/02/04/S5P_DLR_NRTI_01_040201_L3_CF_20250204.nc","type":"application/netcdf","title":"Metadata","description":"Original
        S5P \"CF\" NetCDF File. Can also be loaded as data file and contains important
        metadata information.","roles":["metadata","data"]},"overview":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2025/02/04/S5P_DLR_NRTI_01_040201_L3_CF_20250204_overview.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Overview","description":"Full-resolution
        overview as Cloud-Optimized GeoTiff of the \"radiometric_cloud_fraction\"
        variable.","roles":["overview"]},"cf":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2025/02/04/S5P_DLR_NRTI_01_040201_L3_CF_20250204_cf.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"CF","description":"TROPOMI/S5P
        L3 data of radiometric cloud fraction with a global coverage and a 5.5 x 3.5
        km2 spatial resolution.","raster:bands":[{"data_type":"float32","scale":1.0,"offset":0.0,"sampling":"area","nodata":9.969209968386869E36,"unit":"1","statistics":{"mean":0.47359730802304695,"minimum":-0.0679992139339447,"maximum":1.0551456212997437,"stddev":0.33759082132811474,"valid_percent":37.374114990234375},"histogram":{"count":11,"min":-0.0679992139339447,"max":1.0551456212997437,"buckets":[20292,23854,23828,22098,20582,17370,13336,10165,11822,32601]}}],"roles":["data"]},"thumbnail":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2025/02/04/S5P_DLR_NRTI_01_040201_L3_CF_20250204_thumbnail.png","type":"image/png","title":"Thumbnail","description":"Thumbnail
        of the \"radiometric_cloud_fraction\" variable.","roles":["thumbnail"]},"quicklook":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L3/2025/02/04/S5P_DLR_NRTI_01_040201_L3_CF_20250204.png","type":"image/png","title":"Quicklook","description":"High-resolution
        quicklook of the \"radiometric_cloud_fraction\" variable.","roles":["quicklook"]}},"links":[{"href":"S5P_TROPOMI_L3_P1D_CF","rel":"collection","type":"application/json"},{"href":"/geoservice/repository/atmos/sentinel5p/TROPOMI/L3/P1D/2025/02/04/S5P_DLR_NRTI_01_040201_L3_CF_20250204.json","rel":"self","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/collections/ENMAP_HSI_L2A/items/ENMAP01-____L2A-DT0000114023_20250203T141354Z_001_V010502_20250204T043746Z?f=application%2Fgeo%2Bjson
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.0.0/schema.json","https://stac-extensions.github.io/scientific/v1.0.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json"],"id":"ENMAP01-____L2A-DT0000114023_20250203T141354Z_001_V010502_20250204T043746Z","collection":"ENMAP_HSI_L2A","geometry":{"type":"Polygon","coordinates":[[[-61.319848,-62.48886],[-61.491735,-62.750927],[-60.875169,-62.825443],[-60.709696,-62.562584],[-61.319848,-62.48886]]]},"bbox":[-61.4917346,-62.8254426,-60.7096957,-62.4888604],"properties":{"version":"01.05.02","created":"2025-02-04T08:17:19.086+00:00","updated":"2025-02-04T08:17:19.086+00:00","datetime":"2025-02-03T14:13:54Z","start_datetime":"2025-02-03T14:13:54.996974Z","end_datetime":"2025-02-03T14:13:59.444732Z","platform":"enmap","proj:epsg":null,"sat:relative_orbit":"15314","sat:orbit_state":"DESCENDING","eo:cloud_cover":"100","eo:snow_cover":"0","view:sun_azimuth":219.489649,"view:sun_elevation":38.853518,"processing:facility":"NZ","processing:level":"L2A","eop:sensorType":"OPTICAL","card4l:eastern_geometric_accuracy":-999.0,"card4l:geometric_accuracy_radial_rmse":-999.0,"card4l:northern_geometric_accuracy":-999.0,"card4l:specification":"SR","card4l:specification_version[...]
