interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"Catalogue","description":"Catalogue
        of data available in the platform","conformsTo":["https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/item-search","https://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","https://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson"],"links":[{"href":"https://catalogue.dataspace.copernicus.eu/stac","rel":"root","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac","rel":"self","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/api","rel":"service-desc","type":"application/vnd.oai.openapi"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/conformance","rel":"conformance","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/collections","rel":"data","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/search","title":"STAC
        search","rel":"search","type":"application/json","method":"GET"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/search","title":"STAC
        search","rel":"search","type":"application/json","method":"POST"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac/collections
  response:
    body:
      string: "{\"collections\":[{\"stac_version\":\"1.0.0\",\"stac_extensions\":[],\"id\":\"COP-DEM\",\"title\":\"COP-DEM\",\"description\":\"The
        Copernicus DEM is a Digital Surface Model (DSM) that represents the surface
        of the Earth including buildings, infrastructure and vegetation. Data were
        acquired through the TanDEM-X mission between 2011 and 2015 [https://spacedata.copernicus.eu/collections/copernicus-digital-elevation-model].\",\"type\":\"Collection\",\"license\":\"proprietary\",\"extent\":{\"spatial\":{\"bbox\":[[-180.0,-90.0,180.0,90.0]]},\"temporal\":{\"interval\":[[\"2010-12-12T00:00:00Z\",null]]}},\"links\":[{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://catalogue.dataspace.copernicus.eu/stac\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://catalogue.dataspace.copernicus.eu/stac\"},{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://catalogue.dataspace.copernicus.eu/stac/collections/COP-DEM\"},{\"rel\":\"items\",\"type\":\"application/json\",\"href\":\"https://catalogue.dataspace.copernicus.eu/st[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2/items?collections=SENTINEL-2
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2A_OPER_AUX_GNSSRD_POD__20171211T085826_V20150627T070315_20150627T120615","collection":"SENTINEL-2","geometry":null,"properties":{"origin":"ESA","tileId":"70315","platformShortName":"SENTINEL-2","instrumentShortName":"AUX","datetime":"2015-06-27T07:03:31.000000Z","end_datetime":"2015-06-27T12:06:31.000000Z","start_datetime":"2015-06-27T07:03:31.000000Z","productType":"AUX_GNSSRD"},"bbox":null,"links":[{"rel":"root","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac"},{"rel":"self","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2/items/S2A_OPER_AUX_GNSSRD_POD__20171211T085826_V20150627T070315_20150627T120615"},{"rel":"collection","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2"}],"assets":{"PRODUCT":{"href":"https://catalogue.dataspace.copernicus.eu/odata/v1/Products(2d8eb355-3930-4a6f-b02c-f793773cb656)/$value","title":"Product","type":"application/octet-stream","alternate":{"s3":{"href":"/eodata/Sentinel-2/AUX/AUX_GNSSRD/2015/06/27/S2A_OPER_AUX_GNSSRD_POD__20171211T085826_V20150627T070315_20150627T120615","storage:platform":"CLOUDFERRO","storage:region":"waw","storage:requester_pays":false,"storage:tier":"Online"}}}}},{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2A_OPER_AUX_GNSSRD_POD__20171211T085921_V20150628T023[...]
