interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"Catalogue","description":"Catalogue
        of data available in the platform","conformsTo":["https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/item-search","https://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","https://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson"],"links":[{"href":"https://catalogue.dataspace.copernicus.eu/stac","rel":"root","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac","rel":"self","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/api","rel":"service-desc","type":"application/vnd.oai.openapi"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/conformance","rel":"conformance","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/collections","rel":"data","type":"application/json"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/search","title":"STAC
        search","rel":"search","type":"application/json","method":"GET"},{"href":"https://catalogue.dataspace.copernicus.eu/stac/search","title":"STAC
        search","rel":"search","type":"application/json","method":"POST"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac/collections
  response:
    body:
      string: "{\"collections\":[{\"stac_version\":\"1.0.0\",\"stac_extensions\":[],\"id\":\"COP-DEM\",\"title\":\"COP-DEM\",\"description\":\"The
        Copernicus DEM is a Digital Surface Model (DSM) that represents the surface
        of the Earth including buildings, infrastructure and vegetation. Data were
        acquired through the TanDEM-X mission between 2011 and 2015 [https://spacedata.copernicus.eu/collections/copernicus-digital-elevation-model].\",\"type\":\"Collection\",\"license\":\"proprietary\",\"extent\":{\"spatial\":{\"bbox\":[[-180.0,-90.0,180.0,90.0]]},\"temporal\":{\"interval\":[[\"2010-12-12T00:00:00Z\",null]]}},\"links\":[{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://catalogue.dataspace.copernicus.eu/stac\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://catalogue.dataspace.copernicus.eu/stac\"},{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://catalogue.dataspace.copernicus.eu/stac/collections/COP-DEM\"},{\"rel\":\"items\",\"type\":\"application/json\",\"href\":\"https://catalogue.dataspace.copernicus.eu/st[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2/items?collections=SENTINEL-2
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2A_OPER_AUX_GNSSRD_POD__20171211T085826_V20150627T070315_20150627T120615","collection":"SENTINEL-2","geometry":null,"properties":{"origin":"ESA","tileId":"70315","platformShortName":"SENTINEL-2","instrumentShortName":"AUX","datetime":"2015-06-27T07:03:31.000000Z","end_datetime":"2015-06-27T12:06:31.000000Z","start_datetime":"2015-06-27T07:03:31.000000Z","productType":"AUX_GNSSRD"},"bbox":null,"links":[{"rel":"root","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac"},{"rel":"self","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2/items/S2A_OPER_AUX_GNSSRD_POD__20171211T085826_V20150627T070315_20150627T120615"},{"rel":"collection","type":"application/json","href":"https://catalogue.dataspace.copernicus.eu/stac/collections/SENTINEL-2"}],"assets":{"PRODUCT":{"href":"https://catalogue.dataspace.copernicus.eu/odata/v1/Products(2d8eb355-3930-4a6f-b02c-f793773cb656)/$value","title":"Product","type":"application/octet-stream","alternate":{"s3":{"href":"/eodata/Sentinel-2/AUX/AUX_GNSSRD/2015/06/27/S2A_OPER_AUX_GNSSRD_POD__20171211T085826_V20150627T070315_20150627T120615","storage:platform":"CLOUDFERRO","storage:region":"waw","storage:requester_pays":false,"storage:tier":"Online"}}}}},{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"id":"S2A_OPER_AUX_GNSSRD_POD__20171211T085921_V20150628T023[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1
  response:
    body:
      string: '{"type":"Catalog","id":"Copernicus Data Space Ecosystem (CDSE) asset-level
        STAC catalogue","title":"cdse-stac","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        A[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"Copernicus Data Space Ecosystem (CDSE) asset-level
        STAC catalogue","title":"cdse-stac","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections
  response:
    body:
      string: '{"collections":[{"id":"sentinel-1-grd","type":"Collection","links":[{"rel":"items","type":"application/geo+json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-1-grd/items"},{"rel":"parent","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"root","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/"},{"rel":"self","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-1-grd"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice","type":"application/pdf","title":"Legal
        notice on the use of Copernicus Sentinel Data and Service Information"},{"rel":"http://www.opengis.net/def/rel/ogc/1.0/queryables","type":"application/schema+json","title":"Queryables","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-1-grd/queryables"}],"title":"Sentinel-1
        Ground Range Detected (GRD)","assets":{"thumbnail":{"href":"https://s3.waw3-2.cloudferro.com/swift/v1/stac-png/S1_GRD.jpg","type":"image/jpeg","roles":["thumbnail"],"title":"Sentinel-1
        Ground Range Detected (GRD)","proj:code":null,"proj:shape":[360,640]}},"extent":{"spatial":{"bbox":[[-180,-90,180,90]]},"temporal":{"interval":[["2014-10-10T00:28:21Z",null]]}},"license":"other","keywords":["Sentinel","Copernicus","ESA","GRD","SAR","C-Band"],"providers":[{"url":"https://sentinel.esa.int/web/sentinel/missions/sentinel-2","name":"ESA","roles":["producer"]},{"url":"https://commission.europa.eu/","name":"European
        Commission","roles":["licensor"]},{"url":"https://cloudferro.com/","name":"CloudFerro","roles":["host","processor"]}],"summaries":{"platform":["sentinel-1a","sentinel-1b"],"instruments":["sar"],"product:type":["IW_GRDH_1S","EW_GRDH_1S","S1_GRDH_1S","S2_GRDH_1S","S3_GRDH_1S","S4_GRDH_1S","S5_GRDH_1S","S6_GRDH_1S"],"constellation":["sentinel-1"],"sat:orbit_state":["ascending","descending"],"processing:level":["L1"],"sar:product_type":["GRD"],"sar:polarizations":["VV","VH","HH","HV"],"processing:version":["003.52","003.61","003.71","003.80","1.0"],"product:timeliness":["PT24H"],"sar:frequency_band":["C"],"sar:instrument_mode":["IW","EW","SM"],"sar:center_frequency":[5.405],"view:incidence_angle":{"maximum":45,"minimum":20},"sar:observation_direction":["right"],"product:timeliness_category":["Fast-24h","NRT-10m","NRT-3h"],"sat:platform_international_designator":["2014-016A","2016-025A"]},"description":"Level-1
        Ground Range Detected (GRD) products consist of focused SAR data that has
        been detected, multi-looked and projected to ground range using the Earth
        ellipsoid model WGS84. The ellipsoid projection of the GRD products is corrected
        using the terrain height specified in the product general annotation. The
        terrain height used varies in azimuth and it is constant in range (For IW/EW
        modes only the terrain height of first subswath is considered)","item_assets":{"hh":{"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"HH:
        Horizontal transmit, horizontal receive","nodata":0,"alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"data_type":"uint16","proj:code":"EPSG:4326","description":"Amplitude
        of horizontally polarized signal received horizontally, with radiometric terrain
        correction applied","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"hv":{"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"HV:
        Horizontal transmit, vertical receive","nodata":0,"alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"data_type":"uint16","proj:code":"EPSG:4326","description":"Amplitude
        of horizontally polarized signal received vertically, with radiometric terrain
        correction applied","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"vh":{"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"VH:
        Vertical transmit, horizontal receive","nodata":0,"alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"data_type":"uint16","proj:code":"EPSG:4326","description":"Amplitude
        of vertically polarized signal received horizontally, with radiometric terrain
        correction applied","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"vv":{"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"VV:
        Vertical transmit, vertical receive","nodata":0,"alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"data_type":"uint16","proj:code":"EPSG:4326","description":"Amplitude
        of vertically polarized signal received vertically, with radiometric terrain
        correction applied","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"Product":{"type":"application/zip","roles":["data","metadata","archive"],"title":"Zipped
        product","auth:refs":["oidc"],"alternate:name":"HTTPS"},"thumbnail":{"type":"image/png","roles":["thumbnail"],"title":"Quicklook","auth:refs":["oidc"],"proj:code":null,"description":"An
        averaged, decimated preview image of product''s measurements in PNG format.","alternate:name":"HTTPS"},"safe_manifest":{"type":"application/xml","roles":["metadata"],"title":"manifest.safe","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"General
        product metadata in XML format.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-noise-hh":{"type":"application/xml","roles":["metadata"],"title":"HH
        noise Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Estimated
        thermal noise look-up tables","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-noise-hv":{"type":"application/xml","roles":["metadata"],"title":"HV
        noise Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Estimated
        thermal noise look-up tables","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-noise-vh":{"type":"application/xml","roles":["metadata"],"title":"VH
        noise Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Estimated
        thermal noise look-up tables","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-noise-vv":{"type":"application/xml","roles":["metadata"],"title":"VV
        noise Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Estimated
        thermal noise look-up tables","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-product-hh":{"type":"application/xml","roles":["metadata"],"title":"HH
        Product Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Main
        source of band''s metadata, including: state of the platform during acquisition,
        image properties, Doppler information, geographic location, etc.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-product-hv":{"type":"application/xml","roles":["metadata"],"title":"HV
        Product Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Main
        source of band''s metadata, including: state of the platform during acquisition,
        image properties, Doppler information, geographic location, etc.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-product-vh":{"type":"application/xml","roles":["metadata"],"title":"VH
        Product Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Main
        source of band''s metadata, including: state of the platform during acquisition,
        image properties, Doppler information, geographic location, etc.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-product-vv":{"type":"application/xml","roles":["metadata"],"title":"VV
        Product Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Main
        source of band''s metadata, including: state of the platform during acquisition,
        image properties, Doppler information, geographic location, etc.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-calibration-hh":{"type":"application/xml","roles":["metadata"],"title":"HH
        calibration Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Calibration
        metadata including calibration details and lookup tables for beta nought,
        sigma nought, gamma, and digital numbers used in absolute product calibration.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-calibration-hv":{"type":"application/xml","roles":["metadata"],"title":"HV
        calibration Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Calibration
        metadata including calibration details and lookup tables for beta nought,
        sigma nought, gamma, and digital numbers used in absolute product calibration.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-calibration-vh":{"type":"application/xml","roles":["metadata"],"title":"VH
        calibration Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Calibration
        metadata including calibration details and lookup tables for beta nought,
        sigma nought, gamma, and digital numbers used in absolute product calibration.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"},"schema-calibration-vv":{"type":"application/xml","roles":["metadata"],"title":"VV
        calibration Schema","alternate":{"https":{"auth:refs":["oidc"],"alternate:name":"HTTPS"}},"auth:refs":["s3"],"description":"Calibration
        metadata including calibration details and lookup tables for beta nought,
        sigma nought, gamma, and digital numbers used in absolute product calibration.","storage:refs":["cdse-s3","creodias-s3"],"alternate:name":"S3"}},"auth:schemes":{"s3":{"type":"s3"},"oidc":{"type":"openIdConnect","openIdConnectUrl":"https://identity.dataspace.copernicus.eu/auth/realms/CDSE/.well-known/openid-configuration"}},"sci:citation":"Copernicus
        Sentinel data [Year]","stac_version":"1.1.0","stac_extensions":["https://stac-extensions.github.io/authentication/v1.1.0/schema.json","https://stac-extensions.github.io/projection/v2.0.0/schema.json","https://stac-extensions.github.io/processing/v1.2.0/schema.json","https://stac-extensions.github.io/product/v0.1.0/schema.json","https://stac-extensions.github.io/scientific/v1.0.0/schema.json","https://stac-extensions.github.io/alternate-assets/v1.2.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json","https://stac-extensions.github.io/sar/v1.0.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/storage/v2.0.0/schema.json"],"storage:schemes":{"cdse-s3":{"type":"custom-s3","title":"Copernicus
        Data Space Ecosystem S3","platform":"https://eodata.dataspace.copernicus.eu","description":"This
        endpoint provides access to EO data which is stored on the Object Storage.
        A Global Service Load Balancer (GSLB) directs the request to either CloudFerro
        Cloud or OpenTelekom Cloud (OTC) S3 endpoint based on the location of the
        DNS resolver.","requester_pays":false},"creodias-s3":{"type":"custom-s3","title":"CREODIAS
        S3","platform":"https://eodata.cloudferro.com","description":"Comprehensive
        Earth Observation Data (EODATA) archive offered by CREODIAS as a commercial
        part of CDSE, designed to provide users with access to a vast repository of
        satellite data without predefined quota limits","requester_pays":true}}},{"id":"sentinel-2-global-mosaics","type":"Collection","bands":[{"name":"B02","description":"Blue
        (band 2)","eo:common_name":"blue"},{"name":"B03","description":"Green (band
        3)","eo:common_name":"green"},{"name":"B04","description":"Red (band 4)","eo:common_name":"red"},{"name":"B08","description":"NIR
        1 (band 8)","eo:common_name":"nir"},{"name":"observations","description":"Number
        of valid observations for each pixel"}],"links":[{"rel":"items","type":"application/geo+json","href":"https://stac.dataspace.copernicus.eu/v1/coll[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a/items?collections=sentinel-2-l2a
  response:
    body:
      string: '{"type":"FeatureCollection","links":[{"rel":"collection","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a"},{"rel":"parent","type":"application/json","href":"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-2-l2a"},{"rel":"root","type"[...]
