interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"*BETA* Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC). *BETA*","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fx-yaml","rel":"alternate","type":"application/x-yaml","title":"This
        document as application/x-yaml"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=text%2Fhtml","rel":"alternate","type":"text/html","title":"This
        document as text/html"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/openapi?f=application%2Fvnd.oai.openapi%2Bjson%3Bversion%3D3.0","rel":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1?f=application%2Fjson
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"*BETA* Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC). *BETA*","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
  [...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/search?f=application%2Fgeo%2Bjson
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.0.0/schema.json","https://stac-extensions.github.io/scientific/v1.0.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json"],"id":"ENMAP01-____L2A-DT0000084632_20240728T181554Z_002_V010402_20240729T051418Z","collection":"ENMAP_HSI_L2A","geometry":{"type":"Polygon","coordinates":[[[-104.162987,31.899148],[-104.234203,31.625831],[-103.925053,31.582648],[-103.852873,31.855824],[-104.162987,31.899148]]]},"bbox":[-104.2342027,31.582648,-103.8528734,31.8991483],"properties":{"version":"01.04.02","created":"2024-07-29T10:58:53.889+00:00","updated":"2024-07-29T10:58:53.889+00:00","datetime":"2024-07-28T18:15:54Z","start_datetime":"2024-07-28T18:15:54.412990Z","end_datetime":"2024-07-28T18:15:58.904224Z","platform":"enmap","proj:epsg":null,"sat:relative_orbit":"12516","sat:orbit_state":"DESCENDING","eo:cloud_cover":"2","eo:snow_cover":"0","view:sun_azimuth":318.221307,"view:sun_elevation":73.264041,"processing:facility":"NZ","processing:level":"L2A","eop:sensorType":"OPTICAL","card4l:eastern_geometric_accuracy":2.0,"card4l:geometric_accuracy_radial_rmse":3.0,"card4l:northern_geometric_accuracy":2.0,"card4l:specification":"SR","card4l:specification_version":"5.0","enmap:SWIRAorSWIRBSelected":"SWIRA","enmap:[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/collections/ENMAP_HSI_L2A/items/ENMAP01-____L2A-DT0000084632_20240728T181554Z_002_V010402_20240729T051418Z?f=application%2Fgeo%2Bjson
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection[...]
