interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC).","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fx-yaml","rel":"alternate","type":"application/x-yaml","title":"This
        document as application/x-yaml"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=text%2Fhtml","rel":"alternate","type":"text/html","title":"This
        document as text/html"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/openapi?f=application%2Fvnd.oai.openapi%2Bjson%3Bversion%3D3.0","rel":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1?f=application%2Fjson
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC).","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/collections?f=application%2Fjson
  response:
    body:
      string: "{\"collections\":[{\"type\":\"Collection\",\"stac_version\":\"1.0.0\",\"stac_extensions\":[\"https://stac-extensions.github.io/processing/v1.0.0/schema.json\",\"https://stac-extensions.github.io/datacube/v2.0.0/schema.json\"],\"id\":\"SWIM_WE\",\"title\":\"Surface
        Water Inventory and Monitoring (SWIM) Water Extent\",\"description\":\"SWIM-WE
        provides open surface water bodies as identified by an automated processing
        chain. The water segmentation is derived with sensor-specific pre-trained
        deep neural networks from high-resolution Sentinel-1 and Sentinel-2 satellite
        images.\",\"crs\":[\"http://www.opengis.net/def/crs/OGC/1.3/CRS84\"],\"keywords\":[\"DLR\",\"EOC\",\"Sentinel-1\",\"Sentinel-2\",\"water\",\"water
        extent\",\"SWIM\"],\"license\":\"CC-BY-NC-4.0\",\"sci:publications\":[{\"doi\":\"10.1109/JSTARS.2022.3152127\",\"citation\":\"Bereczky,
        M., Wieland, M., Krullikowski, C., Martinis, S., & Plank, S. (2022). Sentinel-1-based
        water and flood mapping: Benchmarking convolutional neural networks against
        an operational rule-based processing chain. IEEE Journal of Selected Topics
        in Applied Earth Observations and Remote Sensing, 15, 2023-2036.\"},{\"doi\":\"10.3390/rs11192330\",\"citation\":\"Wieland,
        M., & Martinis, S. (2019). A modular processing chain for automated flood
        monitoring from multi-spectral satellite data. Remote Sensing, 11(19), 2330.\"}],\"providers\":[{\"url\":\"https://geoservice.dlr.de\",\"name\":\"DLR/EOC
        Geoservice\",\"roles\":[\"host\"]},{\"url\":\"https://dlr.de/eoc\",\"name\":\"DLR/EOC
        Georisks and Civil Security\",\"roles\":[\"processor\"]}],\"extent\":{\"spatial\":{\"bbox\":[[-180.0,-90.0,180.0,90.0]]},\"temporal\":{\"interval\":[[\"2024-01-01T00:00:00.000+00:00\",null]]}},\"cube:dimensions\":{\"time\":{\"type\":\"temporal\",\"extent\":[\"2024-01-01T00:00:00.000+00:00\",null]},\"x\":{\"type\":\"spatial\",\"axis\":\"x\",\"extent\":[-180.0,180.0],\"reference_system\":4326},\"y\":{\"type\":\"spatial\",\"axis\":\"y\",\"extent\":[-90.0,90.0],\"reference_system\":4326}},\"assets\":{\"thumbnail\":{\"title\":\"Thumbnail\",\"type\":\"image/jpg\",\"roles\":[\"thumbnail\"],\"href\":\"\"},\"overview\":{\"title\":\"Overview\",\"type\":\"image/jpg\",\"roles\":[\"overview\"],\"href\":\"\"},\"metadata\":{\"title\":\"Metadata
        (ISO19139)\",\"type\":\"application/xml\",\"roles\":[\"metadata\"],\"href\":\"\"}},\"links\":[{\"rel\":\"license\",\"href\":\"https://spdx.org/licenses/CC-BY-NC-4.0\",\"type\":\"text/html\",\"title\":\"CC-BY-NC-4.0\"},{\"href\":\"https://geoservice.dlr.de/eoc/ogc/stac/v1/collections/SWIM_WE?f=application/json\",\"rel\":\"self\",\"type\":\"application/json\"},{\"href\":\"https://geoservice.dlr.de/eoc/ogc/stac/v1/collections/SWIM_WE?f=html\",\"rel\":\"alternate\",\"ty[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/collections/SWIM_WE/items?f=application/geo%2Bjson&collections=SWIM_WE
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.0.0/schema.json"],"id":"SWIM_WE_S1A_IW_GRDH_1SDV_20231030T163249_20231030T163314_050997_062607_3F3A.SAFE","collection":"SWIM_WE","geometry":{"type":"Polygon","coordinates":[[[19.749966,39.296383],[22.778412,39.70628],[22.466871,41.207047],[19.370619,40.798431],[19.749966,39.296383]]]},"bbox":[19.370619,39.296383,22.778412,41.207047],"properties":{"created":"2024-12-16T14:04:28.339+00:00","updated":"2024-12-16T14:04:28.339+00:00","datetime":"2023-10-30T16:32:49.305463Z","proj:epsg":4326,"processing:software":{"onnx_model":"1.2.1-s1water","onnx_model":"1.2.1-s1water","proc_hr_semseg":"2.1.0"},"perc_valid":67.8,"perc_water":4.78,"producttype":"SWIM_WE","providers":[{"name":"DLR/EOC
        Georisks and Civil Security","roles":["processor"],"url":"https://dlr.de/eoc"}],"src_platform":"SENTINEL-1"},"assets":{"data":{"href":"https://download.geoservice.dlr.de/SWIM_WE/files//2023/10/30/SWIM_WE_S1A_IW_GRDH_1SDV_20231030T163249_20231030T163314_050997_062607_3F3A.SAFE/SWIM_WE_S1A_IW_GRDH_1SDV_20231030T163249_20231030T163314_050997_062607_3F3A.SAFE_DATA.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Surface Water Extent","description":"Identifies
        all water pixels in the satellite image. Water segmentation is done with a
        pre-trained convolutional neural network. Invalid pixels are the result of
        no-data values in the satellite image and/or atmospheric obstructions such
        as clouds or cloud-shadows.","raster:bands":[{"data_type":"uint8","scale":1.0,"offset":0.0,"sampling":"area","nodata":255.0,"statistics":{"mean":0.07024106714130923,"minimum":0,"maximum":1,"stddev":0.2555528509489951,"valid_percent":68.02980653458845},"histogram":{"count":11,"min":0.0,"max":1.0,"buckets":[369833,0,0,0,0,0,0,0,0,27940]}}],"roles":["data"]},"overview-mask":{"href":"https://download.geoservice.dlr.de/SWIM_WE/files//2023/10/30/SWIM_WE_S1A_IW_GRDH_1SDV_20231030T163249_20231030T163314_050997_062607_3F3A.SAFE/SWIM_WE_S1A_IW_GRDH_1SDV_20231030T163249_20231030T163314_050997_062607_3F3A.SAFE_OVERVIEW_MASK.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Overview Mask (downsampled)","description":"Provides
        a visual overview of analysis results.","proj:epsg":4326,"proj:bbox":[19.36062955231852,39.28961631013289[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/collections/S5P_TROPOMI_L4_P1D_NO2surf/items?f=application/geo%2Bjson&collections=S5P_TROPOMI_L4_P1D_NO2surf
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.0.0/schema.json"],"id":"S5P_NRT_L4v1_NO2_20250121_UTC1500","collection":"S5P_TROPOMI_L4_P1D_NO2surf","geometry":{"type":"Polygon","coordinates":[[[3.755,46.79],[15.275,46.79],[15.275,54.469999],[3.755,54.469999],[3.755,46.79]]]},"bbox":[3.7549999539307723,46.7899996990294,15.27499954062184,54.46999862250381],"properties":{"version":"Version
        1.0","created":"2025-01-23T00:00:49","updated":"2025-01-23T00:00:49","datetime":"2025-01-21T15:00:00Z","platform":"Sentinel
        5 Precursor","constellation":"Sentinel-5P","gsd":3500,"license":"CC-BY 4.0","proj:epsg":4326,"processing:facility":"OP","processing:level":"L4","processing:software":{"Polyphemus":"V1.11","Polyphemus":"V1.11"},"instrument":"TROPOMI","s5p:datasource":"S5P
        NRT Polyphemus OI 24h results","s5p:head_facility":"German Remote Sensing
        Data Center (DLR/DFD)","s5p:processing_mode":"ANALYSIS","s5p:product_name":"no2","s5p:spatial_resolution":"0.09
        x 0.06 degrees"},"assets":{"data":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L4/2025/01/21/S5P_NRT_L4v1_NO2_20250121_UTC1500.nc","type":"application/netcdf","title":"Metadata","description":"Original
        S5P \"NO2\" NetCDF File. Can also be loaded as data file and contains important
        metadata information.","roles":["metadata","data"]},"overview":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L4/2025/01/21/S5P_NRT_L4v1_NO2_20250121_UTC1500_overview.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Overview","description":"Full-resolution
        overview as Cloud-Optimized GeoTiff of the \"NO2\" variable.","roles":["overview"]},"no2surf":{"href":"https://download.geoservice.dlr.de/S5P_TROPOMI/files/L4/2025/01/21/S5P_NRT_L4v1_NO2_20250121_UTC1500_no2surf.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"NO2","description":"TROPOMI/S5P
        L4 data of Surface NO2 concentration at 15:00 UTC with a coverage for germany
        and a 5.5 x 3.5 km2 spatial resolution.","raster:bands":[{"data_type":"float64","scale":1.0,"offset":0.0,"sampling":"area","nodata":9.969209968386869E36,"unit":"ug/m3","statistics":{"mean":16.535737380422688,"minimum":0.2329283356666565,"maximum":67.02565002441406,"stddev":11.51569785464589,"valid_percent":100.0},"histogram":{"count":11,"min":0.2329283356666565,"max":67.02565002441406,"buckets":[3169,4703,3831,1891,1194,791,460,237,79,29]}}],"proj:epsg":4326,"proj:shape":[128,128],"proj:transform":[0.08999999677102397,0.0,3.7549999539307723,0.0,-0.05999999158964382,54.46999862250381,0.0,0.0,1.0],"proj:geometry":{"type":"Polygon","coordinates":[[[3.7549[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/collections/ENMAP_HSI_L0_QL/items?f=application/geo%2Bjson&collections=ENMAP_HSI_L0_QL
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.0.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json","https://stac-extensions.github.io/version/v1.1.0/schema.json"],"id":"ENMAP01-_____L0-DT0000114023_20250203T141354Z_001_V010502_20250204T003535Z","collection":"ENMAP_HSI_L0_QL","geometry":{"type":"Polygon","coordinates":[[[-61.319848,-62.48886],[-61.491735,-62.750927],[-60.875169,-62.825443],[-60.709696,-62.562584],[-61.319848,-62.48886]]]},"bbox":[-61.491734573,-62.825442642,-60.70969571,-62.488860449],"properties":{"version":"01.05.02","created":"2025-02-04T06:33:10.963+00:00","updated":"2025-02-04T06:33:10.963+00:00","datetime":"2025-02-03T14:13:54.996+00:00","start_datetime":"2025-02-03T14:13:54.996+00:00","end_datetime":"2025-02-03T14:13:59.444+00:00","platform":"EnMAP","constellation":"EnMAP","proj:epsg":4326,"sat:absolute_orbit":15314,"sat:orbit_state":"DESCENDING","eo:cloud_cover":100,"eo:snow_cover":0,"processing:facility":"NZ","processing:level":"0","dims:identifier":null,"enmap:cirrus_cover":99.0,"enmap:cloud_shadow":0.0,"enmap:datatakeID":"0000114023","enmap:haze_cover":0.0,"enmap:noncloud_shadow":0.0,"enmap:water_cover":0.0},"assets":{"THUMBNAIL":{"title":"Thumbnail","description":"Thumbnail
        derived from VNIR","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/02/03/ENMAP01-_____L0-DT0000114023_20250203T141354Z_001_V010502_20250204T003535Z-QL_VNIR_THUMBNAIL.png","type":"image/png","roles":["thumbnail"]},"OVERVIEW":{"title":"Overview","description":"Overview
        derived from VNIR","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/02/03/ENMAP01-_____L0-DT0000114023_20250203T141354Z_001_V010502_20250204T003535Z-QL_VNIR_OVERVIEW.png","type":"image/png","roles":["overview"]},"VNIR":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/02/03/ENMAP01-_____L0-DT0000114023_20250203T141354Z_001_V010502_20250204T003535Z-QL_VNIR_COG.TIF","title":"VNIR","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["visual"]},"SWIR":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/02/03/ENMAP01-_____L0-DT0000114023_20250203T141354Z_001_V010502_20250204T003535Z-QL_SWIR_COG.TIF","title":"SWIR","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["visual"]},"QUALITY_CLOUD":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/02/03/ENMAP01-_____L0-DT0000114023_20250203T141354Z_001_V010502_20250204T003535Z-QL_QUALITY_CLOUD_COG.TIF","title":"QUALITY_CLOUD","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["quality","cloud"]},"QUALITY_CLOUDSHADOW":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/02/03/ENMAP01-_____L0-DT0000114023_20250203T141354Z_001_V010502_20250204T003535Z-QL_QUALITY_CLOUDSHADOW_COG.TIF","title":"QUALITY_CLOUDSHADOW","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["quality","cloud-shadow"]},"QUALITY_CIRRUS":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/02/03/ENMAP01-_____L0-DT0000114023_20250203T141354Z_001_V010502_20250204T003535Z-QL_QUALITY_CIRRUS_COG.TIF","title":"QUALITY_CIRRUS","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["quality","cloud-cirrus"]},"QUALITY_CLASSES":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/02/03/ENMAP01-_____L0-DT0000114023_20250203T141354Z_001_V010502_20250204T003535Z-QL_QUALITY_CLASSES_COG.TIF","title":"QUALITY_CLASSES","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["quality","classes"]},"QUALITY_SNOW":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/02/03/ENMAP01-_____L0-DT0000114023_20250203T141354Z_001_V010502_20250204T003535Z-QL_QUALITY_SNOW_COG.TIF","title":"QUALITY_SNOW","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["quality","snow-ice"]},"QUALITY_HAZE":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/02/03/ENMAP01-_____L0-DT0000114023_20250203T141354Z_001_V010502_20250204T003535Z-QL_QUALITY_HAZE_COG.TIF","title":"QUALITY_HAZE","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["quality","haze"]},"PIXELMASK_VNIR":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/02/03/ENMAP01-_____L0-DT0000114023_20250203T141354Z_001_V010502_20250204T003535Z-QL_PIXELMASK_VNIR.TIF","title":"PIXELMASK_VNIR","type":"image/tiff;","roles":["quality","data-mask"]},"PIXELMASK_SWIR":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/02/03/ENMAP01-_____L0-DT0000114023_20250203T141354Z_001_V010502_20250204T003535Z-QL_PIXELMASK_SWIR.TIF","title":"PIXELMASK_SWIR","type":"image/tiff;","roles":["quality","data-mask"]},"TESTFLAGS_SWIR":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/02/03/ENMAP01-_____L0-DT0000114023_20250203T141354Z_001_V010502_20250204T003535Z-QL_QUALITY_TESTFLAGS_SWIR.TIF","title":"TESTFLAGS_SWIR","type":"image/tiff;","roles":["quality","testflags"]},"TESTFLAGS_VNIR":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/02/03/ENMAP01-_____L0-DT0000114023_20250203T141354Z_001_V010502_20250204T003535Z-QL_QUALITY_TESTFLAGS_VNIR.TIF","title":"TESTFLAGS_VNIR","type":"image/tiff;","roles":["quality","testflags"]}},"links":[{"title":"Root","rel":"root","href":"https://geoservice.dlr.de/eoc/ogc/stac/v1?f=application/json","type":"application/json"},{"title":"Parent","rel":"parent","href":"https://geoservice.dlr.de/eoc/ogc/stac/v[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/collections/ENMAP_HSI_L2A/items?f=application/geo%2Bjson&collections=ENMAP_HSI_L2A
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/sch[...]
