interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC).","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fx-yaml","rel":"alternate","type":"application/x-yaml","title":"This
        document as application/x-yaml"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=text%2Fhtml","rel":"alternate","type":"text/html","title":"This
        document as text/html"},{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/openapi?f=application%2Fvnd.oai.openapi%2Bjson%3Bversion%3D3.0","rel":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1?f=application%2Fjson
  response:
    body:
      string: '{"title":"EOC EO Products Service","description":"Provides interoperable
        access to metadata from EO collections and products of DLR''s Earth Observation
        Center (EOC).","links":[{"href":"https://geoservice.dlr.de/eoc/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://geoservice.dlr.de/eoc/ogc/stac/v1/search?f=application%2Fgeo%2Bjson
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.0.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json","https://stac-extensions.github.io/version/v1.1.0/schema.json"],"id":"ENMAP01-_____L0-DT0000139897_20250706T113221Z_001_V010502_20250707T010946Z","collection":"ENMAP_HSI_L0_QL","geometry":{"type":"Polygon","coordinates":[[[4.57327,52.433683],[4.440721,52.169486],[4.894073,52.095419],[5.029186,52.359137],[4.57327,52.433683]]]},"bbox":[4.440720795,52.09541946,5.029186463,52.433683443],"properties":{"version":"01.05.02","created":"2025-07-07T06:12:04.621+00:00","updated":"2025-07-07T06:12:04.621+00:00","datetime":"2025-07-06T11:32:21.005+00:00","start_datetime":"2025-07-06T11:32:21.005+00:00","end_datetime":"2025-07-06T11:32:25.452+00:00","platform":"EnMAP","constellation":"EnMAP","proj:epsg":4326,"sat:absolute_orbit":17568,"sat:orbit_state":"DESCENDING","eo:cloud_cover":100,"eo:snow_cover":100,"processing:facility":"NZ","processing:level":"0","dims:identifier":null,"enmap:cirrus_cover":0.0,"enmap:cloud_shadow":0.0,"enmap:datatakeID":"0000139897","enmap:haze_cover":0.0,"enmap:noncloud_shadow":0.0,"enmap:water_cover":0.0},"assets":{"THUMBNAIL":{"title":"Thumbnail","description":"Thumbnail
        derived from VNIR","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/07/06/ENMAP01-_____L0-DT0000139897_20250706T113221Z_001_V010502_20250707T010946Z-QL_VNIR_THUMBNAIL.png","type":"image/png","roles":["thumbnail"]},"OVERVIEW":{"title":"Overview","description":"Overview
        derived from VNIR","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/07/06/ENMAP01-_____L0-DT0000139897_20250706T113221Z_001_V010502_20250707T010946Z-QL_VNIR_OVERVIEW.png","type":"image/png","roles":["overview"]},"VNIR":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/07/06/ENMAP01-_____L0-DT0000139897_20250706T113221Z_001_V010502_20250707T010946Z-QL_VNIR_COG.TIF","title":"VNIR","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["visual"]},"SWIR":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/07/06/ENMAP01-_____L0-DT0000139897_20250706T113221Z_001_V010502_20250707T010946Z-QL_SWIR_COG.TIF","title":"SWIR","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["visual"]},"QUALITY_CLOUD":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/07/06/ENMAP01-_____L0-DT0000139897_20250706T113221Z_001_V010502_20250707T010946Z-QL_QUALITY_CLOUD_COG.TIF","title":"QUALITY_CLOUD","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["quality","cloud"]},"QUALITY_CLOUDSHADOW":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/07/06/ENMAP01-_____L0-DT0000139897_20250706T113221Z_001_V010502_20250707T010946Z-QL_QUALITY_CLOUDSHADOW_COG.TIF","title":"QUALITY_CLOUDSHADOW","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["quality","cloud-shadow"]},"QUALITY_CIRRUS":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/07/06/ENMAP01-_____L0-DT0000139897_20250706T113221Z_001_V010502_20250707T010946Z-QL_QUALITY_CIRRUS_COG.TIF","title":"QUALITY_CIRRUS","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["quality","cloud-cirrus"]},"QUALITY_CLASSES":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/07/06/ENMAP01-_____L0-DT0000139897_20250706T113221Z_001_V010502_20250707T010946Z-QL_QUALITY_CLASSES_COG.TIF","title":"QUALITY_CLASSES","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["quality","classes"]},"QUALITY_SNOW":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/07/06/ENMAP01-_____L0-DT0000139897_20250706T113221Z_001_V010502_20250707T010946Z-QL_QUALITY_SNOW_COG.TIF","title":"QUALITY_SNOW","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["quality","snow-ice"]},"QUALITY_HAZE":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/07/06/ENMAP01-_____L0-DT0000139897_20250706T113221Z_001_V010502_20250707T010946Z-QL_QUALITY_HAZE_COG.TIF","title":"QUALITY_HAZE","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["quality","haze"]},"PIXELMASK_VNIR":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/07/06/ENMAP01-_____L0-DT0000139897_20250706T113221Z_001_V010502_20250707T010946Z-QL_PIXELMASK_VNIR.TIF","title":"PIXELMASK_VNIR","type":"image/tiff;","roles":["quality","data-mask"]},"PIXELMASK_SWIR":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/07/06/ENMAP01-_____L0-DT0000139897_20250706T113221Z_001_V010502_20250707T010946Z-QL_PIXELMASK_SWIR.TIF","title":"PIXELMASK_SWIR","type":"image/tiff;","roles":["quality","data-mask"]},"TESTFLAGS_SWIR":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/07/06/ENMAP01-_____L0-DT0000139897_20250706T113221Z_001_V010502_20250707T010946Z-QL_QUALITY_TESTFLAGS_SWIR.TIF","title":"TESTFLAGS_SWIR","type":"image/tiff;","roles":["quality","testflags"]},"TESTFLAGS_VNIR":{"description":"description","href":"https://download.geoservice.dlr.de/ENMAP/files/L0/2025/07/06/ENMAP01-_____L0-DT0000139897_20250706T113221Z_001_V010502_20250707T010946Z-QL_QUALITY_TESTFLAGS_VNIR.TIF","title":"TESTFLAGS_VNIR","type":"image/tiff;","roles":["quality","testflags"]}},"links":[{"title":"Root","rel":"root","href":"https://geoservice.dlr.de/eoc/ogc/stac/v1?f=application/json","type":"application/json"},{"title":"Parent","rel":"parent","href":"https://geoservice.dlr.de/eoc/ogc/stac/v[...]
