interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections
  response:
    body:
      string: "{\"collections\":[{\"type\":\"Collection\",\"id\":\"sentinel-2-pre-c1-l2a\",\"title\":\"Sentinel-2
        Pre-Collection 1 Level-2A \",\"description\":\"Sentinel-2 Pre-Collection 1
        Level-2A (baseline < 05.00), with data and metadata matching collection sentinel-2-c1-l2a\",\"stac_version\":\"1.0.0\",\"links\":[{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-pre-c1-l2a\"},{\"rel\":\"cite-as\",\"href\":\"https://doi.org/10.5270/S2_[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a/items?collections=sentinel-2-l2a
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":38944269,"returned":10},"numberMatched":38944269,"numberReturned":10,"features":[{"type":"Feature","stac_version":"1.0.0","id":"S2B_33SXU_20250204_0_L2A","properties":{"created":"2025-02-04T11:41:43.118Z","platform":"sentinel-2b","constellation":"sentinel-2","instruments":["msi"],"eo:cloud_cover":7.714647,"proj:epsg":32633,"mgrs:utm_zone":33,"mgrs:latitude_band":"S","mgrs:grid_square":"XU","grid:code":"MGRS-33SXU","view:sun_azimuth":154.456861865554,"view:sun_elevation":35.2160756105768,"s2:degraded_msi_data_percentage":0.0013,"s2:nodata_pixel_percentage":41.376376,"s2:saturated_defective_pixel_percentage":0,"s2:cloud_shadow_percentage":0,"s2:vegetation_percentage":0.000006,"s2:not_vegetated_percentage":0.000164,"s2:water_percentage":92.28518,"s2:unclassified_percentage":0,"s2:medium_proba_clouds_percentage":4.533788,"s2:high_proba_clouds_percentage":3.176773,"s2:thin_cirrus_percentage":0.004086,"s2:snow_ice_percentage":0,"s2:product_type":"S2MSI2A","s2:processing_baseline":"05.11","s2:product_uri":"S2B_MSIL2A_20250204T093109_N0511_R136_T33SXU_20250204T104203.SAFE","s2:generation_time":"2025-02-04T10:42:03.000000Z","s2:datatake_id":"GS2B_20250204T093109_041346_N05.11","s2:datatake_type":"INS-NOBS","s2:datastrip_id":"S2B_OPER_MSI_L2A_DS_2BPS_20250204T104203_S20250204T093106_N05.11","s2:granule_id":"S2B_OPER_MSI_L2A_TL_2BPS_20250204T104203_A041346_T33SXU_N05.11","s2:reflectance_conversion_factor":1.03024671410957,"datetime":"2025-02-04T09:41:05.702000Z","s2:sequence":"0","earthsearch:s3_path":"s3://sentinel-cogs/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A","earthsearch:payload_id":"roda-sentinel2/workflow-sentinel2-to-stac/7b97fa74f9b852ef9e803dc0b0e64094","earthsearch:boa_offset_applied":true,"processing:software":{"sentinel2-to-stac":"0.1.1"},"updated":"2025-02-04T11:41:43.118Z"},"geometry":{"type":"Polygon","coordinates":[[[16.72509965112743,35.23077346976864],[16.456496249866575,34.24427797582416],[17.27781802250205,34.23176656016562],[17.305134172724486,35.221114030024694],[16.72509965112743,35.23077346976864]]]},"links":[{"rel":"self","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a/items/S2B_33SXU_20250204_0_L2A"},{"rel":"canonical","href":"s3://sentinel-cogs/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/S2B_33SXU_20250204_0_L2A.json","type":"application/json"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice"},{"rel":"derived_from","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l1c/items/S2B_33SXU_20250204_0_L1C","type":"application/geo+json"},{"rel":"parent","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a"},{"rel":"collection","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"thumbnail","href":"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l2a/items/S2B_33SXU_20250204_0_L2A/thumbnail"}],"assets":{"aot":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/AOT.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Aerosol optical thickness
        (AOT)","proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.001,"offset":0}],"roles":["data","reflectance"]},"blue":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/B02.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Blue (band 2) - 10m","eo:bands":[{"name":"blue","common_name":"blue","description":"Blue
        (band 2)","center_wavelength":0.49,"full_width_half_max":0.098}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,600000,0,-10,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"coastal":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/B01.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Coastal aerosol (band
        1) - 60m","eo:bands":[{"name":"coastal","common_name":"coastal","description":"Coastal
        aerosol (band 1)","center_wavelength":0.443,"full_width_half_max":0.027}],"gsd":60,"proj:shape":[1830,1830],"proj:transform":[60,0,600000,0,-60,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":60,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"granule_metadata":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/granule_metadata.xml","type":"application/xml","roles":["metadata"]},"green":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/B03.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Green (band 3) - 10m","eo:bands":[{"name":"green","common_name":"green","description":"Green
        (band 3)","center_wavelength":0.56,"full_width_half_max":0.045}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,600000,0,-10,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/B08.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"NIR 1 (band 8) - 10m","eo:bands":[{"name":"nir","common_name":"nir","description":"NIR
        1 (band 8)","center_wavelength":0.842,"full_width_half_max":0.145}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,600000,0,-10,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir08":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/B8A.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"NIR 2 (band 8A) - 20m","eo:bands":[{"name":"nir08","common_name":"nir08","description":"NIR
        2 (band 8A)","center_wavelength":0.865,"full_width_half_max":0.033}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir09":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/B09.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"NIR 3 (band 9) - 60m","eo:bands":[{"name":"nir09","common_name":"nir09","description":"NIR
        3 (band 9)","center_wavelength":0.945,"full_width_half_max":0.026}],"gsd":60,"proj:shape":[1830,1830],"proj:transform":[60,0,600000,0,-60,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":60,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"red":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/B04.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Red (band 4) - 10m","eo:bands":[{"name":"red","common_name":"red","description":"Red
        (band 4)","center_wavelength":0.665,"full_width_half_max":0.038}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,600000,0,-10,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge1":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/B05.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Red edge 1 (band 5)
        - 20m","eo:bands":[{"name":"rededge1","common_name":"rededge","description":"Red
        edge 1 (band 5)","center_wavelength":0.704,"full_width_half_max":0.019}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge2":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/B06.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Red edge 2 (band 6)
        - 20m","eo:bands":[{"name":"rededge2","common_name":"rededge","description":"Red
        edge 2 (band 6)","center_wavelength":0.74,"full_width_half_max":0.018}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge3":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/B07.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Red edge 3 (band 7)
        - 20m","eo:bands":[{"name":"rededge3","common_name":"rededge","description":"Red
        edge 3 (band 7)","center_wavelength":0.783,"full_width_half_max":0.028}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"scl":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/SCL.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Scene classification
        map (SCL)","proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint8","spatial_resolution":20}],"roles":["data","reflectance"]},"swir16":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/B11.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"SWIR 1 (band 11) -
        20m","eo:bands":[{"name":"swir16","common_name":"swir16","description":"SWIR
        1 (band 11)","center_wavelength":1.61,"full_width_half_max":0.143}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"swir22":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/B12.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"SWIR 2 (band 12) -
        20m","eo:bands":[{"name":"swir22","common_name":"swir22","description":"SWIR
        2 (band 12)","center_wavelength":2.19,"full_width_half_max":0.242}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"thumbnail":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/thumbnail.jpg","type":"image/jpeg","title":"Thumbnail
        image","roles":["thumbnail"]},"tileinfo_metadata":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/tileinfo_metadata.json","type":"application/json","roles":["metadata"]},"visual":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/TCI.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"True color image","eo:bands":[{"name":"red","common_name":"red","description":"Red
        (band 4)","center_wavelength":0.665,"full_width_half_max":0.038},{"name":"green","common_name":"green","description":"Green
        (band 3)","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"blue","common_name":"blue","description":"Blue
        (band 2)","center_wavelength":0.49,"full_width_half_max":0.098}],"proj:shape":[10980,10980],"proj:transform":[10,0,600000,0,-10,3900000],"roles":["visual"]},"wvp":{"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/33/S/XU/2025/2/S2B_33SXU_20250204_0_L2A/WVP.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Water vapour (WVP)","proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"unit":"cm","scale":0.001,"offset":0}],"roles":["data","reflectance"]},"aot-jp2":{"href":"s3://sentinel-s2-l2a/tiles/33/S/XU/2025/2/4/0/AOT.jp2","type":"image/jp2","title":"Aerosol
        optical thickness (AOT)","proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.001,"offset":0}],"roles":["data","reflectance"]},"blue-jp2":{"href":"s3://sentinel-s2-l2a/tiles/33/S/XU/2025/2/4/0/B02.jp2","type":"image/jp2","title":"Blue
        (band 2) - 10m","eo:bands":[{"name":"blue","common_name":"blue","description":"Blue
        (band 2)","center_wavelength":0.49,"full_width_half_max":0.098}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,600000,0,-10,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"coastal-jp2":{"href":"s3://sentinel-s2-l2a/tiles/33/S/XU/2025/2/4/0/B01.jp2","type":"image/jp2","title":"Coastal
        aerosol (band 1) - 60m","eo:bands":[{"name":"coastal","common_name":"coastal","description":"Coastal
        aerosol (band 1)","center_wavelength":0.443,"full_width_half_max":0.027}],"gsd":60,"proj:shape":[1830,1830],"proj:transform":[60,0,600000,0,-60,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":60,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"green-jp2":{"href":"s3://sentinel-s2-l2a/tiles/33/S/XU/2025/2/4/0/B03.jp2","type":"image/jp2","title":"Green
        (band 3) - 10m","eo:bands":[{"name":"green","common_name":"green","description":"Green
        (band 3)","center_wavelength":0.56,"full_width_half_max":0.045}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,600000,0,-10,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir-jp2":{"href":"s3://sentinel-s2-l2a/tiles/33/S/XU/2025/2/4/0/B08.jp2","type":"image/jp2","title":"NIR
        1 (band 8) - 10m","eo:bands":[{"name":"nir","common_name":"nir","description":"NIR
        1 (band 8)","center_wavelength":0.842,"full_width_half_max":0.145}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,600000,0,-10,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir08-jp2":{"href":"s3://sentinel-s2-l2a/tiles/33/S/XU/2025/2/4/0/B8A.jp2","type":"image/jp2","title":"NIR
        2 (band 8A) - 20m","eo:bands":[{"name":"nir08","common_name":"nir08","description":"NIR
        2 (band 8A)","center_wavelength":0.865,"full_width_half_max":0.033}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"nir09-jp2":{"href":"s3://sentinel-s2-l2a/tiles/33/S/XU/2025/2/4/0/B09.jp2","type":"image/jp2","title":"NIR
        3 (band 9) - 60m","eo:bands":[{"name":"nir09","common_name":"nir09","description":"NIR
        3 (band 9)","center_wavelength":0.945,"full_width_half_max":0.026}],"gsd":60,"proj:shape":[1830,1830],"proj:transform":[60,0,600000,0,-60,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":60,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"red-jp2":{"href":"s3://sentinel-s2-l2a/tiles/33/S/XU/2025/2/4/0/B04.jp2","type":"image/jp2","title":"Red
        (band 4) - 10m","eo:bands":[{"name":"red","common_name":"red","description":"Red
        (band 4)","center_wavelength":0.665,"full_width_half_max":0.038}],"gsd":10,"proj:shape":[10980,10980],"proj:transform":[10,0,600000,0,-10,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":10,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge1-jp2":{"href":"s3://sentinel-s2-l2a/tiles/33/S/XU/2025/2/4/0/B05.jp2","type":"image/jp2","title":"Red
        edge 1 (band 5) - 20m","eo:bands":[{"name":"rededge1","common_name":"rededge","description":"Red
        edge 1 (band 5)","center_wavelength":0.704,"full_width_half_max":0.019}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge2-jp2":{"href":"s3://sentinel-s2-l2a/tiles/33/S/XU/2025/2/4/0/B06.jp2","type":"image/jp2","title":"Red
        edge 2 (band 6) - 20m","eo:bands":[{"name":"rededge2","common_name":"rededge","description":"Red
        edge 2 (band 6)","center_wavelength":0.74,"full_width_half_max":0.018}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"rededge3-jp2":{"href":"s3://sentinel-s2-l2a/tiles/33/S/XU/2025/2/4/0/B07.jp2","type":"image/jp2","title":"Red
        edge 3 (band 7) - 20m","eo:bands":[{"name":"rededge3","common_name":"rededge","description":"Red
        edge 3 (band 7)","center_wavelength":0.783,"full_width_half_max":0.028}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"scl-jp2":{"href":"s3://sentinel-s2-l2a/tiles/33/S/XU/2025/2/4/0/SCL.jp2","type":"image/jp2","title":"Scene
        classification map (SCL)","proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint8","spatial_resolution":20}],"roles":["data","reflectance"]},"swir16-jp2":{"href":"s3://sentinel-s2-l2a/tiles/33/S/XU/2025/2/4/0/B11.jp2","type":"image/jp2","title":"SWIR
        1 (band 11) - 20m","eo:bands":[{"name":"swir16","common_name":"swir16","description":"SWIR
        1 (band 11)","center_wavelength":1.61,"full_width_half_max":0.143}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"swir22-jp2":{"href":"s3://sentinel-s2-l2a/tiles/33/S/XU/2025/2/4/0/B12.jp2","type":"image/jp2","title":"SWIR
        2 (band 12) - 20m","eo:bands":[{"name":"swir22","common_name":"swir22","description":"SWIR
        2 (band 12)","center_wavelength":2.19,"full_width_half_max":0.242}],"gsd":20,"proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"scale":0.0001,"offset":-0.1}],"roles":["data","reflectance"]},"visual-jp2":{"href":"s3://sentinel-s2-l2a/tiles/33/S/XU/2025/2/4/0/TCI.jp2","type":"image/jp2","title":"True
        color image","eo:bands":[{"name":"red","common_name":"red","description":"Red
        (band 4)","center_wavelength":0.665,"full_width_half_max":0.038},{"name":"green","common_name":"green","description":"Green
        (band 3)","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"blue","common_name":"blue","description":"Blue
        (band 2)","center_wavelength":0.49,"full_width_half_max":0.098}],"proj:shape":[10980,10980],"proj:transform":[10,0,600000,0,-10,3900000],"roles":["visual"]},"wvp-jp2":{"href":"s3://sentinel-s2-l2a/tiles/33/S/XU/2025/2/4/0/WVP.jp2","type":"image/jp2","title":"Water
        vapour (WVP)","proj:shape":[5490,5490],"proj:transform":[20,0,600000,0,-20,3900000],"raster:bands":[{"nodata":0,"data_type":"uint16","bits_per_sample":15,"spatial_resolution":20,"unit":"cm","scale":0.001,"offset":0}],"roles":["data","reflectance"]}},"bbox":[16.456496249866575,34.23176656016562,17.305134172724486,35.23077346976864],"stac_extensions":["https://stac-extensions.github.io/projection/v1.1.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/mgrs/v1.0.0/schema.json","https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/processing/v1.1.0/schema.json","https://stac-extensions.github.io/raster/v1.1.0/schema.json","https://stac-extensions.github.io/grid/v1.0.0/schema.json"],"collection":"sentinel-2-l2a"},{"type":"Feature","stac_version":"1.0.0","id":"S2B_34SDE_20250204_0_L2A","properties":{"created":"2025-02-04T11:35:50.615Z","platform":"sentinel-2b","constellation":"sentinel-2","instruments":["msi"],"eo:cloud_cover":12.005442,"proj:epsg":32634,"mgrs:utm_zone":34,"mgrs:latitude_band":"S","mgrs:grid_square":"DE","grid:code":"MGRS-34SDE","view:sun_azimuth":158.826270530407,"view:sun_elevation":35.5792175396684,"s2:degraded_msi_data_percentage":0.0052,"s2:nodata_pixel_percentage":[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1
  response:
    body:
      string: '{"type":"Catalog","id":"Copernicus Data Space Ecosystem (CDSE) asset-level
        STAC catalogue","title":"cdse-stac","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        Asset Catalog) API, which follows the open STAC specification, enables users
        to access detailed asset-level metadata, including spatial information, temporal
        coverage, and data specifications. This standardized interface facilitates
        efficient data discovery and retrieval across the extensive collection of
        environmental and scientific resources. More information: https://documentation.dataspace.copernicus.eu/","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0-rc.1/collection-search#filter","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/collections/extensions/transaction","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0-rc.1/collection-search#query",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"Copernicus Data Space Ecosystem (CDSE) asset-level
        STAC catalogue","title":"cdse-stac","description":"A comprehensive and searchable
        catalog of Earth observation and scientific datasets that is actively maintained
        and updated by the Copernicus Data Space Ecosystem. The integrated STAC (SpatioTemporal
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dataspace.copernicus.eu/v1/collections
  response:
    body:
      string: "{\"collections\":[{\"id\":\"sentinel-1-grd\",\"type\":\"Collection\",\"links\":[{\"rel\":\"items\",\"type\":\"application/geo+json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-1-grd/items\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/\"},{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-1-grd\"},{\"rel\":\"license\",\"href\":\"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice\",\"type\":\"application/pdf\",\"title\":\"Legal
        notice on the use of Copernicus Sentinel Data and Service Information\"},{\"rel\":\"http://www.opengis.net/def/rel/ogc/1.0/queryables\",\"type\":\"application/schema+json\",\"title\":\"Queryables\",\"href\":\"https://stac.dataspace.copernicus.eu/v1/collections/sentinel-1-grd/queryables\"}],\"title\":\"Sentinel-1
        Ground Range Detected (GRD)\",\"assets\":{\"thumbnail\":{\"href\":\"https://s3.waw3-2.cloudferro.com/swift/v1/stac-png/S1_GRD.jpg\",\"type\":\"image/jpeg\",\"roles\":[\"thumbnail\"],\"title\":\"Sentinel-1
        Ground Range Detected (GRD)\",\"proj:code\":null,\"proj:shape\":[360,640]}},\"extent\":{\"spatial\":{\"bbox\":[[-180,-90,180,90]]},\"temporal\":{\"interval\":[[\"2014-10-04T03:12:47Z\",null]]}},\"license\":\"other\",\"keywords\":[\"Sentinel\",\"Copernicus\",\"ESA\",\"GRD\",\"SAR\",\"C-Band\"],\"providers\":[{\"url\":\"https://sentinel.esa.int/web/sentinel/missions/sentinel-1\",\"name\":\"ESA\",\"roles\":[\"producer\"]},{\"url\":\"https://commission.europa.eu/\",\"name\":\"European
        Commission\",\"roles\":[\"licensor\"]},{\"url\":\"https://cloudferro.com/\",\"name\":\"CloudFerro\",\"roles\":[\"host\",\"processor\"]}],\"summaries\":{\"platform\":[\"sentinel-1a\",\"sentinel-1b\",\"sentinel-1c\"],\"instruments\":[\"sar\"],\"product:type\":[\"IW_GRDH_1S-COG\",\"EW_GRDH_1S-COG\",\"S1_GRDH_1S-COG\",\"S2_GRDH_1S-COG\",\"S3_GRDH_1S-COG\",\"S4_GRDH_1S-COG\",\"S5_GRDH_1S-COG\",\"S6_GRDH_1S-COG\",\"EW_GRDM_1S-COG\"],\"constellation\":[\"sentinel-1\"],\"sat:orbit_state\":[\"ascending\",\"descending\"],\"processing:level\":[\"L1\"],\"sar:polarizations\":[\"VV\",\"VH\",\"HH\",\"HV\"],\"processing:version\":[\"003.52\",\"003.61\",\"003.71\",\"003.80\",\"1.0\"],\"product:timeliness\":[\"PT24H\"],\"sar:frequency_band\":[\"C\"],\"sar:instrument_mode\":[\"IW\",\"EW\",\"SM\"],\"sar:center_frequency\":[5.405],\"view:incidence_angle\":{\"maximum\":45,\"minimum\":20},\"sar:observation_direction\":[\"right\"],\"product:timeliness_category\":[\"Fast-24h\",\"NRT-10m\",\"NRT-3h\"],\"sat:platform_international_designator\":[\"2014-016A\",\"2016-025A\",\"2024-235\"]},\"description\":\"Level-1
        Ground Range Detected (GRD) products consist of focused SAR data that has
        been detected, multi-looked and projected to ground range using the Earth
        ellipsoid model WGS84. The ellipsoid projection of the GRD products is corrected
        using the terrain height specified in the product general annotation. The
        terrain height used varies in azimuth and it is constant in range (For IW/EW
        modes only the terrain height of first subswath is considered)\",\"item_assets\":{\"hh\":{\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"HH:
[...]
