interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search#sort","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","https://api.stacspec.org/v1.0.0/collections"],"links":[{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"data","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://planetarycomputer.microsoft.com/api/stac/v1/conformance"},{"rel":"search","type":"applicat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-2-l2a/items/S2B_MSIL2A_20200705T101559_R065_T32TMT_20200825T083452
  response:
    body:
      string: '{"id":"S2B_MSIL2A_20200705T101559_R065_T32TMT_20200825T083452","bbox":[7.760788654244106,46.85855466024772,9.130470361916801,47.85362771191058],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-2-l2a"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-2-l2a"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-2-l2a/items/S2B_MSIL2A_20200705T101559_R065_T32TMT_20200825T083452"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=sentinel-2-l2a&item=S2B_MSIL2A_20200705T101559_R065_T32TMT_20200825T083452","title":"Map
        of item","type":"text/html"}],"assets":{"AOT":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R10m/T32TMT_20200705T101559_AOT_10m.tif","proj:bbox":[399960.0,5190240.0,509760.0,5300040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,5300040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Aerosol
        optical thickness (AOT)"},"B01":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R60m/T32TMT_20200705T101559_B01_60m.tif","proj:bbox":[399960.0,5190240.0,509760.0,5300040.0],"proj:shape":[1830,1830],"proj:transform":[60.0,0.0,399960.0,0.0,-60.0,5300040.0],"gsd":60.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        1 - Coastal aerosol - 60m","eo:bands":[{"name":"B01","common_name":"coastal","description":"Band
        1 - Coastal aerosol","center_wavelength":0.443,"full_width_half_max":0.027}]},"B02":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R10m/T32TMT_20200705T101559_B02_10m.tif","proj:bbox":[399960.0,5190240.0,509760.0,5300040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,5300040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        2 - Blue - 10m","eo:bands":[{"name":"B02","common_name":"blue","description":"Band
        2 - Blue","center_wavelength":0.49,"full_width_half_max":0.098}]},"B03":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R10m/T32TMT_20200705T101559_B03_10m.tif","proj:bbox":[399960.0,5190240.0,509760.0,5300040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,5300040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        3 - Green - 10m","eo:bands":[{"name":"B03","common_name":"green","description":"Band
        3 - Green","center_wavelength":0.56,"full_width_half_max":0.045}]},"B04":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R10m/T32TMT_20200705T101559_B04_10m.tif","proj:bbox":[399960.0,5190240.0,509760.0,5300040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,5300040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        4 - Red - 10m","eo:bands":[{"name":"B04","common_name":"red","description":"Band
        4 - Red","center_wavelength":0.665,"full_width_half_max":0.038}]},"B05":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R20m/T32TMT_20200705T101559_B05_20m.tif","proj:bbox":[399960.0,5190240.0,509760.0,5300040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,5300040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        5 - Vegetation red edge 1 - 20m","eo:bands":[{"name":"B05","common_name":"rededge","description":"Band
        5 - Vegetation red edge 1","center_wavelength":0.704,"full_width_half_max":0.019}]},"B06":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R20m/T32TMT_20200705T101559_B06_20m.tif","proj:bbox":[399960.0,5190240.0,509760.0,5300040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,5300040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        6 - Vegetation red edge 2 - 20m","eo:bands":[{"name":"B06","common_name":"rededge","description":"Band
        6 - Vegetation red edge 2","center_wavelength":0.74,"full_width_half_max":0.018}]},"B07":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R20m/T32TMT_20200705T101559_B07_20m.tif","proj:bbox":[399960.0,5190240.0,509760.0,5300040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,5300040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        7 - Vegetation red edge 3 - 20m","eo:bands":[{"name":"B07","common_name":"rededge","description":"Band
        7 - Vegetation red edge 3","center_wavelength":0.783,"full_width_half_max":0.028}]},"B08":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R10m/T32TMT_20200705T101559_B08_10m.tif","proj:bbox":[399960.0,5190240.0,509760.0,5300040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,5300040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        8 - NIR - 10m","eo:bands":[{"name":"B08","common_name":"nir","description":"Band
        8 - NIR","center_wavelength":0.842,"full_width_half_max":0.145}]},"B09":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R60m/T32TMT_20200705T101559_B09_60m.tif","proj:bbox":[399960.0,5190240.0,509760.0,5300040.0],"proj:shape":[1830,1830],"proj:transform":[60.0,0.0,399960.0,0.0,-60.0,5300040.0],"gsd":60.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        9 - Water vapor - 60m","eo:bands":[{"name":"B09","description":"Band 9 - Water
        vapor","center_wavelength":0.945,"full_width_half_max":0.026}]},"B11":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R20m/T32TMT_20200705T101559_B11_20m.tif","proj:bbox":[399960.0,5190240.0,509760.0,5300040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,5300040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        11 - SWIR (1.6) - 20m","eo:bands":[{"name":"B11","common_name":"swir16","description":"Band
        11 - SWIR (1.6)","center_wavelength":1.61,"full_width_half_max":0.143}]},"B12":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R20m/T32TMT_20200705T101559_B12_20m.tif","proj:bbox":[399960.0,5190240.0,509760.0,5300040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,5300040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        12 - SWIR (2.2) - 20m","eo:bands":[{"name":"B12","common_name":"swir22","description":"Band
        12 - SWIR (2.2)","center_wavelength":2.19,"full_width_half_max":0.242}]},"B8A":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R20m/T32TMT_20200705T101559_B8A_20m.tif","proj:bbox":[399960.0,5190240.0,509760.0,5300040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,5300040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        8A - Vegetation red edge 4 - 20m","eo:bands":[{"name":"B8A","common_name":"rededge","description":"Band
        8A - Vegetation red edge 4","center_wavelength":0.865,"full_width_half_max":0.033}]},"SCL":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R20m/T32TMT_20200705T101559_SCL_20m.tif","proj:bbox":[399960.0,5190240.0,509760.0,5300040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,399960.0,0.0,-20.0,5300040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Scene
        classfication map (SCL)"},"WVP":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R10m/T32TMT_20200705T101559_WVP_10m.tif","proj:bbox":[399960.0,5190240.0,509760.0,5300040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,5300040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Water
        vapour (WVP)"},"visual":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R10m/T32TMT_20200705T101559_TCI_10m.tif","proj:bbox":[399960.0,5190240.0,509760.0,5300040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,399960.0,0.0,-10.0,5300040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"True
        color image","eo:bands":[{"name":"B04","common_name":"red","description":"Band
        4 - Red","center_wavelength":0.665,"full_width_half_max":0.038},{"name":"B03","common_name":"green","description":"Band
        3 - Green","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"B02","common_name":"blue","description":"Band
        2 - Blue","center_wavelength":0.49,"full_width_half_max":0.098}]},"preview":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/QI_DATA/T32TMT_20200705T101559_PVI.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["thumbnail"],"title":"Thumbnail"},"safe-manifest":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/manifest.safe","type":"application/xml","roles":["metadata"],"title":"SAFE
        manifest"},"granule-metadata":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/GRANULE/L2A_T32TMT_A017394_20200705T101917/MTD_TL.xml","type":"application/xml","roles":["metadata"],"title":"Granule
        metadata"},"inspire-metadata":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/INSPIRE.xml","type":"application/xml","roles":["metadata"],"title":"INSPIRE
        metadata"},"product-metadata":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/MTD_MSIL2A.xml","type":"application/xml","roles":["metadata"],"title":"Product
        metadata"},"datastrip-metadata":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/DATASTRIP/DS_ESRI_20200825T083454_S20200705T101917/MTD_DS.xml","type":"application/xml","roles":["metadata"],"title":"Datastrip
        metadata"},"tilejson":{"title":"TileJSON with default rendering","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/tilejson.json?collection=sentinel-2-l2a&item=S2B_MSIL2A_20200705T101559_R065_T32TMT_20200825T083452&assets=visual&asset_bidx=visual%7C1%2C2%2C3&nodata=0&format=png","type":"application/json","roles":["tiles"]},"rendered_preview":{"title":"Rendered
        preview","rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/preview.png?collection=sentinel-2-l2a&item=S2B_MSIL2A_20200705T101559_R065_T32TMT_20200825T083452&assets=visual&asset_bidx=visual%7C1%2C2%2C3&nodata=0&format=png","roles":["overview"],"type":"image/png"}},"geometry":{"type":"Polygon","coordinates":[[[7.76078865,46.85855466],[7.76182195,46.861447],[7.81485338,47.00784217],[7.86666402,47.15462283],[7.91885465,47.30134266],[7.97257961,47.447671],[8.02595985,47.59412901],[8.08072995,47.74015246],[8.1198647,47.84831655],[9.13047036,47.85362771],[9.12805716,46.86562825],[7.76078865,46.85855466]]]},"collection":"sentinel-2-l2a","properties":{"datetime":"2020-07-05T10:15:59.024000Z","platform":"Sentinel-2B","proj:epsg":32632,"instruments":["msi"],"s2:mgrs_tile":"32TMT","constellation":"Sentinel
        2","s2:granule_id":"S2B_OPER_MSI_L2A_TL_ESRI_20200825T083454_A017394_T32TMT_N02.12","eo:cloud_cover":9.336255,"s2:datatake_id":"GS2B_20200705T101559_017394_N02.12","s2:product_uri":"S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE","s2:datastrip_id":"S2B_OPER_MSI_L2A_DS_ESRI_20200825T083454_S20200705T101917_N02.12","s2:product_type":"S2MSI2A","sat:orbit_state":"descending","s2:datatake_type":"INS-NOBS","s2:generation_time":"2020-08-25T08:34:52.912Z","sat:relative_orbit":65,"s2:water_percentage":4.170933,"s2:mean_solar_zenith":27.7137933540773,"s2:mean_solar_azimuth":147.295339983614,"s2:processing_baseline":"02.12","s2:snow_ice_percentage":0.158964,"s2:vegetation_percentage":75.904739,"s2:thin_cirrus_percentage":0.006403,"s2:cloud_shadow_percentage":0.527607,"s2:nodata_pixel_percentage":18.124741,"s2:unclassified_percentage":1.510134,"s2:dark_features_percentage":0.45287,"s2:not_vegetated_percentage":7.938507,"s2:degraded_msi_data_percentage":0.0,"s2:high_proba_clouds_percentage":7.800486,"s2:reflectance_conversion_factor":0.967398932975655,"s2:medium_proba_clouds_percentage":1.529366,"s2:saturated_defective_pixel_percentage":0.0},"stac_extensions":["https://stac-extensions.github.io/eo/v1.0.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json"],"stac_version":"1.0.0"}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/sas/v1/token/sentinel2l2a01/sentinel2-l2
  response:
    body:
      string: '{"msft:expiry":"2025-08-26T06:42:18Z","token":"st=2025-08-25T05%3A57%3A18Z&se=2025-08-26T06%3A42%3A18Z&sp=rl&sv=2025-07-05&sr=c&skoid=9c8ff44a-6a2c-4dfb-b298-1c9212f64d9a&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-08-25T17%3A31%3A09Z&ske=2025-09-01T17%3A31%3A09Z&sks=b&skv=2025-07-05&sig=RdswASIu7PH7P5MdjipUcZ57fMXD%2BHX3huezV%2BEsfdk%3D"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/32/T/MT/2020/07/05/S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE/MTD_MSIL2A.xml?st=2025-08-25T05%3A57%3A18Z&se=2025-08-26T06%3A42%3A18Z&sp=rl&sv=2025-07-05&sr=c&skoid=9c8ff44a-6a2c-4dfb-b298-1c9212f64d9a&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-08-25T17%3A31%3A09Z&ske=2025-09-01T17%3A31%3A09Z&sks=b&skv=2025-07-05&sig=RdswASIu7PH7P5MdjipUcZ57fMXD%2BHX3huezV%2BEsfdk%3D
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<n1:Level-2A_User_Product xmlns:n1=\"https://psd-14.sentinel2.eo.esa.int/PSD/User_Product_Level-2A.xsd\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"https://psd-14.sentinel2.eo.esa.int/PSD/User_Product_Level-2A.xsd\">\n
        \ <n1:General_Info>\n    <Product_Info>\n      <PRODUCT_START_TIME>2020-07-05T10:15:59.024Z</PRODUCT_START_TIME>\n
        \     <PRODUCT_STOP_TIME>2020-07-05T10:15:59.024Z</PRODUCT_STOP_TIME>\n      <PRODUCT_URI>S2B_MSIL2A_20200705T101559_N0212_R065_T32TMT_20200825T083452.SAFE</PRODUCT_URI>\n
        \     <PROCESSING_LEVEL>Level-2A</PROCESSING_LEVEL>\n      <PRODUCT_TYPE>S2MSI2A</PRODUCT_TYPE>\n
        \     <PROCESSING_BASELINE>02.12</PROCESSING_BASELINE>\n      <GENERATION_TIME>2020-08-25T08:34:52.912Z</GENERATION_TIME>\n
        \     <PREVIEW_IMAGE_URL>Not applicable</PREVIEW_IMAGE_URL>\n      <PREVIEW_GEO_INFO>Not
        applicable</PREVIEW_GEO_INFO>\n      <Datatake datatakeIdentifier=\"GS2B_20200705T101559_017394_N02.12\">\n
        \       <SPACECRAFT_NAME>Sentinel-2B</SPACECRAFT_NAME>\n        <DATATAKE_TYPE>INS-NOBS</DATATAKE_TYPE>\n
        \       <DATATAKE_SENSING_START>2020-07-05T10:15:59.024Z</DATATAKE_SENSING_START>\n
        \       <SENSING_ORBIT_NUMBER>65</SENSING_ORBIT_NUMBER>\n        <SENSING_ORBIT_DIRECTION>DESCENDING</SENSING_ORBIT_DIRECTION>\n
        \     </Datatake>\n      <Query_Options completeSingleTile=\"true\">\n        <PRODUCT_FORMAT>SAFE_COMPACT</PRODUCT_FORMAT>\n
        \     </Query_Options>\n      <Product_Organisation>\n        <Granule_List>\n
        \         <Granule datastripIdentifier=\"S2B_OPER_MSI_L2A_DS_ESRI_20200825T083454_S20200705T101917_N02.12\"
        granuleIdentifier=\"S2B_OPER_MSI_L2A_TL_ESRI_20200825T083454_A017394_T32TMT_N02.12\"
        imageFormat=\"GeoTIFF\">\n            <IMAGE_FILE>GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R20m/T32TMT_20200705T101559_B02_20m</IMAGE_FILE>\n
        \           <IMAGE_FILE>GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R20m/T32TMT_20200705T101559_B03_20m</IMAGE_FILE>\n
        \           <IMAGE_FILE>GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R20m/T32TMT_20200705T101559_B04_20m</IMAGE_FILE>\n
        \           <IMAGE_FILE>GRANULE/L2A_T32TMT_A017394_20200705T101917/IMG_DATA/R20m/T32TMT_20200705T101559_B05_20m</IMAGE_[...]
